﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FilterMaster.aspx.cs" Inherits="FilterMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       Filter String <asp:TextBox ID="TxtStringData" TextMode="MultiLine" Height="200px" Width="900px" runat="server"></asp:TextBox>
        <br /><br />
        <asp:Button ID="Button1" runat="server" Text="Insert" onclick="Button1_Click" />
        <asp:Literal ID="LtrResult" runat="server"></asp:Literal>
    </div>
    </form>
</body>
</html>
