﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Logout.aspx.cs" Inherits="Logout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type = "text/javascript" >
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
</script>
       <script type="text/javascript">
           var count = 3;
           var redirect = "index.aspx";

           function countDown() {
               var timer = document.getElementById("timer");
               if (count > 0) {
                   count--;
                   timer.innerHTML = "Please Wait...you will redirect in " + count + " seconds.";
                   setTimeout("countDown()", 1000);
               } else {
                   window.location.href = redirect;
               }
           }
</script>
 
Logged Out Please Wait.........
<br>
 
<span id="timer">
<script type="text/javascript">countDown();</script>
</span>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
