﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="Site" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head  prefix="og: http://ogp.me/ns#" runat="server">
  
<meta charset="UTF-8">		

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel='stylesheet' href='css/style.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='css/style5152.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='css/icons5152.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='css/custom.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='css/jquery.datetimepicker.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='css/chosen.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>

		<link rel='stylesheet' href='css/style-selector.css' type='text/css' media='all'/>

		<link id="stylemaincolor" rel="stylesheet" href="css/colors/default.css">
    <link rel="icon" href="https://opencampus.in/images/favicon.ico"/>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>
		
		.btn-trans, .btn-white {
    font-size: 14px;
    width: 244px;
    display: block;
    text-align: center;
}
.btn-trans, .btn-trans:hover {
    border: 2px solid #fff!important;
}
.detail-box .pull-left a.font-s-14, h1, h2, h3, h4, h5 {
    font-family: 'Source Sans Pro',sans-serif!important;
	}
	
.cv{
color:white;
}
.btn-yellow {
    background-color: #ffffff;
    border-bottom: 3px solid #c3ea33;
    color: #2c2c2c;
    border-radius: 3px;
    padding: 5px 15px;
}
		</style>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
    </asp:ToolkitScriptManager>
    <div class="site">
			<header class="noo-header" id="noo-header">
				<div>
					<div class="navbar navbar-default fixed-top shrinkable">
						<div class="container-boxed max">
							<div class="navbar-header">
								
								<a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".noo-navbar-collapse">
									<span class="sr-only">Navigation</span>
									<i class="fa fa-bars"></i>
								</a>
								
								<a href="https://www.opencampus.in" class="navbar-brand">
		<img class="noo-logo-img noo-logo-normal" src="images/logo-opencampus.png" alt="open campus india" title="open campus india">

<img class="noo-logo-mobile-img noo-logo-normal" src="images/logo-opencampus.png" alt="freshers jobs" title="freshers jobs">
								</a>
							</div>  
							
							<nav class="collapse navbar-collapse noo-navbar-collapse">
								<ul class="navbar-nav sf-menu">
									<li class="current-menu-item align-left">
										<a href="https://www.opencampus.in">Home</a></li>
										<li class="current-menu-item align-left">
										<a href="aboutus.aspx">About Us</a></li>	
                                    <li class="current-menu-item align-left">
										<a href="contactus.aspx">ContactUs</a></li>							
									<li class="menu-item-post-btn">
										<a href="campus/registration-college.aspx"><i class="fa fa-university"></i> Campus</a>
									</li>
									<li class="menu-item-post-btn">
										<a href="employee-login.aspx"><i class="fa fa-user"></i>Employer</a>
									</li>
									<li class="nav-item-member-profile register-link">
										<a class="member-links member-login-link" data-rel="loginModal">
											<i class="fa fa-sign-in"></i>&nbsp;Login
										</a>
										<%--<ul class="sub-menu login-socical">
											<li class="button_socical fb">
												<i class="fa fa-facebook-square"></i>
												<em class="fa-facebook-square">Login with Facebook</em>
											</li>
											<li class="button_socical gg">
												<i class="fa fa-google-plus"></i>
												<em class="fa-google-plus">Login with Google</em>
											</li>
											<li class="button_socical linkedin">
												<i class="fa fa-linkedin-square"></i>
												<em class="fa-linkedin-square">Login with LinkedIn</em>
											</li>
										</ul>--%>
									</li>
									<li class="nav-item-member-profile register-link">
										<a class="member-links member-register-link" data-rel="registerModal">
											<i class="fa fa-key"></i>&nbsp;Register
										</a>
									</li>
								</ul>
							</nav>  
						</div>  
					</div>  
				</div>		    
			</header>
        <asp:ContentPlaceHolder id="cph" runat="server">
        
        </asp:ContentPlaceHolder>
   <div class="colophon wigetized">
				<div class="container-boxed max">
					<div class="row">
                        <div class="col-sm-4">
							<div class="widget widget_text">
								<h4 class="widget-title">Open Campus</h4>
								<div class="textwidget">
									<ul class="">
              <li class="item"><a href="index.aspx">Home</a></li>
              <li class="item"><a href="aboutus.aspx">About Us</a></li>
              
                <li class="item"><a href="privacy-policy.aspx">Privacy Policy</a></li>             
              
                <li class="item"><a href="terms-condition.aspx">Terms & Condition</a></li>
                <li class="item"><a href="security-center.aspx">Security Center</a></li>
               
            </ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="widget widget_text">
								<h4 class="widget-title">Work With Us</h4>
								<div class="textwidget">
									<ul class="">
              <%--<li class="item"><a href="#">Job Board</a></li>--%>
              <li class="item"><a href="advertise-with-us.aspx">Advertisers</a></li>              
               <%-- <li class="item"><a href="#">Developers</a></li>             
                <li class="item"><a href="#">Careers</a></li>   --%>
                <li class="item"><a target="_blank" href="http://mail.opencampus.in">Mail Login</a></li>
              <li class="item"><a href="contactus.aspx">Contact Us</a></li>
                 
            </ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="widget mailchimp-widget">
								<h4 class="widget-title">Contact Us</h4>
								<ul class="">
              <li class="item"><a class="phone_number" href="#">Open Campus</a></li><li>
              
                </li><li class="item"><a class="chat chatTrigger" href="javascript:void(0);" title="Chat window appears at bottom of screen.">Vidisha, Madhya Pradesh, IN</a></li>
              
              <li class="item note">Email: info@opencampus.in</li>
           
            </ul>
			
							</div><br />
									<div class="col-md-12">
					<ul class="social-network social-circle">
                       
                        <li><a href="https://www.facebook.com/opencampus.in" class="icoFacebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/opencampusdot" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/+opencampus1" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/opencampus.in" class="icoLinkedin" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					</div>
							
						</div>
						
					</div>  
				</div>  
			</div>  
			<footer class="colophon site-info">
				<div class="container-full">
					<div class="footer-more">
						<div class="container-boxed">
							<div class="row">
								<div class="col-md-12">
									<div class="noo-bottom-bar-content">
										Copyright © 2017 <span style="color:white;" >OpenCampus.in</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>  
			</footer>  
		</div>  
    </form>
    <a href="#" class="go-to-top hidden-print"><i class="fa fa-angle-up"></i></a>
    <%--<noscript id="deferred-styles">
     
    </noscript>--%>
		<script type='text/javascript' src='js/jquery.js'></script>
		<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
		<script type='text/javascript' src='js/modernizr-2.7.1.min.js'></script>
		<script type='text/javascript' src='js/jquery.cookie.js'></script>
		<script type='text/javascript' src='js/jquery.blockUI.min.js'></script>
		<script type='text/javascript' src='js/imagesloaded.pkgd.min.js'></script>
		<script type='text/javascript' src='js/isotope-2.0.0.min.js'></script>
		<script type='text/javascript' src='js/jquery.touchSwipe.min.js'></script>
		<script type='text/javascript' src='js/bootstrap.min.js'></script>
		<script type='text/javascript' src='js/hoverIntent-r7.min.js'></script>
		<script type='text/javascript' src='js/superfish-1.7.4.min.js'></script>
		<script type='text/javascript' src='js/script.js'></script>
		<script type='text/javascript' src='js/chosen.jquery.min.js'></script>
		<script type='text/javascript' src='js/jquery.datetimepicker.js'></script>
		<script type='text/javascript' src='js/jquery.parallax-1.1.3.js'></script>
		
		<script type='text/javascript' src='js/custom.js'></script>
        
		<%--<script type='text/javascript' src='js/style.selector.js'></script>--%>
		
		

		<div class="memberModalLogin modal fade" id="userloginModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-member">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Login</h4>
					</div>
					<div class="modal-body">
						<%--<div class="form-group row login-socical">
							<div class="col-sm-9 col-sm-offset-3">
								<div class="button_socical fb">
									<i class="fa fa-facebook-square"></i>
									<em class="fa-facebook-square">Login with Facebook</em>
								</div>
								<div class="button_socical gg">
									<i class="fa fa-google-plus"></i>
									<em class="fa-google-plus">Login with Google</em>
								</div>
								<div class="button_socical linkedin">
									<i class="fa fa-linkedin-square"></i>
									<em class="fa-linkedin-square">Login with LinkedIn</em>
								</div>
							</div>
						</div>--%>
						<div class="noo-ajax-login-form form-horizontal">
							<div class="form-group row">
								<label class="col-sm-3 control-label">Username</label>
								<div class="col-sm-9">
									<input type="text" name="loginemail" class="log form-control" name="log" required placeholder="Username">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 control-label">Password</label>
								<div class="col-sm-9">
									<input type="password" name="loginpassword" class="pwd form-control" required value="" name="pwd" placeholder="Password">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-9 col-sm-offset-3">
									<div class="checkbox">
										<div class="form-control-flat">
											<label class="checkbox">
												<input type="checkbox" class="rememberme" name="rememberme" value="forever">
												<i></i> Remember Me
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions form-group text-center">
								<button id="btnLogin" type="submit" class="btn btn-primary">Sign In</button>
								<div class="login-form-links">
									<span><a href="campus/Login.aspx?action=forgotpassword"><i class="fa fa-question-circle"></i> Forgot Password?</a></span>
									<span>
										Don't have an account yet? 
										<a href="#" class="member-register-link" data-rel="registerModal">
											Register Now <i class="fa fa-long-arrow-right"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="memberModalRegister modal fade" id="userregisterModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-member">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Sign Up</h4>
					</div>
					<div id="candidate-registration-form" class="modal-body">
						<div class="noo-ajax-register-form form-horizontal">
							
							<div class="form-group row">
								<label class="col-sm-3 control-label">Email</label>
								<div class="col-sm-9">
									<input type="text" id="txtemailregistration" class="user_email form-control" name="user_email" required placeholder="Email">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 control-label">Password</label>
								<div class="col-sm-9">
									<input type="password" id="txtpasswordregistration" class="user_password form-control" required value="" name="user_password" placeholder="Password">
                                    <span id="passwordstrengthresult"></span>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 control-label">Retype your password</label>
								<div class="col-sm-9">
									<input type="password" id="txtconfirmpasswordregistration" class="cuser_password form-control" required value="" name="cuser_password" placeholder="Repeat password">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 control-label">You are</label>
								<div class="col-sm-9">
									<div class="form-control-flat">
										<select class="user_role" name="user_role" required>
                                            <option value="1">I&#039;m a candidate looking for a job</option>
											<option value="2">I&#039;m an employer looking to hire</option>
											
										</select>
										<i class="fa fa-caret-down"></i>
									</div>
								</div>
							</div>
							<div class="form-group text-center">
								<div class="checkbox account-reg-term">
									<div class="form-control-flat">
										<label class="checkbox">
											<input class="account_reg_term" type="checkbox" title="Please agree with the term" required>
											<i></i>
											I agree with the <a href="#">Terms of use</a>
										</label>
									</div>
								</div>
								<button id="BtnRegisterCandidate" type="button" class="btn btn-primary" onclick="RegisterCandidate();">Sign Up</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>         
            <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="api/service.js" type="text/javascript"></script>
    <script src="js/jquery.cookie.js" type="text/javascript"></script>
    <script src="myJS/EducationDetail.js" type="text/javascript"></script>
</body>
    <script src="js/cbpFWTabs.js"></script>
<script>
    (function () {
        [].slice.call(document.querySelectorAll('.tabs')).forEach(function (el) {
            new CBPFWTabs(el);
        });
    })();
</script>
 
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-78616814-3', 'auto');
        ga('send', 'pageview');

</script>
<%--<script>
    var loadDeferredStyles = function () {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
    </script>--%>
</html>
