﻿<%@ Page Title="Terms Condition | Opencampus" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="terms-condition.aspx.cs" Inherits="Terms_Conditions" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cph" Runat="Server">
    <div class="noo-page-heading">
				<div class="container-boxed max text-center parallax-content">
					<div class="member-heading-avatar">
						
					</div>
					<div class="page-heading-info ">
						<h1 class="page-title">Terms & Condition</h1>
					</div>
					<div class="page-sub-heading-info">
						We’re <span style="color:
					#80bb03;font-size:19px;">Helping People </span>Find Great Jobs,
and <span style="color:
					#80bb03;font-size:19px;">Helping Employers</span> Build Great Companies
					</div>
				</div> 
				<div class="parallax heading" data-parallax="1" data-parallax_no_mobile="1" data-velocity="0.1"></div>
			</div>
			<div class="member-heading">
				<div class="container-boxed max">
					<div class="member-heading-nav">
						<ul>
							<li><a href="advertise-with-us.aspx"><i class="fa fa-file-text-o"></i> Advertise With Us</a></li>
					<li><a href="aboutus.aspx"><i class="fa fa-newspaper-o"></i> About Us</a></li>
							<%--<li><a href="employer-manage-job.html"><i class="fa fa-file-text-o"></i> Hire Us</a></li>--%>
							<li><a href="contactus.aspx"><i class="fa fa-users"></i> Contact Us</a></li>
							<li><a href="privacy-policy.aspx"><i class="fa fa-sign-out"></i> Privacy Policy</a></li>
							<li class="active"><a href="terms-condition.aspx"><i class="fa fa-users"></i> Terms Condition</a></li>
							<li><a href="security-center.aspx"><i class="fa fa-sign-out"></i> Security Center</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container-wrap">
				<div class="main-content container-boxed max">
					<div class="row">
						<div class="noo-main col-md-12" style="margin-bottom:250px;">
							<div class="member-manage">
								<h3>Terms and Conditions </h3>
<p class="para"> Understanding your rights and responsibilities as a opencampus.in user</p>
<h5>Privacy Reminder</h5>

<p class="para">Protect your personal information by never providing credit card, bank account numbers or any other personal information open to misuse, to prospective employers. Learn more</p>


<h5>Terms of Use</h5>

<p class="para">This page states the "Terms of Use" under which you (“You”) may use opencampus.inindia.com, an on-line service to post and search employment opportunities and user resumes ("opencampus.inindia.com" or "Web Site"). </p>

<p class="para">These Terms of Use include the opencampus.in Privacy Statement which is incorporated into these Terms of Use by reference. By using opencampus.inindia.com, You are indicating your acceptance to be bound by these Terms of Use, including the opencampus.in Privacy Statement.</p>

<p class="para">Please read this page carefully. If ‘You’ do not accept the Terms of Use stated herein, do not use the Web Site and its services. By using opencampus.inindia.com, You are indicating your acceptance to be bound by the provisions of these Terms of Use. opencampus.in.com India Private Limited ("opencampus.in" or the "Company") may revise these Terms of Use at any time by updating this posting. You should visit this page periodically to review the Terms of Use, because they are binding on’ You’. The terms "You" and "User" as used herein refer to all individuals and/or entities accessing this web site for any reason.</p>

<p class="para">opencampus.in may revise these Terms at any time by posting an updated version to this Web page. You should visit this page periodically to review the most current Terms because they are binding on ‘You’.</p>


<p class="para">Users who violate these Terms may have their access and use of the opencampus.in Sites suspended or terminated, at opencampus.in’s discretion.</p>


<h5>1. Eligibility </h5>

<p class="para">You must be 18 years of age or older to visit or use opencampus.inindia.com in any manner. By visiting opencampus.inindia.com or accepting these Terms of Use, You represent and warrant to the Company that You are 18 years of age or older, and that You have the right, authority and capacity to use the Web Site and agree to and abide by these Terms of Use. You also represent and warrant to the Company that You will use opencampus.inindia.com in a manner consistent with any and all applicable laws and regulations.</p>


<h5>2. Use of opencampus.in Content </h5>

<p class="para">opencampus.in authorizes You, subject to these Terms, to view and a single copy of the content available on or from opencampus.inindia.com and to access and use the opencampus.in Sites and the opencampus.in Content (as defined below) and to download and print a single copy of the content available on or from the opencampus.in Sites solely for Your personal, non-commercial use. The contents of opencampus.inindia.com, and of all other websites under the Company's control, whether partial or otherwise (opencampus.inindia.com and such other websites are sometimes collectively referred to as the “opencampus.in Sites”), such as designs, text, graphics, images, video, information, logos, button icons, software, audio files and other opencampus.in content (collectively, "opencampus.in Content"), are protected under both India and foreign copyright, trademark and other laws. All opencampus.in Content is the property of opencampus.in or its licensors. The compilation (meaning the collection, arrangement and assembly) of all content on the opencampus.in Sites is the exclusive property of opencampus.in and is protected by Indian and international copyright, trademark, and other laws. Unauthorized use of the opencampus.in Content may violate these laws and/or applicable communications regulations and statutes, and is strictly prohibited. You must preserve all copyright, trademarks, service mark and other proprietary notices contained in the original opencampus.in Content on any authorized copy You make of the opencampus.in Content. You may not sell or modify the opencampus.in Content or reproduce, display, publicly perform, distribute, or otherwise use the opencampus.in Content in any way for any public or commercial purpose, in connection with products or services that are not those of opencampus.in, in any other manner that is likely to cause confusion among consumers or that otherwise infringes opencampus.in's intellectual property rights.</p>

<p class="para">Any code that opencampus.in creates to generate or display any opencampus.in Content or the pages making up any opencampus.in Site is also protected by opencampus.in's copyright and You may not copy or adapt such code.</p>

<p class="para">You may not use any of the opencampus.in Content on any other Web site or in a networked computer environment (including, without limitation, by uploading or republishing opencampus.in Content on any Internet, Intranet or Extranet site or incorporating the opencampus.in Content in any other database or compilation for any purpose). You shall not copy or adapt the HTML code that the Company creates to generate any opencampus.in Content or the pages making up any opencampus.in Site which is also protected by the Company's copyright. Unless explicitly stated herein, nothing in these Terms shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time without notice and with or without cause.</p>


<h5>3. opencampus.in Site Restrictions </h5>

<p class="para">Users shall not use any opencampus.in Site in order to host, display, upload, modify, publish, transmit, update, distribute, share, store or destroy material, including without limitation opencampus.in Content,</p>

  <p class="para">  in violation of any applicable law or regulation,</p>
  <p class="para">  in a manner that will infringe the copyright, trademark, trade secret or other intellectual property or proprietary rights of others or violate the privacy, publicity or other personal rights of others,</p>
  <p class="para">  that belongs to another person and to which the user does not have any right to,</p>
 <p class="para">   that is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous, invasive of another’s privacy, threatening, abusive or hateful or racially, ethnically objectionable, disparaging, relating encouraging money laundering or gambling or otherwise unlawful in any manner whatsoever,</p>
 <p class="para">   harm minors in any way,
 <p class="para">   deceives or misleads the addressee about the origin of such message or communicates any information which is grossly offensive or menacing in nature,</p>
 <p class="para">   impersonate another person or entity,</p>
  <p class="para">  contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of opencampus.in’s computer systems or site or opencampus.in’s users, customer’s computer systems or site,</p>
  <p class="para">  Threatens the unity, integrity, defense, security or sovereignty of India, friendly relations with foreign states or of public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or insulting any other nation.</p>

<p class="para">Users are also prohibited from violating or attempting to violate the security of any opencampus.in Site, including, without limitation the following activities:</p>

  <p class="para">  accessing data not intended for such user or logging into a server or account which the user is not authorized to access;</p>
<p class="para">    attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization;</p>
  <p class="para">  attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus to any opencampus.in Site, overloading, "flooding", "spamming", "mail bombing" or "crashing"; or</p>
 <p class="para">   Forging any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting. Violations of system or network security may result in civil or criminal liability. The Company will investigate occurrences which may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.</p>

<h5>4. Registration Information</h5>

<p class="para">When You register with any opencampus.in Site, You will be asked to provide the Company with certain information including, without limitation, a valid email address (your "Information"). In addition to the Terms of Use and any privacy policy applicable to any opencampus.in Web Site, You understand and agree that the Company may disclose to third parties, on an anonymous basis, certain aggregate information contained in your registration application. The Company will not disclose to any third party your name, address, e-mail address or telephone number without your prior consent, except to the extent necessary or appropriate to comply with applicable laws or in legal proceedings where such information is relevant. </p>

<p class="para">The Company reserves the right to offer third party services and products to You based on the preferences that You identify in your registration and at any time thereafter; such offers may be made by the Company or by third parties. Please see the Company's Privacy Statement for further details regarding your Information.</p>

<p class="para">Without limiting any of the other disclaimers of warranty set forth in these Terms of Use, opencampus.in does not provide or make any representation as to the quality or nature of any of the third party products or services purchased through the opencampus.inindia.com or any other opencampus.in Site, or any other representation, warranty or guaranty. Any such undertaking, representation, warranty or guaranty would be furnished solely by the provider of the applicable class, or learning material, product or service, under the terms agreed to by the provider. </p>


<h5>5. Use of the opencampus.in Services </h5>

<p class="para">The job posting, resume database (“opencampus.in Resume Database”) and other features of the opencampus.in Sites may be used only by individuals seeking employment and/or career information and by employers seeking employees. In addition, the opencampus.in Communities may be used by individuals for permitted professional and personal networking purposes. Your use of the opencampus.in Services is also subject to any other contracts You may have with opencampus.in. In the case of any conflict between these Terms and any contract you have with opencampus.in, the terms of your contract will prevail. The term “post” as used herein shall mean information that You submit, publish or display on a opencampus.in Site. </p>

<h5>6. Specific Prohibited uses </h5>

<p class="para">The job posting and resume database features of opencampus.inindia.com may be used only for lawful purposes by individuals seeking employment and career information and employers seeking employees. 
The Company specifically prohibits any other use of opencampus.inindia.com, and all Users agree not to do any of the following:  </p>

  <p class="para">  Transmit, post, distribute, store or destroy material, including without limitation opencampus.in Content, in violation of any applicable law or regulation, including but not limited to laws or regulations governing the collection, processing, or transfer of personal information, or in breach of opencampus.in’s privacy policy;</p>
   <p class="para"> Post any resume or apply for any job on behalf of another party;</p>
   <p class="para"> Defer any contact from an employer to any agent, agency, or other third party;</p>
   <p class="para"> Set more than one copy of the same resume to public at any one time;</p>
   <p class="para"> Solicit passwords or personally identifiable information from other Users;</p>
   <p class="para"> Post any jobs on any opencampus.in Site for any competitor of opencampus.in or posting jobs or other content that contains links to any site competitive with opencampus.in;</p>
  <p class="para">  Post jobs or content on any opencampus.in Site that contain any hyperlinks, email addresses, HTML Tags, "hidden" keywords or any keywords that are irrelevant to the job or are otherwise misleading contained in a job posting are prohibited;</p>
  <p class="para">  Post jobs for modeling or talent or talent scouting positions on any opencampus.in Site;</p>
  <p class="para">  Use any opencampus.in Site Resume Database for any purpose other than as an employer seeking employees, including but not limited to using the information in the Resume Database to sell or promote any products or services;</p>
  <p class="para">  Post or submit to any opencampus.in Site any incomplete, false or inaccurate biographical information or information which is not your own;</p>
 <p class="para">   Post on any opencampus.in Site any franchise, pyramid scheme, "club membership", distributorship or sales representative agency arrangement or other business opportunity which requires an upfront or periodic payment, pays commissions only (except for postings that make clear that the available job pays commission only and clearly describes the product or service that the job <p class="para">seeker would be selling, in which case such postings are permissible), requires recruitment of other members, sub-distributors or sub-agents;</p>
  <p class="para">  Send unsolicited mail or e-mail, making unsolicited phone calls or send unsolicited faxes regarding promotions and/or advertising of products or services to a user of any opencampus.in Site;</p>
  <p class="para">  Delete or revise any material posted by any other person or entity;</p>
  <p class="para">  Take any action that imposes an unreasonable or disproportionately large load on any opencampus.in Site's infrastructure;</p>
 <p class="para">   Use any data mining, robots or similar data gathering or extraction methods. Notwithstanding anything to the contrary contained herein, use or attempt to use any engine, software, tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search any opencampus.in Site other than the search engine and search agents available from the Company on such opencampus.in Site.</p>
  <p class="para">  Attempt to decipher, decompile, disassemble or reverse engineer any of the software comprising or in any way making up a part of any opencampus.in Site;</p>
  <p class="para">  Aggregate, copy or duplicate in any manner any of the opencampus.in Content or information available from any opencampus.in Site including expired job postings, other than as permitted by these Terms; or</p>
 <p class="para">   Frame or link to any of opencampus.in Content or information available from any opencampus.in Site.</p>
  <p class="para">  Use the opencampus.in Services for any unlawful purpose or any illegal activity, or post or submit any content, resume, or job posting that is defamatory, libelous, implicitly or explicitly offensive, vulgar, obscene, threatening, abusive, hateful, racist, discriminatory, of a menacing character or likely to cause annoyance, inconvenience, embarrassment, anxiety or could cause harassment to any person or include any links to pornographic, indecent or sexually explicit material of any kind, as determined by opencampus.in’s discretion.</p>

<p class="para">The Company also specifically prohibits any use / insertion of any of the User’s URL, web link, e mail address and website while posting any job on opencampus.inindia.com and all Users agree not to use / insert any of the User’s URL, web link, e mail address and website while posting any job on opencampus.inindia.com. </p>

<p class="para">On nonconformance by users of any of the aforesaid terms as envisaged in section 3 and 6 above, opencampus.in may in its sole discretion, restrict or terminate the offending User's ability to access the opencampus.in Site(s) and determine whether to take any other actions or to remove or request the removal of the User Content. opencampus.in has no liability or responsibility to Users for performance or nonperformance of such activities. Additionally, opencampus.in has the right to initiate appropriate proceedings against the offending user as per law.</p>

<h5>7. User Content and Submissions</h5>

<p class="para">You are solely responsible for your My opencampus.in Account information, content, messages or other information ("User Content") that You submit, publish or display (hereinafter, "post") on any opencampus.in Site or transmit to other Users. By posting User Content to any opencampus.in Site, You automatically grant, and You represent and warrant that You have the right to grant, to opencampus.in an irrevocable, perpetual, non-exclusive, fully paid, worldwide license to use, copy, perform, display, and distribute such User Content and to prepare derivative works of, or incorporate into other works, such User Content, and to grant and authorize sublicenses thereof.</p>

<p class="para">By posting User Content to any public or non-public area of any opencampus.in Site, including message boards, forums, contests and chat rooms, You grant the Company and its parent company and affiliates the loyalty-free, perpetual, irrevocable, sublicense able (through multiple tiers), non-exclusive right (including any moral rights) and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, communicate to the public, perform and display the User Content (in whole or in part) worldwide and/or to incorporate it in other works in any form, media, or technology now known or later developed, for the full term of any rights that may exist in such content. You also warrant that the holder of any rights, including moral rights in such content, has completely and effectively waived all such rights and validly and irrevocably granted to You the right to grant the license stated above. You also permit any User to access, display, view, store and reproduce such User Content for personal use. Subject to the foregoing, the owner of such User Content placed any opencampus.in Site retains any and all rights that may exist in such User Content.</p>

<p class="para">You agree that any email send by an employer to a jobseeker for any prospective job opportunity through opencampus.in website may be stored at the opencampus.in account of the said jobseeker for at least a period of 7 days, to enable the said jobseeker to access the email, as send by the employer, to take a conscious decision about the job offer in the said email.</p>

<p class="para">The Company acts as a passive conduit for the online distribution and publication of User Content and has no obligation to screen communications or information in advance and is not responsible for screening or monitoring User Content posted by Users. However, the Company may review and delete any User Content that, in the sole judgment of opencampus.in, violates these Terms of Use, violates applicable law, rule or regulation, is offensive or illegal or violates the rights of, harms or threatens the safety of Users of any opencampus.in Site. The Company reserves the right to expel Users and prevent their further access to the opencampus.in Sites for violating the Terms of Use or applicable law, rule or regulation and the right to remove User Content which is in violation of the Terms of Use, abusive, illegal, or disruptive. The Company reserves the right to archive the user content folders which were not being accessed for a period of 6 months or more by the relevant users after its last access. In such event users will be able to access the archive folders with minor limitations including but not limited to non-availability of the options of move to another folder, renew jobs associated with the said folders. The Company may take any action with respect to User Content that it deems necessary or appropriate in its sole discretion if it believes it may create liability for the Company or may cause the Company to lose (in whole or in part) the services of its ISPs or other suppliers.</p>

<p class="para">The following is a partial list of User Content that is prohibited on the opencampus.in Sites. The list below is for illustration only and is not a complete list of all prohibited User Content:</p>

 <p class="para">   is implicitly or explicitly offensive, such as User Content that engages in, endorses or promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;</p>
 <p class="para">   harasses, incites harassment or advocates harassment of another any group or individual;</p>
 <p class="para">   involves the transmission of "junk mail", "chain letters," or unsolicited mass mailing or "spamming";</p>
 <p class="para">   promotes or endorses false or misleading information or illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;</p>
  <p class="para">  promotes or endorses an illegal or unauthorized copy of another person's copyrighted work, such as providing or making available pirated computer programs or links to them, providing or making available information to circumvent manufacture-installed copy-p</p><p class="para">rotect devices, or providing or making available pirated music or other media or links to pirated music or other media files;</p>
 <p class="para">   contains restricted or password only access pages, or hidden pages or images;</p>
 <p class="para">   displays or links to pornographic, indecent or sexually explicit material of any kind;</p>
  <p class="para">  provides or links to material that exploits people under the age of 18 in a sexual, violent or other manner, or solicits personal information from anyone under 18; or</p>
  <p class="para">  provides instructional information about illegal activities or other activities prohibited by these Terms, including without limitation, making or buying illegal weapons, violating someone's privacy, or provides or creates computer viruses or pirating any media; and solicits passwords or personal identifying information from other Users;</p>

<p class="para">opencampus.in reserves the right in its sole discretion to investigate and take legal action against anyone who engages in any illegal or prohibited conduct or otherwise violates these Terms of Use, including without limitation, removing the User Content from the opencampus.in Sites and/or terminating the offending User's ability to access the opencampus.in Sites and/or use opencampus.in services. The Company may take any other action with respect to User Content or User actions that it deems necessary or appropriate in its sole discretion if it believes it may create liability for the Company or may cause the Company to lose (in whole or in part) the services of its ISPs or other suppliers. </p>

<p class="para">The Company does not represent or guarantee the truthfulness, accuracy, or reliability of User Content or any other communications posted by Users or endorse any opinions expressed by Users. You acknowledge that any reliance on material posted by other Users will be at your own risk.</p>

<p class="para">The Company has no obligation to screen User Content in advance and is not responsible for screening or monitoring User Content posted by Users. If notified by a User of communications which allegedly do not conform to these Terms of Use, the Company may in its sole discretion investigate the allegation and determine whether to take any other actions whether to remove or request the removal of the User Content. The Company has no liability or responsibility to Users for performance or of such activities.</p>

<p class="para">We appreciate hearing from our Users and welcome your comments regarding our services and the opencampus.in Sites. Please be advised, however, that our policy does not permit us to accept or consider creative ideas, suggestions, inventions or materials other than those which we have specifically requested. While we do value your feedback on our services, please be specific in your comments regarding our services and do not submit creative ideas, inventions, suggestions, or materials. If, despite our request, You send us creative suggestions, ideas, drawings, concepts, inventions, or other information (collectively the "Submission"), the Submission shall be the property of the Company. None of the Submission shall be subject to any obligation of confidentiality on our part and we shall not be liable for any use or disclosure of any Submission. The Company shall own exclusively all now known or later discovered rights to the Submission and shall be entitled to unrestricted use of the Submission for any purpose whatsoever, commercial or otherwise, without compensation to You or any other person who submitted the Submission. </p>

<h5>8. Registration and Password </h5>

<p class="para">You are responsible for maintaining the confidentiality of your account access information and passwords. You shall be responsible for all uses of your Web Site registrations and passwords, whether or not authorized by You. You are not authorized to share your password or other account access information with any other party, temporarily or permanently, and breach of this obligation may tantamount to disabling the opencampus.in account and opencampus.in Services. You agree to immediately notify the Company of any unauthorized use of your Account, and passwords. </p>

<h5>9. Additional Terms Applicable to Employers </h5>

<p class="para">You are responsible for maintaining the confidentiality of Your employer account, Profile and passwords, as applicable. You may not share Your password or other account access information with any other party, temporarily or permanently, and You shall be responsible for all uses of Your opencampus.in Site registrations and passwords, whether or not authorized by You. You agree to immediately notify opencampus.in of any unauthorized use of Your employer account, Profile, or passwords.</p>

<p class="para">Employers are solely responsible for their postings on opencampus.in Sites. opencampus.in is not to be considered to be an employer with respect to Your use of any opencampus.in Site and opencampus.in shall not be responsible for any employment decisions, for whatever reason, made by any entity posting jobs on any opencampus.in Site.</p>

<p class="para">You understand and acknowledge that if You cancel Your employer account or Your employer account is terminated, all Your account information from opencampus.in, including saved resumes, network contacts, and email mailing lists, will be marked as deleted in and may be deleted from opencampus.in's databases. Information may continue to be available for some period of time because of delays in propagating such deletion through opencampus.in’s web servers. </p>

<p class="para">In order to protect our opencampus.in Community Users from commercial advertising or solicitation, opencampus.in reserves the right to restrict the number of e-mails which an employer may send to Users to a number which opencampus.in deems appropriate in its sole discretion.</p>

<p class="para">Candidate profiles derived from User Content may also be made available through the Sites. opencampus.in does not make any representations regarding the accuracy or validity of such derived works or their appropriateness for evaluation by employers. Derived profiles may vary significantly from User Content. </p>

<h5>Job postings</h5>

<h5>A Job posting may not contain:</h5>

  <p class="para">  any hyperlinks, other than those specifically authorized by opencampus.in;</p>
  <p class="para">  misleading, unreadable, or "hidden" keywords, repeated keywords or keywords that are irrelevant to the job opportunity being presented, as determined in opencampus.in’s reasonable discretion;</p>
  <p class="para">  the names, logos or trademarks of unaffiliated companies other than those of your customer save where expressly agreed by opencampus.in;</p>
  <p class="para">  the names of colleges, cities, states, towns or countries that are unrelated to the posting;</p>
  <p class="para">  more than one job or job description, more than one location, or more than one job category, unless the product so allows;</p>
  <p class="para">  inaccurate, false, or misleading information; and</p>
  <p class="para">  Material or links to material that exploits people in a sexual, violent or other manner, or solicits personal information from anyone under 18.</p>

<h5>You may not use Your opencampus.in job posting to:</h5>

  <p class="para">  post jobs in a manner that does not comply with applicable local, national and international laws, including but not limited to laws relating to labor and employment, equal employment opportunity and employment eligibility requirements, data privacy, data access and use, and intellectual property;</p>
 <p class="para">   post jobs that require citizenship of any particular country or lawful permanent residence in a country as a condition of employment, unless otherwise required in order to comply with law, regulations, executive order, or federal, state or local government contract;</p>
 <p class="para">   post jobs that include any screening requirement or criterion in connection with a job posting where such requirement or criterion is not an actual and legal requirement of the posted job;</p>
  <p class="para">  post jobs or other advertisements for competitors of opencampus.in or post jobs or other content that contains links to any site competitive with opencampus.in;</p>
 <p class="para">   sell, promote or advertise products or services;</p>
 <p class="para">   post any franchise, pyramid scheme, "club membership", distributorship, multi-level marketing opportunity, or sales representative agency arrangement;</p>
  <p class="para">  post any business opportunity that requires an upfront or periodic payment or requires recruitment of other members, sub-distributors or sub-agents;</p>
 <p class="para">   post any business opportunity that pays commission only unless the posting clearly states that the available job pays commission only and clearly describes the product or service that the job seeker would be selling;</p>
 <p class="para">   advertise sexual services or seek employees for jobs of a sexual nature;</p>
 <p class="para">   request the use of human body parts or the donation of human parts, including, without limitation, reproductive services such as egg donation and surrogacy;</p>
 <p class="para">   endorse a particular political party, political agenda, political position or issue;</p>
 <p class="para">   promote a particular religion;</p>
  <p class="para">  post jobs located in countries subject to economic sanctions of the United States Government; and</p>
 <p class="para">   except where allowed by applicable law, post jobs which require the applicant to provide information relating to his/her</p>

  <p class="para">  racial or ethnic origin
    political beliefs
    philosophical or religious beliefs
    membership of a trade union
    physical or mental health
    sexual life
    the commission of criminal offences or proceedings or
    Age .</p>

<p class="para">opencampus.in reserves the right to remove any job posting or content from any opencampus.in Site, which in the reasonable exercise of opencampus.in’s discretion, does not comply with the above Terms, or if any content is posted that opencampus.in believes is not in the best interest of opencampus.in. </p>

<p class="para">If at any time during your use of the opencampus.in Services, You made a misrepresentation of fact to opencampus.in or otherwise misled opencampus.in in regards to the nature of your business activities, opencampus.in will have grounds to terminate your use of the opencampus.in Services. </p>

<h5>Resume Database </h5>

<p class="para">Use of the opencampus.in Resume Database by Employers </p>

<p class="para">You shall use the opencampus.in Resume Database as provided in these Terms and in any contract You have with opencampus.in. You shall use the opencampus.in Resume Database in accordance with all applicable privacy and data protection laws, and You agree You shall not further disclose any of the data from opencampus.in Resume Database to any third party, unless You are an authorized recruitment agency, staffing agency, advertising or other agency or using the resume explicitly for employment purposes. </p> 

<p class="para">You shall take appropriate physical, technical, and administrative measures to protect the data You have obtained from opencampus.in Resume Database from loss, misuse, unauthorized access, disclosure, alteration or destruction. You shall not share Resume Database seat-based license login credentials with any other party, nor share Resume Database pay-per-view license login credentials with any party.  </p>

<h5>The opencampus.in Resume Database shall not be used:</h5>

  <p class="para">  for any purpose other than as an employer seeking employees, including but not limited to advertising promotions, products, or services to any resume holders;
    to make unsolicited phone calls or faxes or send unsolicited mail, email, or newsletters to resume holders or to contact any individual unless they have agreed to be contacted (where consent is required or, if express consent is not required, who has not informed you that they do not want to be contacted); or
    To source candidates or to contact job seekers or resume holders in regards to career fairs and business opportunities prohibited by these Terms of Use.</p>

<p class="para">In order to ensure a safe and effective experience for all of our customers, opencampus.in reserves the right to limit the amount of data (including resume views) that may be accessed by You in any given time period. These limits may be amended in opencampus.in’s sole discretion from time to time. </p>

<h5>10. Additional terms applicable to Job Seekers </h5>

<p class="para">When You register with any opencampus.in Site, You will be asked to create an account and provide opencampus.in with certain information including, without limitation, a valid email address (Your "Information").

<p class="para">Any Profile You submit must be accurate and describe You, an individual person. The Profile requires standard fields to be completed and you may not include in these fields any telephone numbers, street addresses, email addresses or other means of contacting You, other than Your last name and URLs.</p>

<p class="para">You acknowledge and agree that You are solely responsible for the form, content and accuracy of any resume or material contained therein placed by You on the opencampus.in Sites. </p>

<p class="para">opencampus.in reserves the right to offer third party services and products to You based on the preferences that You identify in Your registration and at any time thereafter or you have agreed to receive, such offers may be made by opencampus.in or by third parties. Please see opencampus.in's Privacy Policy (http://www.opencampusin/privacy-policy.aspx) , for further details regarding Your Information.</p>

<p class="para">You understand and acknowledge that You have no ownership rights in Your account and that if You cancel Your opencampus.in account or Your opencampus.in account is terminated, all Your account information from opencampus.in, including resumes, Profiles, cover letters, saved jobs, questionnaires will be marked as deleted in and may be deleted from opencampus.in's databases and will be removed from any public area of the opencampus.in Sites. Information may continue to be available for some period of time because of delays in propagating such deletion through opencampus.in’s web servers. In addition, third parties may retain saved copies of Your Information.</p>

<p class="para">opencampus.in reserves the right to delete Your account and all of Your Information after a significant duration of inactivity. </p>

<h5>11. Data Privacy and SMS Alerts </h5>

<p class="para">In the context of the 'alerts' service being introduced by opencampus.in; the candidate consents to the use of his personal data in the form of cellular phone number(s) being used by opencampus.in to forward relevant job alerts and other information as and when they become available. </p>

<h5>12. Professional Networking </h5>

<p class="para">Professional Networking is a facility introduced by opencampus.in on its website for networking between Employer, their Recruiters and Job seekers through their respective opencampus.in Accounts which will facilitate them in fulfillment of career and job opportunities through this unique facility. </p>

<h5>Terms for Job Seekers: </h5>

<p class="para">Jobseekers have the capability to connect with other job seekers on opencampus.in website through their respective opencampus.in Accounts. This connect can happen only among seekers who have some common background like being colleagues at a company, college alumni, through their connect on email/social networks, or through their common connections on the Professional network. Job Seekers can use their profile in opencampus.in Account for their Professional Network. Job Seekers may limit their profile access & visibility on the Professional network at their discretion. They can also control the flow of social activities related information to their contact IDs using their account settings. </p>

<h5>Job seekers shall have three profile preferences - Public, Limited and Private.</h5>

  <p class="para">  The Public profile will be accessible to all for social activities. It shall be visible & available for search to the network; can be imported as connections; can receive request for recommendation / endorsements, and can share their accreditations like assessments or certifications etc. within their network.</p>
 <p class="para">   The Limited profiles shall be accessible and visible to its connections only and can share their accreditations like assessments or certifications etc. within their network.</p>
  <p class="para">  The Private profile shall be restricted and not open to connections, and will not be searchable for social activities.
      </p>
<p class="para">Job Seekers shall use the Professional Networking environment only for the purpose of career related information; opportunities and dissemination of information thereof through the network and shall not use Professional Networking for promotion of any sales, marketing, collecting / gathering of details of the users for the purpose or other activity, which is not permitted under these terms and Terms of use & Privacy of the opencampus.in website.</p>

<p class="para">As a jobseeker, you understand and acknowledge that if you cancel your opencampus.in account or your opencampus.in account is terminated, all your information in the Professional network, will be marked as deleted in and may be deleted from opencampus.in's databases and will be removed from any public area of the opencampus.in Sites. Information may continue to be available for some period of time because of delays in propagating such deletion through opencampus.in’s web servers. However, your connections and third parties may retain saved copies of Your Information. </p>

<h5>Terms for Recruiters: </h5>

<p class="para">Recruiters associated with opencampus.in’s paid Clients, Customers/ Employers can create their Individual recruiter profile on opencampus.in website, which shall be registered by opencampus.in at its sole discretion. These recruiters will function as authorized users of their company’s opencampus.in account(s). They can use their profile to manage their company’s profile, post jobs, do database searches and perform other recruitment related activities for their company. They can have a direct connect with the jobseekers, who can follow them to know about their activities.</p>

<p class="para">Such authorized recruiters shall be solely responsible for managing Professional Networking profile and will not be able to represent the same account as soon as their engagement terminates with their respective Company. However, such recruiter’s Professional Networking profile will be there on opencampus.in’s Professional Network containing the basic information of such recruiters along with the followers, which can be used by the recruiter for any other opencampus.in Employer on association with the other opencampus.in Employer. opencampus.in reserves the right to delete or remove of any such individual authorized recruiters without notice if it comes to opencampus.in's knowledge or if it is otherwise notified to opencampus.in that it infringes and/or violates any third party’s Trade Mark, Copy right and / or any other intellectual property right and opencampus.in may also terminate access to its Website permanently. </p>

<h5>Additional terms for non-customer Recruiters creating Recruiter Profile on opencampus.in site. </h5>

<p class="para">The non-customer Recruiters, either individuals, free lancers or other entities  (“non-customer Recruiters”) who create Recruiter Profile on opencampus.in site shall be solely responsible for managing their respective Recruiter Profile on opencampus.in sites, submission of true & correct information and ensure that the data, job posting, and other information submitted through Recruiter profile is correct, true and not misleading and shall not upload, display of data, job posting and other material in opencampus.in sites which : is in violation of any applicable law or regulation; will infringe the copyright, trademark, trade secret or other intellectual property or proprietary rights of others or violate the privacy, publicity or other personal rights of others; belongs to another person/entity and to which you do not have any right to; deceives or misleads the addressee about the origin of such message or communicates any information which is grossly offensive or menacing in nature; impersonate another person or entity; contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of opencampus.in’s computer systems or sites or opencampus.in’s users, customer’s computer systems or site; is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous, invasive of another’s privacy, threatening, abusive or hateful or racially, ethnically objectionable, disparaging, seeking money from jobseekers, relating encouraging money laundering or gambling or otherwise unlawful in any manner whatsoever.</p>

<p class="para">Such non-customer Recruiters authorize opencampus.in to use their information in order to send e-mail or other communications regarding offers and updates at opencampus.in sites to contact them about their opinion about current opencampus.in products and services or potential new products and services that may be offered and also authorize opencampus.in to provide additional communications, promotions and information on new opencampus.in opportunities, product/services and additional job postings. The nature and frequency of these messages will vary depending upon the information we have about such Recruiters. opencampus.in reserves the right to restrict/amend the features of Recruiter’s Profile, manner of its use, as opencampus.in deems appropriate in its sole discretion.</p>

<p class="para">Such non-customer Recruiters agree to defend, indemnify, and hold harmless opencampus.in, its affiliates, and their respective officers, directors, employees and agents, from and against any claims, actions or demands, including without limitation reasonable legal and accounting fees, alleging or resulting from (i) any content or other material provided to Recruiter profile, (ii) Use of any opencampus.in content, or (iii) breach of these terms.</p>

<p class="para">On non-conformance of any of the aforesaid terms opencampus.in reserves the right to delete or remove offending Recruiter Profile without notice if it comes to opencampus.in's knowledge or if it is otherwise notified to opencampus.in that it infringes and/or violates any third party’s Trade Mark, Copy right and / or any other intellectual property right and opencampus.in may also terminate access to its Websites permanently. opencampus.in has no liability or responsibility to Recruiters for performance or non-performance of such activities. Additionally, opencampus.in has the right to initiate appropriate proceedings against the offending Recruiters as per law. </p>

<h5>Terms for Companies / Employers: </h5>

<p class="para">opencampus.in’s paid clients/customers who use the site for their recruitments related requirements, and who will now be able to leverage the network through their authorized recruiters. As part of Professional Networking , the company would be able to connect with a larger audience by having direct followers of their profile, and also through connections of their recruiters. Through their company profile, they will be able to showcase their company environment, policies & other important information, and engage jobseekers through Polls & Surveys.</p>

<p class="para">They will have sole responsibility of authorizing & managing the recruiters associated with their profile at their own discretion. In the event any of the Employer recruiter’s, engagement terminates with the Employer, having opencampus.in’s Professional Networking representation for the Employer, it shall be the sole responsibility of the Employer to immediately notify opencampus.in about the termination of engagement with the said recruiter and appointment of a new recruiter. Employer shall ensure to keep informed opencampus.in changes / updates in their recruiters as and when any changes thereof from time to time. </p>

<h5>13. Terms for Startup Services </h5>

<p class="para">The Startup ecosystem is a unique solution introduced by opencampus.in on its website for networking between interested parties, i.e. “Persons or Associations who intend to initiate a Startup venture and various other independent Interested Parties like Mentors, Incubators, Accelerators and Investors". </p>

<p class="para">Mentors are the expert Individuals, who can share their respective ideas for a specific business activity. Incubators are associations who help to initiate the successful development of startup and fledgling companies by providing emerging/budding entrepreneurs with targeted resources and services. These services are usually developed or orchestrated by incubator’s management and offered both either through the business incubator and/or through its network of contacts. Accelerators are the associations who provide advice, guidance and various forms of support for businesses in the startup phase while making an investment in the companies enrolled in their programs. Investors are business entities looking to invest in the Startups.</p>

<p class="para">Through this facility, opencampus.in brings these Interested Parties together on its website to provide them a common platform to interact. The can share their ideas, plans and potential innovative actions which will facilitate them in fulfillment of their respective objectives through this unique facility. </p>

<h5>Terms for Interested Parties:</h5>
<p class="para">The interested parties have the capability to connect with each other through opencampus.in website with this Service. opencampus.in acts only as a medium / facilitator for connecting them through its website. The interested parties may limit their visibility/access at their discretion, and can also control the flow of their respective information. </p>

<p class="para">The Interested Parties can use this facility of opencampus.in only for the purpose of startup related information; opportunities and dissemination of information thereof through opencampus.in website and shall not use it for promotion of any sales, marketing, collecting / gathering of details of the users for the purpose or other activity, which is not permitted under these terms and Terms of use & Privacy of the opencampus.in website. </p>

<p class="para">opencampus.in does not have any involvement in their dealings amongst them and also has no any role in their screening process for selection by either of these parties to the other. By providing this facility opencampus.in neither warrants any of the interested Parties, the authenticity, genuineness nor veracity of their standing or any claims. opencampus.in does not provide any advice to follow or unfollow by any of the Interested Party to the other and shall in no way responsible and liable for any inaccuracy, errors, mistakes, misrepresentation thereof in any manner whatsoever.. </p>

<p class="para">As user of this facility, any of the Interested Parties understand and acknowledge that if they disassociate with opencampus.in Website or if their association is terminated by opencampus.in for any act, omission or unauthorized or illegal activity, all the information provided in this facility, will be marked as deleted in and may be deleted from opencampus.in's databases and will be removed from any public area of the opencampus.in Sites. The information may continue to be available for some period of time because of delays in propagating such deletion through opencampus.in’s web servers. However, a copy of the information may be saved in archive folders for evidentiary, legal and regulatory purpose. </p>

<p class="para">Interested Parties can create their respective profiles on opencampus.in website, which shall be registered on opencampus.in website by opencampus.in on acceptance of such terms and conditions as opencampus.in may deem appropriate at its sole discretion. They can use their profile to manage their profile, do relevant acts, and perform other activities related .to start up. They can have a direct connection between them to know about their activities. </p>

<p class="para">Jobseekers willing to work in startups can register on opencampus.in site, search & find the desired entity (ies) such as Startups, Budding Entrepreneurs, Mentors & Angel Investors and can engage with the Interested parties by following their profiles, participating in online discussions and request to connect. Interested Parties can also post their job requirements under this facility. Jobseekers can apply to the jobs posted by these Interested Parties and can also recommend the said posted jobs to their connections through opencampus.in site & through their social network and can also opt for information resources like Articles, Events, Newsletters and relevant information. </p>

<p class="para">Such Interested Parties shall be solely responsible for managing their profile. They are responsible for submission of true & correct information and ensure that the data and other information submitted is correct, true and not misleading and shall not upload, display of data, and other material in opencampus.in sites which :</p>

  <p class="para">  is in violation of any applicable law or regulation;</p>
  <p class="para">  will infringe the copyright, trademark, trade secret or other intellectual property or proprietary rights of others or
     violate the privacy, publicity or other personal rights of others;</p>
  <p class="para">  belongs to another person/entity and to which you do not have any right to;</p>
 <p class="para">   deceives or misleads the addressee about the origin of such message or communicates any information which is grossly offensive or menacing in nature;</p>
   <p class="para">  impersonate another person or entity; contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of opencampus.in’s computer systems or sites or opencampus.in’s users, customer’s computer systems or site;</p>
<p class="para">    is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous, invasive of another’s privacy, threatening, abusive or hateful or racially, ethnically objectionable, disparaging, seeking money from jobseekers,  relating encouraging money laundering or gambling or otherwise unlawful in any manner whatsoever.</p>

<p class="para">opencampus.in reserves the right to delete or remove of any such Interested Parties without notice if it comes to opencampus.in's knowledge or if it is otherwise notified to opencampus.in that it infringes and/or violates any third party’s Trade Mark, Copy right and / or any other intellectual property right and on conduct of any prohibited actions and agree to defend, indemnify, and hold harmless opencampus.in, its affiliates, and their respective officers, directors, employees and agents, from and against any claims, actions or demands, including without limitation reasonable legal and accounting fees, alleging or resulting from (i) any content or other material provided to opencampus.in website, (ii) Use of any opencampus.in content, or (iii) breach of these terms. opencampus.in may also terminate access to its Website permanently.</p>

<p class="para">On non-conformance of any of the aforesaid terms opencampus.in reserves the right to delete or remove offending Interested Parties account without notice if it comes to opencampus.in's knowledge or if it is otherwise notified to opencampus.in that it infringes and/or violates any third party’s Trade Mark, Copy right and / or any other intellectual property right and opencampus.in may also terminate access to its Websites permanently. opencampus.in has no liability or responsibility for performance or non-performance of such activities. Additionally, opencampus.in has the right to initiate appropriate proceedings against the offending Interested Parties as per law.</p>

<p class="para">opencampus.in may, at its sole discretion do away with these services at any time, without giving any reason thereof, without notice </p>

<h5>14. Mobile Services </h5>

<p class="para">If you use the opencampus.in Sites through a mobile device, you agree that information about your use of the opencampus.in Sites through your mobile device and carrier may be communicated to us, including but not limited to your mobile carrier, your mobile device, or your physical location. In addition, use of the opencampus.in Sites through a mobile device may cause data to be displayed on and through your mobile device. By accessing the opencampus.in Sites using a mobile device, you represent that to the extent you import any of your opencampus.in data to your mobile device that you have authority to share the transferred data with your mobile carrier or other access provider. In the event you change or deactivate your mobile account, you must promptly update your opencampus.in account information to ensure that your messages are not sent to the person that acquires your old number and failure to do so is your responsibility. You acknowledge that you are responsible for all charges and necessary permissions related to accessing the opencampus.in Sites through your mobile access provider. Therefore, you should check with your provider to find out if the opencampus.in Sites are available and the terms for these services for your specific mobile devices.</p>

<p class="para">By using any downloadable application to enable your use of the opencampus.in Sites, you are explicitly confirming your acceptance of the terms of the End User License Agreement and the Privacy Policy associated with the Application provided at download or installation, or as may be updated from time to time. </p>

<h5>15. Private Resume Database Hosting Service</h5>

<p class="para">Some of our customers use opencampus.in’s private resume database hosting services to store resumes and to run certain applications. If your resume is stored in a customer’s private resume database, then that customer's privacy policies and practices apply to your data. opencampus.in is not responsible for our customers' privacy policies or practices. For more information please refer to opencampus.in's Privacy policy for private resume database hosting.</p>

<h5>16. Identification Of Agent To Receive Notification And Elements Of Notification Of Claimed Copyright Infringement </h5>

<p class="para">If You believe that your copyrighted work has been uploaded, posted or copied to any opencampus.in Web Site and is accessible on such opencampus.in Site in a way that constitutes copyright infringement, please notify us by providing our designated copyright agent with the following information:</p>

 <p class="para">   The physical or electronic signature of either the copyright owner or of a person authorized to act on the owner's behalf;</p>
 <p class="para">   A description of the copyrighted work You claim has been infringed, and a description of the activity that You claim to be infringing;</p>
 <p class="para">   Identification of the URL or other specific location on this web site where the material or activity You claim to be infringing is located or is occurring; You must include enough information to allow us to locate the material or the activity;</p>
 <p class="para">   Your name, address, telephone number and, if You have one, your e-mail address;</p>
 <p class="para">   A statement by You that You have a good faith belief that use on the web site of the copyrighted work in the manner You are complaining of is not authorized by the copyright owner, any agent of the copyright owner, or the law; and</p>
  <p class="para">  A statement by You, made under penalty of perjury, that the information You have provided in your notice is accurate and that You are either the copyright owner or are authorized to act on behalf of the copyright owner.</p>



<h5>Need help with a job seeker issue? Contact us now. </h5>

<h5>17. Policy Regarding Termination Of Users Who Infringe The Copyright Or Other Intellectual Property Rights Of Others.</h5> 

<p class="para">opencampus.in.com India Private Limited, opencampus.in Worldwide Inc., opencampus.in, Inc., opencampus.in Worldwide Technologies, LLC. and all of our affiliated companies respect the intellectual property of others, and we ask our users, account holders and content partners to do the same.</p>

<p class="para">The unauthorized reproduction, copying, distribution, modification, public display or public performance of copyrighted works constitutes infringement of the copyright owner’s rights. As a condition to your use of opencampus.inindia.com, You agree not to use opencampus.inindia.com or any other opencampus.in Site to infringe the intellectual property rights of others in any way. We will terminate the accounts of any opencampus.in.com account holders, and block access to opencampus.inindia.com and/or the other opencampus.in Sites of any Users who are repeat infringers of the copyrights, or other intellectual property rights, of others. We reserve the right to take these actions at any time, in our sole discretion, with or without notice, and without any liability to the account holder who is terminated or to the User whose access is blocked.</p>



<h5>18. opencampus.in's Liability </h5>

<p class="para">The opencampus.inindia.com and other opencampus.in Sites act as, among other things, venues for</p>

  <p class="para">  employers to post job opportunities and search for and evaluate job candidates and
    Candidates to post resumes and Profiles and search for and evaluate job opportunities. opencampus.in does not screen or censor the listings, including Profiles offered. opencampus.in is not involved in the actual transaction between employers and candidates. As a result, opencampus.in is not responsible for User Content, the quality, safety or legality of the jobs or resumes posted, the truth or accuracy of the listings, the ability of employers to offer job opportunities to candidates or the ability of candidates to fill job openings and opencampus.in makes no representations about any jobs, resumes or User Content on opencampus.inindia.com and the other opencampus.in Sites. While opencampus.in reserves the right in its sole discretion to remove User Content, job postings, resumes or other material from the opencampus.in Sites from time to time, opencampus.in does not assume any obligation to do so and to the extent permitted by law, disclaims any liability for failing to take any such action.</p>

<p class="para">opencampus.in Communities provides a venue for individuals to network for professional and personal purposes and opencampus.in does not screen or censor the Profiles or User Content on the opencampus.in Sites. opencampus.in is not involved in the actual communications between Users. As a result, opencampus.in has no control over the accuracy, reliability, completeness, or timeliness of the Profiles or User Content submitted on the opencampus.in Sites and makes no representations about any Profile or User Content on the opencampus.in Sites.</p>

<p class="para">In addition, please note that there are risks, including but not limited to the risk of physical harm, of dealing with strangers, foreign nationals, underage persons or people acting under false pretenses. You assume all risks associated with dealing with other users with whom You come in contact through the opencampus.in Sites. By its very nature other people’s information may be offensive, harmful or inaccurate, and in some cases will be mislabeled or deceptively labeled. We expect that You will use caution and common sense when using the opencampus.inindia.com and other opencampus.in Sites. </p>

<p class="para">Because User authentication on the Internet is difficult, opencampus.in cannot and does not confirm that each User is who they claim to be. Because we do not and cannot be involved in User-to-User dealings or control the behavior of participants on any opencampus.in Site, in the event that You have a dispute with one or more Users, You release opencampus.in (and our agents and employees) from claims, demands and damages (actual and consequential and direct and indirect) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes to the fullest extent permitted by law. </p>

<p class="para">The opencampus.in Sites and the opencampus.in Content may contain inaccuracies or typographical errors. opencampus.in makes no representations about the accuracy, reliability, completeness, or timeliness of any opencampus.in Site or the opencampus.in Content. The use of all opencampus.in Sites and the opencampus.in Content is at Your own risk. Changes are periodically made to opencampus.in Sites and may be made at any time. opencampus.in cannot guarantee and does not promise any specific results from use of any opencampus.in Site. No advice or information, whether oral or written, obtained by a User from opencampus.in or through or from any opencampus.in Site shall create any warranty not expressly stated herein. </p>

<p class="para">You acknowledge and agree that You are solely responsible for the form, content and accuracy of any resume or material contained therein placed by You on the opencampus.in Sites. Employers are solely responsible for their postings on opencampus.in Sites. The Company is not to be considered to be an employer with respect to your use of any opencampus.in Site and the Company shall not be responsible for any employment decisions, for whatever reason made, made by any entity posting jobs on any opencampus.in Site. </p>

<p class="para">opencampus.in encourages You to keep a back-up copy of any of Your User Content. To the extent permitted by law, in no event shall opencampus.in be liable for the deletion, loss, or unauthorized modification of any User Content.</p> 

<p class="para">opencampus.in does not provide or make any representation as to the quality or nature of any of the third party products or services purchased through any opencampus.in Site, or any other representation, warranty or guaranty. Any such undertaking, representation, warranty or guaranty would be furnished solely by the provider of such third party products or services, under the terms agreed to by the provider.</p>

<p class="para">If You believe that something on the Site violates these Terms please contact our designated agent set forth above.

<p class="para">If notified of any content or other materials which allegedly do not conform to these Terms, opencampus.in may in its sole discretion investigate the allegation and determine whether to remove or request the removal of the content. opencampus.in has no liability or responsibility to Users for performance or nonperformance of such activities.</p>

<h5>19. Disclaimer of Warranty </h5>

<p class="para">THE COMPANY DOES NOT WARRANT THAT ANY opencampus.in SITE WILL OPERATE ERROR-FREE OR THAT ANY opencampus.in SITE AND ITS SERVERS ARE FREE OF COMPUTER VIRUSES OR OTHER HARMFUL MECHANISMS. IF YOUR USE OF ANY opencampus.in SITE OR THE opencampus.in CONTENT RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, THE COMPANY IS NOT RESPONSIBLE FOR THOSE COSTS. THE opencampus.in SITES AND opencampus.in CONTENT ARE PROVIDED ON AN "AS IS" BASIS WITHOUT ANY WARRANTIES OF ANY KIND. TO THE FULLEST EXTENT POSSIBLE BY LAW, opencampus.in DOES NOT WARRANT THAT ANY opencampus.in SITE OR ANY opencampus.in SERVICES WILL OPERATE ERROR-FREE OR THAT ANY opencampus.in SITE AND ITS SERVERS ARE FREE OF COMPUTER VIRUSES OR OTHER HARMFUL MECHANISMS. IF YOUR USE OF ANY opencampus.in SITE OR THE opencampus.in CONTENT RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA OR ANY OTHER COSTS, opencampus.in IS NOT RESPONSIBLE FOR THOSE COSTS. THE opencampus.in SITES AND opencampus.in CONTENT ARE PROVIDED ON AN "AS IS" BASIS WITHOUT ANY WARRANTIES OF ANY KIND. opencampus.in, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE WARRANTY OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE AND NON-INFRINGEMENT. opencampus.in MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE opencampus.in CONTENT, SERVICES, SOFTWARE, TEXT, GRAPHICS, AND LINKS. </p>

<h5>20. Disclaimer of Consequential Damages </h5>

TO THE FULLEST EXTENT POSSIBLE BY LAW, IN NO EVENT SHALL opencampus.in, ITS SUPPLIERS, OR ANY THIRD PARTIES MENTIONED ON ANY opencampus.in SITE BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA, LOST EMPLOYMENT OPPORTUNITY OR BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO USE ANY opencampus.in SITE AND THE opencampus.in CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT opencampus.in IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. </p>

<h5>21. Limitation of Liability </h5>

<p class="para">TO THE FULLEST EXTENT POSSIBLE BY LAW, opencampus.in'S MAXIMUM LIABILITY ARISING OUT OF OR IN CONNECTION WITH ANY opencampus.in SITE OR YOUR USE OF THE opencampus.in CONTENT, REGARDLESS OF THE CAUSE OF ACTION (WHETHER IN CONTRACT, TORT, BREACH OF WARRANTY OR OTHERWISE), WILL NOT EXCEED INR 1,000. </p>

<h5>22. Links to Other Sites </h5>

<p class="para">The opencampus.in Sites contain links to third party Web sites. These links are provided solely as a convenience to You and not as an endorsement by opencampus.in of the contents on such third-party Web sites. opencampus.in is not responsible for the content of linked third-party sites and does not make any representations regarding the content or accuracy of materials on such third party Web sites. If You decide to access linked third-party Web sites, You do so at Your own risk. </p>

<h5>23. No Resale or Unauthorized Commercial Use </h5>

<p class="para">You agree not to resell or assign Your rights or obligations under these Terms. You also agree not to make any unauthorized commercial use of any opencampus.in Site. </p>

<h5>24. Indemnity </h5>

<p class="para">You agree to defend, indemnify, and hold harmless opencampus.in, its affiliates, and their respective officers, directors, employees and agents, from and against any claims, actions or demands, including without limitation reasonable legal and accounting fees, alleging or resulting from (i) any User Content or other material You provide to any opencampus.in Site, (ii) Your use of any opencampus.in Content, or (iii) Your breach of these Terms. opencampus.in shall provide notice to You promptly of any such claim, suit, or proceeding. </p>

<h5>25. General </h5>

<p class="para">The Company makes no claims that the opencampus.in Content may be lawfully viewed or accessed outside of India. Access to the opencampus.in Content may not be legal by certain persons or in certain countries. Your access to opencampus.in sites is at your own risk and You are responsible for compliance with the laws of respective State.s jurisdiction as may be applicable to You. These Terms of Use are governed by the internal substantive laws of the Commonwealth of Massachusetts, without respect to its conflict of laws principles. Jurisdiction for any claims arising under this agreement shall lie exclusively with the state or federal courts within Boston, Massachusetts. If any provision of these Terms of Use is found to be invalid by any court having competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms of Use, which shall remain in full force and effect. No waiver of any term of these Terms of Use shall be deemed a further or continuing waiver of such term or any other term. Except as expressly provided in an additional agreement, additional terms of use for areas of opencampus.in.com, and a particular "Legal Notice," or Software License or material on particular Web pages, these Terms of Use constitute the entire agreement between You and the Company with respect to the use of opencampus.inindia.com. No changes to these Terms of Use shall be made except by a revised posting on this page. </p>



<h5>27. Additional Terms of Use </h5>

<p class="para">Certain areas of opencampus.inindia.com and the other opencampus.in Sites are subject to additional terms of use. By using such areas, or any part thereof, You agree to be bound by the additional terms of use applicable to such areas.</p> 

<h5>28. Term and Termination </h5>

<p class="para">These Terms of Use will remain in full force and effect while You are a User of opencampus.inindia.com at any level. The Company reserves the right, at its sole discretion, to pursue all of its legal remedies, including but not limited to deletion of your User Content from opencampus.inindia.com and the other opencampus.in Sites and immediate termination of your registration with or ability to access opencampus.inindia.com and the other opencampus.in Sites and/or any other services provided to You by the Company, upon any breach by You of these Terms of Use or if the Company is unable to verify or authenticate any information You submit to opencampus.inindia.com or other opencampus.in Site registration. Even after You are no longer a User of opencampus.inindia.com, certain provisions of these Terms of Use will remain in effect, including Sections 2, 6, 10 through 25 and "Additional Terms of Use" inclusive.</p> 



<h5>29. DISCLAIMER </h5>

<p class="para">You agree and acknowledge that your use and access of the opencampus.in video service and opencampus.in website shall be at your sole risk, responsibility and consequences. To the fullest extent permitted by law, opencampus.in, its officers, directors, employees, authorized representatives and agents disclaim all warranties, express or implied, in connection with the opencampus.in video service and opencampus.in website and your use thereof. opencampus.in makes no warranties or representations about the accuracy or completeness of opencampus.in website's content or the content of any sites linked to opencampus.in website and assumes no liability or responsibility for any (i) Errors, mistakes, or inaccuracies of content, (ii) Personal injury or property damage, of any nature whatsoever, resulting from your access to and use of opencampus.in video service and opencampus.in website, (iii) Any unauthorized access to or use of opencampus.in servers and/or any and all personal information and/or financial information stored therein in any form and/or in any manner, (iv) any interruption or cessation of transmission to or from opencampus.in website, (iv) Any bugs, viruses, Trojan horses, or the like unauthorized tools or software which may be transmitted to or through opencampus.in website by any third party, and/or (v) Any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through opencampus.in website. opencampus.in does not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party through the opencampus.in website or any associated or hyperlinked website and opencampus.in shall not be a party to or in any way be responsible or accountable for monitoring any transaction between you and third-party. </p>

<h5>30. LIMITATION OF LIABILITY </h5>

<p class="para">The concerned registered users, jobseekers and other contributor of video content in opencampus.in website hereby agree and acknowledge that opencampus.in shall not be liable for their video content submissions or the defamatory, offensive, or illegal conduct of any third party and that the risk of harm or damage from the foregoing rests entirely with them.</p>

<p class="para">In no event shall opencampus.in, its officers, directors, employees, or agents, be liable to you for any direct, indirect, incidental, special, punitive, or consequential damages whatsoever resulting from any (i) Errors, mistakes, or inaccuracies of the video content, (ii) Personal injury or property damage, of any nature whatsoever, resulting from your access to and use of our website, (iii) Any unauthorized access to or use of opencampus.in secure servers and/or any and all video content and/or personal information and/or financial information stored therein, (iv) Any interruption or cessation of transmission to or from opencampus.in website, (iv) Any bugs, viruses, Trojan horses, or the like, which may be transmitted to or through our website by any third party, and/or (v) Any errors or omissions in any content or for any loss or damage of any kind incurred as a result of your use of any content submitted, posted, emailed, transmitted, or otherwise made available via the opencampus.in website, whether based on warranty, contract, tort, or any other legal arrangement, and whether or not the company is advised of the possibility of such damages. The foregoing limitation of liability shall apply to the fullest extent permitted by law in the applicable local and/or international jurisdiction. </p>

<h5>31. AMENDMENT IN TERMS OF USE</h5> 

<p class="para">opencampus.in shall have the right to amend, vary or modify the Terms of Use, Privacy Commitment of opencampus.in Website and these Additional Terms of Use governing this opencampus.in Video Service at any time, without giving any prior notice to You and such amendment shall be effective immediately upon inclusion / posting of such amendment on opencampus.in Website.</p>

<p class="para">These “Terms of Use” and “Privacy Commitment of opencampus.in site constitute a binding agreement between You and opencampus.in, and is accepted by You upon your use of the opencampus.in Site. </p>
							</div>
						</div>  
					</div> 
				</div> 
			</div>
</asp:Content>

