/*
Icon setting
=========================== */
.icon-demo{
	text-align:center;
	margin-top:20px;
}
.iconi{
	background-image:url(../images/icons/icon64.png);
	background-repeat:no-repeat;
	display:inline-block;
	width:64px;
	height:64px;
	overflow:hidden;
	text-indent:-9999px;
}

.icon-64{
	background-image:url(../images/icons/icon64.png);
	width:64px;
	height:64px;
}

.icon-42{
	background-image:url(../images/icons/icon42.png);
	width:42px;
	height:42px;
}

.icon-32{
	background-image:url(../images/icons/icon32.png);
	width:32px;
	height:32px;
}

.icon-24{
	background-image:url(../images/icons/icon24.png);
	width:24px;
	height:24px;
}

/*
Icon 64
=========================== */
.icon-anchor{
	background-position:0 0;
}

.icon-aperture{
	background-position:-64px 0;
}

.icon-arrow-down{
	background-position:-128px 0;
}

.icon-arrow-up{
	background-position:-192px 0;
}

.icon-art{
	background-position:-256px 0;
}

.icon-barchart{
	background-position:-320px 0;
}

.icon-batteryfull{
	background-position:-384px 0;
}

.icon-batterylow{
	background-position:-448px 0;
}

.icon-bike{
	background-position:-512px 0;
}

.icon-biker{
	background-position:-576px 0;
}

.icon-bikewheel{
	background-position:0 -64px;
}

.icon-blimp{
	background-position:-64px -64px;
}

.icon-bolt{
	background-position:-128px -64px;
}

.icon-bomb{
	background-position:-192px -64px;
}

.icon-booklet{
	background-position:-256px -64px;
}

.icon-bookshelf{
	background-position:-320px -64px;
}

.icon-briefcase{
	background-position:-384px -64px;
}

.icon-brightness{
	background-position:-448px -64px;
}

.icon-browser{
	background-position:-512px -64px;
}

.icon-brush-pencil{
	background-position:-576px -64px;
}

.icon-calculator{
	background-position:-0 -128px;
}

.icon-calendar{
	background-position:-64px -128px;
}

.icon-camera{
	background-position:-128px -128px;
}

.icon-car{
	background-position:-192px -128px;
}

.icon-cart{
	background-position:-256px -128px;
}

.icon-carwheel{
	background-position:-320px -128px;
}

.icon-caution{
	background-position:-384px -128px;
}

.icon-chat{
	background-position:-448px -128px;
}

.icon-check{
	background-position:-512px -128px;
}

.icon-circlecompass{
	background-position:-576px -128px;
}

.icon-clapboard{
	background-position:-0 -192px;
}

.icon-clipboard{
	background-position:-64px -192px;
}

.icon-clock{
	background-position:-128px -192px;
}

.icon-cloud{
	background-position:-192px -192px;
}

.icon-cmyk{
	background-position:-256px -192px;
}

.icon-colorwheel{
	background-position:-320px -192px;
}

.icon-compass{
	background-position:-384px -192px;
}

.icon-compose{
	background-position:-448px -192px;
}

.icon-computer{
	background-position:-512px -192px;
}

.icon-cone{
	background-position:-576px -192px;
}

.icon-contacts{
	background-position:-0 -256px;
}

.icon-contrast{
	background-position:-64px -256px;
}

.icon-countdown{
	background-position:-128px -256px;
}

.icon-creditcard{
	background-position:-192px -256px;
}

.icon-crop{
	background-position:-256px -256px;
}

.icon-crossroads{
	background-position:-320px -256px;
}

.icon-cruise{
	background-position:-384px -256px;
}

.icon-cursor{
	background-position:-448px -256px;
}

.icon-denied{
	background-position:-512px -256px;
}

.icon-dev{
	background-position:-576px -256px;
}

.icon-die{
	background-position:-0 -320px;
}

.icon-document{
	background-position:-64px -320px;
}

.icon-dolly{
	background-position:-128px -320px;
}

.icon-door{
	background-position:-192px -320px;
}

.icon-download{
background-position: -64px -192px;
}

.icon-easel{
	background-position:-320px -320px;
}

.icon-email{
	background-position:-384px -320px;
}

.icon-eye{
	background-position:-448px -320px;
}

.icon-eyedropper{
	background-position:-512px -320px;
}

.icon-fashion{
	background-position:-576px -320px;
}

.icon-filmreel{
	background-position:-0 -384px;
}

.icon-filmroll{
	background-position:-64px -384px;
}

.icon-flag{
	background-position:-128px -384px;
}

.icon-flame{
	background-position:-192px -384px;
}

.icon-flash{
	background-position:-256px -384px;
}

.icon-flower{
	background-position:-320px -384px;
}

.icon-focus{
	background-position:-384px -384px;
}

.icon-folder{
	background-position:-448px -384px;
}

.icon-frames{
	background-position:-512px -384px;
}

.icon-gamecontroller{
	background-position:-576px -384px;
}

.icon-gas{
	background-position:-0 -448px;
}

.icon-gear{
	background-position:-64px -448px;
}

.icon-genius{
	background-position:-128px -448px;
}

.icon-global{
	background-position:-192px -448px;
}

.icon-globe{
	background-position:-256px -448px;
}

.icon-gps{
	background-position:-320px -448px;
}

.icon-hazard{
	background-position:-384px -448px;
}

.icon-heart{
	background-position:-448px -448px;
}

.icon-helicopter{
	background-position:-512px -448px;
}

.icon-hotair{
	background-position:-576px -448px;
}

.icon-hourglass{
	background-position:-0 -512px;
}

.icon-image{
	background-position:-64px -512px;
}

.icon-interstate{
	background-position:-128px -512px;
}

.icon-key{
	background-position:-192px -512px;
}

.icon-keyboard{
	background-position:-256px -512px;
}

.icon-lens{
	background-position:-320px -512px;
}

.icon-lightbulb{
	background-position:-384px -512px;
}

.icon-loading{
	background-position:-448px -512px;
}

.icon-location{
	background-position:-512px -512px;
}

.icon-locked{
	background-position:-576px -512px;
}

.icon-magicwand{
	background-position:-0 -576px;
}

.icon-magnifyingglass{
	background-position:-64px -576px;
}

.icon-mail{
	background-position:-128px -576px;
}

.icon-map{
	background-position:-192px -576px;
}

.icon-megaphone{
	background-position:-256px -576px;
}

.icon-megaphone2{
	background-position:-320px -576px;
}

.icon-memorycard{
	background-position:-384px -576px;
}

.icon-merge{
	background-position:-448px -576px;
}

.icon-mic{
	background-position:-512px -576px;
}

.icon-microphone{
	background-position:-576px -576px;
}

.icon-money{
	background-position:-0 -640px;
}

.icon-motorcycle{
	background-position:-64px -640px;
}

.icon-music{
	background-position:-128px -640px;
}

.icon-news{
	background-position:-192px -640px;
}

.icon-paintbrush{
	background-position:-256px -640px;
}

.icon-paintbrush2{
	background-position:-320px -640px;
}

.icon-paintcan{
	background-position:-384px -640px;
}

.icon-paintroller{
	background-position:-448px -640px;
}

.icon-parachute{
	background-position:-512px -640px;
}

.icon-pencil{
	background-position:-576px -640px;
}

.icon-phone{
	background-position:-0 -704px;
}

.icon-piechart{
	background-position:-64px -704px;
}

.icon-pin{
	background-position:-128px -704px;
}

.icon-pin2{
	background-position:-192px -704px;
}

.icon-plane{
	background-position:-256px -704px;
}

.icon-play{
	background-position:-320px -704px;
}

.icon-plugin{
	background-position:-384px -704px;
}

.icon-polaroid{
	background-position:-448px -704px;
}

.icon-polaroidcamera{
	background-position:-512px -704px;
}

.icon-polaroids{
	background-position:-576px -704px;
}

.icon-power{
	background-position:-0 -768px;
}

.icon-present{
	background-position:-64px -768px;
}

.icon-profle{
	background-position:-128px -768px;
}

.icon-quote{
	background-position:-192px -768px;
}

.icon-racingflags{
	background-position:-256px -768px;
}

.icon-radio{
	background-position:-320px -768px;
}

.icon-radiotower{
	background-position:-384px -768px;
}

.icon-rainbow{
	background-position:-448px -768px;
}

.icon-recycle{
	background-position:-512px -768px;
}

.icon-rgb{
	background-position:-576px -768px;
}

.icon-ribbon{
	background-position:-0 -832px;
}

.icon-roadblock{
	background-position:-64px -832px;
}

.icon-rocket{
	background-position:-128px -832px;
}

.icon-rulertriangle{
	background-position:-192px -832px;
}

.icon-running{
	background-position:-256px -832px;
}

.icon-sailboat{
	background-position:-320px -832px;
}

.icon-schooolbus{
	background-position:-384px -832px;
}

.icon-scissors{
	background-position:-448px -832px;
}

.icon-scooter{
	background-position:-512px -832px;
}

.icon-security{
	background-position:-576px -832px;
}

.icon-speaker{
	background-position:-0 -896px;
}

.icon-spaceshuttle{
	background-position:-64px -896px;
}

.icon-smartphone{
	background-position:-128px -896px;
}

.icon-slr{
	background-position:-192px -896px;
}

.icon-skateboard{
	background-position:-256px -896px;
}

.icon-shop{
	background-position:-320px -896px;
}

.icon-shoeprints{
	background-position:-384px -896px;
}

.icon-shipwheel{
	background-position:-448px -896px;
}

.icon-settings{
	background-position:-512px -896px;
}

.icon-selftimer{
	background-position:-576px -896px;
}

.icon-speedometer{
	background-position:-0 -960px;
}

.icon-spraypaint{
	background-position:-64px -960px;
}

.icon-stack{
	background-position:-128px -960px;
}

.icon-star{
	background-position:-192px -960px;
}

.icon-steeringwheel{
	background-position:-256px -960px;
}

.icon-stop{
	background-position:-320px -960px;
}

.icon-sub{
	background-position:-384px -960px;
}

.icon-submarine{
	background-position:-448px -960px;
}

.icon-support{
	background-position:-512px -960px;
}

.icon-swatches{
	background-position:-576px -960px;
}

.icon-tablet{
background-position: -192px -640px;
}

.icon-takeoff{
	background-position:-64px -1024px;
}

.icon-target{
	background-position:-128px -1024px;
}

.icon-taxi{
	background-position:-192px -1024px;
}

.icon-toolbox{
	background-position:-256px -1024px;
}

.icon-tools{
	    background-position: -64px -576px;
}

.icon-tractor{
	background-position:-384px -1024px;
}

.icon-traffic{
	background-position:-448px -1024px;
}

.icon-train{
	background-position:-512px -1024px;
}

.icon-travelerbag{
	background-position:-576px -1024px;
}

.icon-trends{
	background-position:-0 -1088px;
}

.icon-tripod{
	background-position:-64px -1088px;
}

.icon-trophy{
	background-position:-128px -1088px;
}

.icon-truck{
	background-position:-192px -1088px;
}

.icon-tv{
	background-position:-256px -1088px;
}

.icon-typography{
	background-position:-320px -1088px;
}

.icon-ufo{
	background-position:-384px -1088px;
}

.icon-umbrella{
	background-position:-448px -1088px;
}

.icon-unicycle{
	background-position:-512px -1088px;
}

.icon-unlocked{
	background-position:-576px -1088px;
}

.icon-upload{
	background-position:-0 -1152px;
}

.icon-video{
	background-position:-64px -1152px;
}

.icon-videocameraclassic{
	background-position:-128px -1152px;
}

.icon-videocameracompact{
	background-position:-192px -1152px;
}

.icon-volume{
	background-position:-256px -1152px;
}

.icon-water{
	background-position:-320px -1152px;
}

.icon-weather{
	background-position:-384px -1152px;
}

.icon-windsock{
	background-position:-448px -1152px;
}

.icon-windy{
	background-position:-512px -1152px;
}

.icon-x{
	background-position:-576px -1152px;
}

.icon-zoomin{
	background-position:0 -1216px;
}

.icon-zoomout{
	background-position:-64px -1216px;
}

/*
Icon 42
=========================== */
.icon-42.icon-anchor{
	background-position:0 0;
}

.icon-42.icon-aperture{
	background-position:-42px 0;
}

.icon-42.icon-arrow-down{
	background-position:-84px 0;
}

.icon-42.icon-arrow-up{
	background-position:-126px 0;
}

.icon-42.icon-art{
	background-position:-168px 0;
}

.icon-42.icon-barchart{
	background-position:-210px 0;
}

.icon-42.icon-batteryfull{
	background-position:-252px 0;
}

.icon-42.icon-batterylow{
	background-position:-294px 0;
}

.icon-42.icon-bike{
	background-position:-336px 0;
}

.icon-42.icon-biker{
	background-position:-378px 0;
}

.icon-42.icon-bikewheel{
	background-position:0 -42px;
}

.icon-42.icon-blimp{
	background-position:-42px -42px;
}

.icon-42.icon-bolt{
	background-position:-84px -42px;
}

.icon-42.icon-bomb{
	background-position:-126px -42px;
}

.icon-42.icon-booklet{
	background-position:-168px -42px;
}

.icon-42.icon-bookshelf{
	background-position:-210px -42px;
}

.icon-42.icon-briefcase{
	background-position:-252px -42px;
}

.icon-42.icon-brightness{
	background-position:-294px -42px;
}

.icon-42.icon-browser{
	background-position:-336px -42px;
}

.icon-42.icon-brush-pencil{
	background-position:-378px -42px;
}

.icon-42.icon-calculator{
	background-position:-0 -84px;
}

.icon-42.icon-calendar{
	background-position:-42px -84px;
}

.icon-42.icon-camera{
	background-position:-84px -84px;
}

.icon-42.icon-car{
	background-position:-126px -84px;
}

.icon-42.icon-cart{
	background-position:-168px -84px;
}

.icon-42.icon-carwheel{
	background-position:-210px -84px;
}

.icon-42.icon-caution{
	background-position:-252px -84px;
}

.icon-42.icon-chat{
	background-position:-294px -84px;
}

.icon-42.icon-check{
	background-position:-336px -84px;
}

.icon-42.icon-circlecompass{
	background-position:-378px -84px;
}

.icon-42.icon-clapboard{
	background-position:-0 -126px;
}

.icon-42.icon-clipboard{
	background-position:-42px -126px;
}

.icon-42.icon-clock{
	background-position:-84px -126px;
}

.icon-42.icon-cloud{
	background-position:-126px -126px;
}

.icon-42.icon-cmyk{
	background-position:-168px -126px;
}

.icon-42.icon-colorwheel{
	background-position:-210px -126px;
}

.icon-42.icon-compass{
	background-position:-252px -126px;
}

.icon-42.icon-compose{
	background-position:-294px -126px;
}

.icon-42.icon-computer{
	background-position:-336px -126px;
}

.icon-42.icon-cone{
	background-position:-378px -126px;
}

.icon-42.icon-contacts{
	background-position:-0 -168px;
}

.icon-42.icon-contrast{
	background-position:-42px -168px;
}

.icon-42.icon-countdown{
	background-position:-84px -168px;
}

.icon-42.icon-creditcard{
	background-position:-126px -168px;
}

.icon-42.icon-crop{
	background-position:-168px -168px;
}

.icon-42.icon-crossroads{
	background-position:-210px -168px;
}

.icon-42.icon-cruise{
	background-position:-252px -168px;
}

.icon-42.icon-cursor{
	background-position:-294px -168px;
}

.icon-42.icon-denied{
	background-position:-336px -168px;
}

.icon-42.icon-dev{
	background-position:-378px -168px;
}

.icon-42.icon-die{
	background-position:-0 -210px;
}

.icon-42.icon-document{
	background-position:-42px -210px;
}

.icon-42.icon-dolly{
	background-position:-84px -210px;
}

.icon-42.icon-door{
	background-position:-126px -210px;
}

.icon-42.icon-download{
	background-position:-168px -210px;
}

.icon-42.icon-easel{
	background-position:-210px -210px;
}

.icon-42.icon-email{
	background-position:-252px -210px;
}

.icon-42.icon-eye{
	background-position:-294px -210px;
}

.icon-42.icon-eyedropper{
	background-position:-336px -210px;
}

.icon-42.icon-fashion{
	background-position:-378px -210px;
}

.icon-42.icon-filmreel{
	background-position:-0 -252px;
}

.icon-42.icon-filmroll{
	background-position:-42px -252px;
}

.icon-42.icon-flag{
	background-position:-84px -252px;
}

.icon-42.icon-flame{
	background-position:-126px -252px;
}

.icon-42.icon-flash{
	background-position:-168px -252px;
}

.icon-42.icon-flower{
	background-position:-210px -252px;
}

.icon-42.icon-focus{
	background-position:-252px -252px;
}

.icon-42.icon-folder{
	background-position:-294px -252px;
}

.icon-42.icon-frames{
	background-position:-336px -252px;
}

.icon-42.icon-gamecontroller{
	background-position:-378px -252px;
}

.icon-42.icon-gas{
	background-position:-0 -294px;
}

.icon-42.icon-gear{
	background-position:-42px -294px;
}

.icon-42.icon-genius{
	background-position:-84px -294px;
}

.icon-42.icon-global{
	background-position:-126px -294px;
}

.icon-42.icon-globe{
	background-position:-168px -294px;
}

.icon-42.icon-gps{
	background-position:-210px -294px;
}

.icon-42.icon-hazard{
	background-position:-252px -294px;
}

.icon-42.icon-heart{
	background-position:-294px -294px;
}

.icon-42.icon-helicopter{
	background-position:-336px -294px;
}

.icon-42.icon-hotair{
	background-position:-378px -294px;
}

.icon-42.icon-hourglass{
	background-position:-0 -336px;
}

.icon-42.icon-image{
	background-position:-42px -336px;
}

.icon-42.icon-interstate{
	background-position:-84px -336px;
}

.icon-42.icon-key{
	background-position:-126px -336px;
}

.icon-42.icon-keyboard{
	background-position:-168px -336px;
}

.icon-42.icon-lens{
	background-position:-210px -336px;
}

.icon-42.icon-lightbulb{
	background-position:-252px -336px;
}

.icon-42.icon-loading{
	background-position:-294px -336px;
}

.icon-42.icon-location{
	background-position:-336px -336px;
}

.icon-42.icon-locked{
	background-position:-378px -336px;
}

.icon-42.icon-magicwand{
	background-position:-0 -378px;
}

.icon-42.icon-magnifyingglass{
	background-position:-42px -378px;
}

.icon-42.icon-mail{
	background-position:-84px -378px;
}

.icon-42.icon-map{
	background-position:-126px -378px;
}

.icon-42.icon-megaphone{
	background-position:-168px -378px;
}

.icon-42.icon-megaphone2{
	background-position:-210px -378px;
}

.icon-42.icon-memorycard{
	background-position:-252px -378px;
}

.icon-42.icon-merge{
	background-position:-294px -378px;
}

.icon-42.icon-mic{
	background-position:-336px -378px;
}

.icon-42.icon-microphone{
	background-position:-378px -378px;
}

.icon-42.icon-money{
	background-position:-0 -420px;
}

.icon-42.icon-motorcycle{
	background-position:-42px -420px;
}

.icon-42.icon-music{
	background-position:-84px -420px;
}

.icon-42.icon-news{
	background-position:-126px -420px;
}

.icon-42.icon-paintbrush{
	background-position:-168px -420px;
}

.icon-42.icon-paintbrush2{
	background-position:-210px -420px;
}

.icon-42.icon-paintcan{
	background-position:-252px -420px;
}

.icon-42.icon-paintroller{
	background-position:-294px -420px;
}

.icon-42.icon-parachute{
	background-position:-336px -420px;
}

.icon-42.icon-pencil{
	background-position:-378px -420px;
}

.icon-42.icon-phone{
	background-position:-0 -462px;
}

.icon-42.icon-piechart{
	background-position:-42px -462px;
}

.icon-42.icon-pin{
	background-position:-84px -462px;
}

.icon-42.icon-pin2{
	background-position:-126px -462px;
}

.icon-42.icon-plane{
	background-position:-168px -462px;
}

.icon-42.icon-play{
	background-position:-210px -462px;
}

.icon-42.icon-plugin{
	background-position:-252px -462px;
}

.icon-42.icon-polaroid{
	background-position:-294px -462px;
}

.icon-42.icon-polaroidcamera{
	background-position:-336px -462px;
}

.icon-42.icon-polaroids{
	background-position:-378px -462px;
}

.icon-42.icon-power{
	background-position:-0 -504px;
}

.icon-42.icon-present{
	background-position:-42px -504px;
}

.icon-42.icon-profle{
	background-position:-84px -504px;
}

.icon-42.icon-quote{
	background-position:-126px -504px;
}

.icon-42.icon-racingflags{
	background-position:-168px -504px;
}

.icon-42.icon-radio{
	background-position:-210px -504px;
}

.icon-42.icon-radiotower{
	background-position:-252px -504px;
}

.icon-42.icon-rainbow{
	background-position:-294px -504px;
}

.icon-42.icon-recycle{
	background-position:-336px -504px;
}

.icon-42.icon-rgb{
	background-position:-378px -504px;
}

.icon-42.icon-ribbon{
	background-position:-0 -546px;
}

.icon-42.icon-roadblock{
	background-position:-42px -546px;
}

.icon-42.icon-rocket{
	background-position:-84px -546px;
}

.icon-42.icon-rulertriangle{
	background-position:-126px -546px;
}

.icon-42.icon-running{
	background-position:-168px -546px;
}

.icon-42.icon-sailboat{
	background-position:-210px -546px;
}

.icon-42.icon-schooolbus{
	background-position:-252px -546px;
}

.icon-42.icon-scissors{
	background-position:-294px -546px;
}

.icon-42.icon-scooter{
	background-position:-336px -546px;
}

.icon-42.icon-security{
	background-position:-378px -546px;
}

.icon-42.icon-speaker{
	background-position:-0 -588px;
}

.icon-42.icon-spaceshuttle{
	background-position:-42px -588px;
}

.icon-42.icon-smartphone{
	background-position:-84px -588px;
}

.icon-42.icon-slr{
	background-position:-126px -588px;
}

.icon-42.icon-skateboard{
	background-position:-168px -588px;
}

.icon-42.icon-shop{
	background-position:-210px -588px;
}

.icon-42.icon-shoeprints{
	background-position:-252px -588px;
}

.icon-42.icon-shipwheel{
	background-position:-294px -588px;
}

.icon-42.icon-settings{
	background-position:-336px -588px;
}

.icon-42.icon-selftimer{
	background-position:-378px -588px;
}

.icon-42.icon-speedometer{
	background-position:-0 -630px;
}

.icon-42.icon-spraypaint{
	background-position:-42px -630px;
}

.icon-42.icon-stack{
	background-position:-84px -630px;
}

.icon-42.icon-star{
	background-position:-126px -630px;
}

.icon-42.icon-steeringwheel{
	background-position:-168px -630px;
}

.icon-42.icon-stop{
	background-position:-210px -630px;
}

.icon-42.icon-sub{
	background-position:-252px -630px;
}

.icon-42.icon-submarine{
	background-position:-294px -630px;
}

.icon-42.icon-support{
	background-position:-336px -630px;
}

.icon-42.icon-swatches{
	background-position:-378px -630px;
}

.icon-42.icon-tablet{
	background-position:-0 -672px;
}

.icon-42.icon-takeoff{
	background-position:-42px -672px;
}

.icon-42.icon-target{
	background-position:-84px -672px;
}

.icon-42.icon-taxi{
	background-position:-126px -672px;
}

.icon-42.icon-toolbox{
	background-position:-168px -672px;
}

.icon-42.icon-tools{
	background-position:-210px -672px;
}

.icon-42.icon-tractor{
	background-position:-252px -672px;
}

.icon-42.icon-traffic{
	background-position:-294px -672px;
}

.icon-42.icon-train{
	background-position:-336px -672px;
}

.icon-42.icon-travelerbag{
	background-position:-378px -672px;
}

.icon-42.icon-trends{
	background-position:-0 -714px;
}

.icon-42.icon-tripod{
	background-position:-42px -714px;
}

.icon-42.icon-trophy{
	background-position:-84px -714px;
}

.icon-42.icon-truck{
	background-position:-126px -714px;
}

.icon-42.icon-tv{
	background-position:-168px -714px;
}

.icon-42.icon-typography{
	background-position:-210px -714px;
}

.icon-42.icon-ufo{
	background-position:-252px -714px;
}

.icon-42.icon-umbrella{
	background-position:-294px -714px;
}

.icon-42.icon-unicycle{
	background-position:-336px -714px;
}

.icon-42.icon-unlocked{
	background-position:-378px -714px;
}

.icon-42.icon-upload{
	background-position:-0 -756px;
}

.icon-42.icon-video{
	background-position:-42px -756px;
}

.icon-42.icon-videocameraclassic{
	background-position:-84px -756px;
}

.icon-42.icon-videocameracompact{
	background-position:-126px -756px;
}

.icon-42.icon-volume{
	background-position:-168px -756px;
}

.icon-42.icon-water{
	background-position:-210px -756px;
}

.icon-42.icon-weather{
	background-position:-252px -756px;
}

.icon-42.icon-windsock{
	background-position:-294px -756px;
}

.icon-42.icon-windy{
	background-position:-336px -756px;
}

.icon-42.icon-x{
	background-position:-378px -756px;
}

.icon-42.icon-zoomin{
	background-position:0 -798px;
}

.icon-42.icon-zoomout{
	background-position:-42px -798px;
}

/*
Icon 32
=========================== */
.icon-32.icon-anchor{
	background-position:0 0;
}

.icon-32.icon-aperture{
	background-position:-32px 0;
}

.icon-32.icon-arrow-down{
	background-position:-64px 0;
}

.icon-32.icon-arrow-up{
	background-position:-96px 0;
}

.icon-32.icon-art{
	background-position:-128px 0;
}

.icon-32.icon-barchart{
	background-position:-160px 0;
}

.icon-32.icon-batteryfull{
	background-position:-192px 0;
}

.icon-32.icon-batterylow{
	background-position:-224px 0;
}

.icon-32.icon-bike{
	background-position:-256px 0;
}

.icon-32.icon-biker{
	background-position:-288px 0;
}

.icon-32.icon-bikewheel{
	background-position:0 -32px;
}

.icon-32.icon-blimp{
	background-position:-32px -32px;
}

.icon-32.icon-bolt{
	background-position:-64px -32px;
}

.icon-32.icon-bomb{
	background-position:-96px -32px;
}

.icon-32.icon-booklet{
	background-position:-128px -32px;
}

.icon-32.icon-bookshelf{
	background-position:-160px -32px;
}

.icon-32.icon-briefcase{
	background-position:-192px -32px;
}

.icon-32.icon-brightness{
	background-position:-224px -32px;
}

.icon-32.icon-browser{
	background-position:-256px -32px;
}

.icon-32.icon-brush-pencil{
	background-position:-288px -32px;
}

.icon-32.icon-calculator{
	background-position:-0 -64px;
}

.icon-32.icon-calendar{
	background-position:-32px -64px;
}

.icon-32.icon-camera{
	background-position:-64px -64px;
}

.icon-32.icon-car{
	background-position:-96px -64px;
}

.icon-32.icon-cart{
	background-position:-128px -64px;
}

.icon-32.icon-carwheel{
	background-position:-160px -64px;
}

.icon-32.icon-caution{
	background-position:-192px -64px;
}

.icon-32.icon-chat{
	background-position:-224px -64px;
}

.icon-32.icon-check{
	background-position:-256px -64px;
}

.icon-32.icon-circlecompass{
	background-position:-288px -64px;
}

.icon-32.icon-clapboard{
	background-position:-0 -96px;
}

.icon-32.icon-clipboard{
	background-position:-32px -96px;
}

.icon-32.icon-clock{
	background-position:-64px -96px;
}

.icon-32.icon-cloud{
	background-position:-96px -96px;
}

.icon-32.icon-cmyk{
	background-position:-128px -96px;
}

.icon-32.icon-colorwheel{
	background-position:-160px -96px;
}

.icon-32.icon-compass{
	background-position:-192px -96px;
}

.icon-32.icon-compose{
	background-position:-224px -96px;
}

.icon-32.icon-computer{
	background-position:-256px -96px;
}

.icon-32.icon-cone{
	background-position:-288px -96px;
}

.icon-32.icon-contacts{
	background-position:-0 -128px;
}

.icon-32.icon-contrast{
	background-position:-32px -128px;
}

.icon-32.icon-countdown{
	background-position:-64px -128px;
}

.icon-32.icon-creditcard{
	background-position:-96px -128px;
}

.icon-32.icon-crop{
	background-position:-128px -128px;
}

.icon-32.icon-crossroads{
	background-position:-160px -128px;
}

.icon-32.icon-cruise{
	background-position:-192px -128px;
}

.icon-32.icon-cursor{
	background-position:-224px -128px;
}

.icon-32.icon-denied{
	background-position:-256px -128px;
}

.icon-32.icon-dev{
	background-position:-288px -128px;
}

.icon-32.icon-die{
	background-position:-0 -160px;
}

.icon-32.icon-document{
	background-position:-32px -160px;
}

.icon-32.icon-dolly{
	background-position:-64px -160px;
}

.icon-32.icon-door{
	background-position:-96px -160px;
}

.icon-32.icon-download{
	background-position:-128px -160px;
}

.icon-32.icon-easel{
	background-position:-160px -160px;
}

.icon-32.icon-email{
	background-position:-192px -160px;
}

.icon-32.icon-eye{
	background-position:-224px -160px;
}

.icon-32.icon-eyedropper{
	background-position:-256px -160px;
}

.icon-32.icon-fashion{
	background-position:-288px -160px;
}

.icon-32.icon-filmreel{
	background-position:-0 -192px;
}

.icon-32.icon-filmroll{
	background-position:-32px -192px;
}

.icon-32.icon-flag{
	background-position:-64px -192px;
}

.icon-32.icon-flame{
	background-position:-96px -192px;
}

.icon-32.icon-flash{
	background-position:-128px -192px;
}

.icon-32.icon-flower{
	background-position:-160px -192px;
}

.icon-32.icon-focus{
	background-position:-192px -192px;
}

.icon-32.icon-folder{
	background-position:-224px -192px;
}

.icon-32.icon-frames{
	background-position:-256px -192px;
}

.icon-32.icon-gamecontroller{
	background-position:-288px -192px;
}

.icon-32.icon-gas{
	background-position:-0 -224px;
}

.icon-32.icon-gear{
	background-position:-32px -224px;
}

.icon-32.icon-genius{
	background-position:-64px -224px;
}

.icon-32.icon-global{
	background-position:-96px -224px;
}

.icon-32.icon-globe{
	background-position:-128px -224px;
}

.icon-32.icon-gps{
	background-position:-160px -224px;
}

.icon-32.icon-hazard{
	background-position:-192px -224px;
}

.icon-32.icon-heart{
	background-position:-224px -224px;
}

.icon-32.icon-helicopter{
	background-position:-256px -224px;
}

.icon-32.icon-hotair{
	background-position:-288px -224px;
}

.icon-32.icon-hourglass{
	background-position:-0 -256px;
}

.icon-32.icon-image{
	background-position:-32px -256px;
}

.icon-32.icon-interstate{
	background-position:-64px -256px;
}

.icon-32.icon-key{
	background-position:-96px -256px;
}

.icon-32.icon-keyboard{
	background-position:-128px -256px;
}

.icon-32.icon-lens{
	background-position:-160px -256px;
}

.icon-32.icon-lightbulb{
	background-position:-192px -256px;
}

.icon-32.icon-loading{
	background-position:-224px -256px;
}

.icon-32.icon-location{
	background-position:-256px -256px;
}

.icon-32.icon-locked{
	background-position:-288px -256px;
}

.icon-32.icon-magicwand{
	background-position:-0 -288px;
}

.icon-32.icon-magnifyingglass{
	background-position:-32px -288px;
}

.icon-32.icon-mail{
	background-position:-64px -288px;
}

.icon-32.icon-map{
	background-position:-96px -288px;
}

.icon-32.icon-megaphone{
	background-position:-128px -288px;
}

.icon-32.icon-megaphone2{
	background-position:-160px -288px;
}

.icon-32.icon-memorycard{
	background-position:-192px -288px;
}

.icon-32.icon-merge{
	background-position:-224px -288px;
}

.icon-32.icon-mic{
	background-position:-256px -288px;
}

.icon-32.icon-microphone{
	background-position:-288px -288px;
}

.icon-32.icon-money{
	background-position:-0 -320px;
}

.icon-32.icon-motorcycle{
	background-position:-32px -320px;
}

.icon-32.icon-music{
	background-position:-64px -320px;
}

.icon-32.icon-news{
	background-position:-96px -320px;
}

.icon-32.icon-paintbrush{
	background-position:-128px -320px;
}

.icon-32.icon-paintbrush2{
	background-position:-160px -320px;
}

.icon-32.icon-paintcan{
	background-position:-192px -320px;
}

.icon-32.icon-paintroller{
	background-position:-224px -320px;
}

.icon-32.icon-parachute{
	background-position:-256px -320px;
}

.icon-32.icon-pencil{
	background-position:-288px -320px;
}

.icon-32.icon-phone{
	background-position:-0 -352px;
}

.icon-32.icon-piechart{
	background-position:-32px -352px;
}

.icon-32.icon-pin{
	background-position:-64px -352px;
}

.icon-32.icon-pin2{
	background-position:-96px -352px;
}

.icon-32.icon-plane{
	background-position:-128px -352px;
}

.icon-32.icon-play{
	background-position:-160px -352px;
}

.icon-32.icon-plugin{
	background-position:-192px -352px;
}

.icon-32.icon-polaroid{
	background-position:-224px -352px;
}

.icon-32.icon-polaroidcamera{
	background-position:-256px -352px;
}

.icon-32.icon-polaroids{
	background-position:-288px -352px;
}

.icon-32.icon-power{
	background-position:-0 -384px;
}

.icon-32.icon-present{
	background-position:-32px -384px;
}

.icon-32.icon-profle{
	background-position:-64px -384px;
}

.icon-32.icon-quote{
	background-position:-96px -384px;
}

.icon-32.icon-racingflags{
	background-position:-128px -384px;
}

.icon-32.icon-radio{
	background-position:-160px -384px;
}

.icon-32.icon-radiotower{
	background-position:-192px -384px;
}

.icon-32.icon-rainbow{
	background-position:-224px -384px;
}

.icon-32.icon-recycle{
	background-position:-256px -384px;
}

.icon-32.icon-rgb{
	background-position:-288px -384px;
}

.icon-32.icon-ribbon{
	background-position:-0 -416px;
}

.icon-32.icon-roadblock{
	background-position:-32px -416px;
}

.icon-32.icon-rocket{
	background-position:-64px -416px;
}

.icon-32.icon-rulertriangle{
	background-position:-96px -416px;
}

.icon-32.icon-running{
	background-position:-128px -416px;
}

.icon-32.icon-sailboat{
	background-position:-160px -416px;
}

.icon-32.icon-schooolbus{
	background-position:-192px -416px;
}

.icon-32.icon-scissors{
	background-position:-224px -416px;
}

.icon-32.icon-scooter{
	background-position:-256px -416px;
}

.icon-32.icon-security{
	background-position:-288px -416px;
}

.icon-32.icon-speaker{
	background-position:-0 -448px;
}

.icon-32.icon-spaceshuttle{
	background-position:-32px -448px;
}

.icon-32.icon-smartphone{
	background-position:-64px -448px;
}

.icon-32.icon-slr{
	background-position:-96px -448px;
}

.icon-32.icon-skateboard{
	background-position:-128px -448px;
}

.icon-32.icon-shop{
	background-position:-160px -448px;
}

.icon-32.icon-shoeprints{
	background-position:-192px -448px;
}

.icon-32.icon-shipwheel{
	background-position:-224px -448px;
}

.icon-32.icon-settings{
	background-position:-256px -448px;
}

.icon-32.icon-selftimer{
	background-position:-288px -448px;
}

.icon-32.icon-speedometer{
	background-position:-0 -480px;
}

.icon-32.icon-spraypaint{
	background-position:-32px -480px;
}

.icon-32.icon-stack{
	background-position:-64px -480px;
}

.icon-32.icon-star{
	background-position:-96px -480px;
}

.icon-32.icon-steeringwheel{
	background-position:-128px -480px;
}

.icon-32.icon-stop{
	background-position:-160px -480px;
}

.icon-32.icon-sub{
	background-position:-192px -480px;
}

.icon-32.icon-submarine{
	background-position:-224px -480px;
}

.icon-32.icon-support{
	background-position:-256px -480px;
}

.icon-32.icon-swatches{
	background-position:-288px -480px;
}

.icon-32.icon-tablet{
	background-position:-0 -512px;
}

.icon-32.icon-takeoff{
	background-position:-32px -512px;
}

.icon-32.icon-target{
	background-position:-64px -512px;
}

.icon-32.icon-taxi{
	background-position:-96px -512px;
}

.icon-32.icon-toolbox{
	background-position:-128px -512px;
}

.icon-32.icon-tools{
	background-position:-160px -512px;
}

.icon-32.icon-tractor{
	background-position:-192px -512px;
}

.icon-32.icon-traffic{
	background-position:-224px -512px;
}

.icon-32.icon-train{
	background-position:-256px -512px;
}

.icon-32.icon-travelerbag{
	background-position:-288px -512px;
}

.icon-32.icon-trends{
	background-position:-0 -544px;
}

.icon-32.icon-tripod{
	background-position:-32px -544px;
}

.icon-32.icon-trophy{
	background-position:-64px -544px;
}

.icon-32.icon-truck{
	background-position:-96px -544px;
}

.icon-32.icon-tv{
	background-position:-128px -544px;
}

.icon-32.icon-typography{
	background-position:-160px -544px;
}

.icon-32.icon-ufo{
	background-position:-192px -544px;
}

.icon-32.icon-umbrella{
	background-position:-224px -544px;
}

.icon-32.icon-unicycle{
	background-position:-256px -544px;
}

.icon-32.icon-unlocked{
	background-position:-288px -544px;
}

.icon-32.icon-upload{
	background-position:-0 -576px;
}

.icon-32.icon-video{
	background-position:-32px -576px;
}

.icon-32.icon-videocameraclassic{
	background-position:-64px -576px;
}

.icon-32.icon-videocameracompact{
	background-position:-96px -576px;
}

.icon-32.icon-volume{
	background-position:-128px -576px;
}

.icon-32.icon-water{
	background-position:-160px -576px;
}

.icon-32.icon-weather{
	background-position:-192px -576px;
}

.icon-32.icon-windsock{
	background-position:-224px -576px;
}

.icon-32.icon-windy{
	background-position:-256px -576px;
}

.icon-32.icon-x{
	background-position:-288px -576px;
}

.icon-32.icon-zoomin{
	background-position:0 -608px;
}

.icon-32.icon-zoomout{
	background-position:-32px -608px;
}

/*
Icon 24
=========================== */
.icon-24.icon-anchor{
	background-position:0 0;
}

.icon-24.icon-aperture{
	background-position:-24px 0;
}

.icon-24.icon-arrow-down{
	background-position:-48px 0;
}

.icon-24.icon-arrow-up{
	background-position:-72px 0;
}

.icon-24.icon-art{
	background-position:-96px 0;
}

.icon-24.icon-barchart{
	background-position:-120px 0;
}

.icon-24.icon-batteryfull{
	background-position:-144px 0;
}

.icon-24.icon-batterylow{
	background-position:-168px 0;
}

.icon-24.icon-bike{
	background-position:-192px 0;
}

.icon-24.icon-biker{
	background-position:-216px 0;
}

.icon-24.icon-bikewheel{
	background-position:0 -24px;
}

.icon-24.icon-blimp{
	background-position:-24px -24px;
}

.icon-24.icon-bolt{
	background-position:-48px -24px;
}

.icon-24.icon-bomb{
	background-position:-72px -24px;
}

.icon-24.icon-booklet{
	background-position:-96px -24px;
}

.icon-24.icon-bookshelf{
	background-position:-120px -24px;
}

.icon-24.icon-briefcase{
	background-position:-144px -24px;
}

.icon-24.icon-brightness{
	background-position:-168px -24px;
}

.icon-24.icon-browser{
	background-position:-192px -24px;
}

.icon-24.icon-brush-pencil{
	background-position:-216px -24px;
}

.icon-24.icon-calculator{
	background-position:-0 -48px;
}

.icon-24.icon-calendar{
	background-position:-24px -48px;
}

.icon-24.icon-camera{
	background-position:-48px -48px;
}

.icon-24.icon-car{
	background-position:-72px -48px;
}

.icon-24.icon-cart{
	background-position:-96px -48px;
}

.icon-24.icon-carwheel{
	background-position:-120px -48px;
}

.icon-24.icon-caution{
	background-position:-144px -48px;
}

.icon-24.icon-chat{
	background-position:-168px -48px;
}

.icon-24.icon-check{
	background-position:-192px -48px;
}

.icon-24.icon-circlecompass{
	background-position:-216px -48px;
}

.icon-24.icon-clapboard{
	background-position:-0 -72px;
}

.icon-24.icon-clipboard{
	background-position:-24px -72px;
}

.icon-24.icon-clock{
	background-position:-48px -72px;
}

.icon-24.icon-cloud{
	background-position:-72px -72px;
}

.icon-24.icon-cmyk{
	background-position:-96px -72px;
}

.icon-24.icon-colorwheel{
	background-position:-120px -72px;
}

.icon-24.icon-compass{
	background-position:-144px -72px;
}

.icon-24.icon-compose{
	background-position:-168px -72px;
}

.icon-24.icon-computer{
	background-position:-192px -72px;
}

.icon-24.icon-cone{
	background-position:-216px -72px;
}

.icon-24.icon-contacts{
	background-position:-0 -96px;
}

.icon-24.icon-contrast{
	background-position:-24px -96px;
}

.icon-24.icon-countdown{
	background-position:-48px -96px;
}

.icon-24.icon-creditcard{
	background-position:-72px -96px;
}

.icon-24.icon-crop{
	background-position:-96px -96px;
}

.icon-24.icon-crossroads{
	background-position:-120px -96px;
}

.icon-24.icon-cruise{
	background-position:-144px -96px;
}

.icon-24.icon-cursor{
	background-position:-168px -96px;
}

.icon-24.icon-denied{
	background-position:-192px -96px;
}

.icon-24.icon-dev{
	background-position:-216px -96px;
}

.icon-24.icon-die{
	background-position:-0 -120px;
}

.icon-24.icon-document{
	background-position:-24px -120px;
}

.icon-24.icon-dolly{
	background-position:-48px -120px;
}

.icon-24.icon-door{
	background-position:-72px -120px;
}

.icon-24.icon-download{
	background-position:-96px -120px;
}

.icon-24.icon-easel{
	background-position:-120px -120px;
}

.icon-24.icon-email{
	background-position:-144px -120px;
}

.icon-24.icon-eye{
	background-position:-168px -120px;
}

.icon-24.icon-eyedropper{
	background-position:-192px -120px;
}

.icon-24.icon-fashion{
	background-position:-216px -120px;
}

.icon-24.icon-filmreel{
	background-position:-0 -144px;
}

.icon-24.icon-filmroll{
	background-position:-24px -144px;
}

.icon-24.icon-flag{
	background-position:-48px -144px;
}

.icon-24.icon-flame{
	background-position:-72px -144px;
}

.icon-24.icon-flash{
	background-position:-96px -144px;
}

.icon-24.icon-flower{
	background-position:-120px -144px;
}

.icon-24.icon-focus{
	background-position:-144px -144px;
}

.icon-24.icon-folder{
	background-position:-168px -144px;
}

.icon-24.icon-frames{
	background-position:-192px -144px;
}

.icon-24.icon-gamecontroller{
	background-position:-216px -144px;
}

.icon-24.icon-gas{
	background-position:-0 -168px;
}

.icon-24.icon-gear{
	background-position:-24px -168px;
}

.icon-24.icon-genius{
	background-position:-48px -168px;
}

.icon-24.icon-global{
	background-position:-72px -168px;
}

.icon-24.icon-globe{
	background-position:-96px -168px;
}

.icon-24.icon-gps{
	background-position:-120px -168px;
}

.icon-24.icon-hazard{
	background-position:-144px -168px;
}

.icon-24.icon-heart{
	background-position:-168px -168px;
}

.icon-24.icon-helicopter{
	background-position:-192px -168px;
}

.icon-24.icon-hotair{
	background-position:-216px -168px;
}

.icon-24.icon-hourglass{
	background-position:-0 -192px;
}

.icon-24.icon-image{
	background-position:-24px -192px;
}

.icon-24.icon-interstate{
	background-position:-48px -192px;
}

.icon-24.icon-key{
	background-position:-72px -192px;
}

.icon-24.icon-keyboard{
	background-position:-96px -192px;
}

.icon-24.icon-lens{
	background-position:-120px -192px;
}

.icon-24.icon-lightbulb{
	background-position:-144px -192px;
}

.icon-24.icon-loading{
	background-position:-168px -192px;
}

.icon-24.icon-location{
	background-position:-192px -192px;
}

.icon-24.icon-locked{
	background-position:-216px -192px;
}

.icon-24.icon-magicwand{
	background-position:-0 -216px;
}

.icon-24.icon-magnifyingglass{
	background-position:-24px -216px;
}

.icon-24.icon-mail{
	background-position:-48px -216px;
}

.icon-24.icon-map{
	background-position:-72px -216px;
}

.icon-24.icon-megaphone{
	background-position:-96px -216px;
}

.icon-24.icon-megaphone2{
	background-position:-120px -216px;
}

.icon-24.icon-memorycard{
	background-position:-144px -216px;
}

.icon-24.icon-merge{
	background-position:-168px -216px;
}

.icon-24.icon-mic{
	background-position:-192px -216px;
}

.icon-24.icon-microphone{
	background-position:-216px -216px;
}

.icon-24.icon-money{
	background-position:-0 -240px;
}

.icon-24.icon-motorcycle{
	background-position:-24px -240px;
}

.icon-24.icon-music{
	background-position:-48px -240px;
}

.icon-24.icon-news{
	background-position:-72px -240px;
}

.icon-24.icon-paintbrush{
	background-position:-96px -240px;
}

.icon-24.icon-paintbrush2{
	background-position:-120px -240px;
}

.icon-24.icon-paintcan{
	background-position:-144px -240px;
}

.icon-24.icon-paintroller{
	background-position:-168px -240px;
}

.icon-24.icon-parachute{
	background-position:-192px -240px;
}

.icon-24.icon-pencil{
	background-position:-216px -240px;
}

.icon-24.icon-phone{
	background-position:-0 -264px;
}

.icon-24.icon-piechart{
	background-position:-24px -264px;
}

.icon-24.icon-pin{
	background-position:-48px -264px;
}

.icon-24.icon-pin2{
	background-position:-72px -264px;
}

.icon-24.icon-plane{
	background-position:-96px -264px;
}

.icon-24.icon-play{
	background-position:-120px -264px;
}

.icon-24.icon-plugin{
	background-position:-144px -264px;
}

.icon-24.icon-polaroid{
	background-position:-168px -264px;
}

.icon-24.icon-polaroidcamera{
	background-position:-192px -264px;
}

.icon-24.icon-polaroids{
	background-position:-216px -264px;
}

.icon-24.icon-power{
	background-position:-0 -288px;
}

.icon-24.icon-present{
	background-position:-24px -288px;
}

.icon-24.icon-profle{
	background-position:-48px -288px;
}

.icon-24.icon-quote{
	background-position:-72px -288px;
}

.icon-24.icon-racingflags{
	background-position:-96px -288px;
}

.icon-24.icon-radio{
	background-position:-120px -288px;
}

.icon-24.icon-radiotower{
	background-position:-144px -288px;
}

.icon-24.icon-rainbow{
	background-position:-168px -288px;
}

.icon-24.icon-recycle{
	background-position:-192px -288px;
}

.icon-24.icon-rgb{
	background-position:-216px -288px;
}

.icon-24.icon-ribbon{
	background-position:-0 -312px;
}

.icon-24.icon-roadblock{
	background-position:-24px -312px;
}

.icon-24.icon-rocket{
	background-position:-48px -312px;
}

.icon-24.icon-rulertriangle{
	background-position:-72px -312px;
}

.icon-24.icon-running{
	background-position:-96px -312px;
}

.icon-24.icon-sailboat{
	background-position:-120px -312px;
}

.icon-24.icon-schooolbus{
	background-position:-144px -312px;
}

.icon-24.icon-scissors{
	background-position:-168px -312px;
}

.icon-24.icon-scooter{
	background-position:-192px -312px;
}

.icon-24.icon-security{
	background-position:-216px -312px;
}

.icon-24.icon-speaker{
	background-position:-0 -336px;
}

.icon-24.icon-spaceshuttle{
	background-position:-24px -336px;
}

.icon-24.icon-smartphone{
	background-position:-48px -336px;
}

.icon-24.icon-slr{
	background-position:-72px -336px;
}

.icon-24.icon-skateboard{
	background-position:-96px -336px;
}

.icon-24.icon-shop{
	background-position:-120px -336px;
}

.icon-24.icon-shoeprints{
	background-position:-144px -336px;
}

.icon-24.icon-shipwheel{
	background-position:-168px -336px;
}

.icon-24.icon-settings{
	background-position:-192px -336px;
}

.icon-24.icon-selftimer{
	background-position:-216px -336px;
}

.icon-24.icon-speedometer{
	background-position:-0 -360px;
}

.icon-24.icon-spraypaint{
	background-position:-24px -360px;
}

.icon-24.icon-stack{
	background-position:-48px -360px;
}

.icon-24.icon-star{
	background-position:-72px -360px;
}

.icon-24.icon-steeringwheel{
	background-position:-96px -360px;
}

.icon-24.icon-stop{
	background-position:-120px -360px;
}

.icon-24.icon-sub{
	background-position:-144px -360px;
}

.icon-24.icon-submarine{
	background-position:-168px -360px;
}

.icon-24.icon-support{
	background-position:-192px -360px;
}

.icon-24.icon-swatches{
	background-position:-216px -360px;
}

.icon-24.icon-tablet{
	background-position:-0 -384px;
}

.icon-24.icon-takeoff{
	background-position:-24px -384px;
}

.icon-24.icon-target{
	background-position:-48px -384px;
}

.icon-24.icon-taxi{
	background-position:-72px -384px;
}

.icon-24.icon-toolbox{
	background-position:-96px -384px;
}

.icon-24.icon-tools{
	background-position:-120px -384px;
}

.icon-24.icon-tractor{
	background-position:-144px -384px;
}

.icon-24.icon-traffic{
	background-position:-168px -384px;
}

.icon-24.icon-train{
	background-position:-192px -384px;
}

.icon-24.icon-travelerbag{
	background-position:-216px -384px;
}

.icon-24.icon-trends{
	background-position:-0 -408px;
}

.icon-24.icon-tripod{
	background-position:-24px -408px;
}

.icon-24.icon-trophy{
	background-position:-48px -408px;
}

.icon-24.icon-truck{
	background-position:-72px -408px;
}

.icon-24.icon-tv{
	background-position:-96px -408px;
}

.icon-24.icon-typography{
	background-position:-120px -408px;
}

.icon-24.icon-ufo{
	background-position:-144px -408px;
}

.icon-24.icon-umbrella{
	background-position:-168px -408px;
}

.icon-24.icon-unicycle{
	background-position:-192px -408px;
}

.icon-24.icon-unlocked{
	background-position:-216px -408px;
}

.icon-24.icon-upload{
	background-position:-0 -432px;
}

.icon-24.icon-video{
	background-position:-24px -432px;
}

.icon-24.icon-videocameraclassic{
	background-position:-48px -432px;
}

.icon-24.icon-videocameracompact{
	background-position:-72px -432px;
}

.icon-24.icon-volume{
	background-position:-96px -432px;
}

.icon-24.icon-water{
	background-position:-120px -432px;
}

.icon-24.icon-weather{
	background-position:-144px -432px;
}

.icon-24.icon-windsock{
	background-position:-168px -432px;
}

.icon-24.icon-windy{
	background-position:-192px -432px;
}

.icon-24.icon-x{
	background-position:-216px -432px;
}

.icon-24.icon-zoomin{
	background-position:0 -456px;
}

.icon-24.icon-zoomout{
	background-position:-24px -456px;
}