

.noo1-main{


       padding: 0px 0px 0;
    border-right: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
	
}



.form-actions1{
	
margin-left:7%;
}
element.style {
}
.jpanel-body1 {
    background: #fff;
    padding: 0px;
 
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar-nav ul.sub-menu li>a:hover,.navbar-nav ul.sub-menu li>a:focus,.navbar-nav ul.sub-menu li:hover>a,.navbar-nav ul.sub-menu li.sfHover>a,.navbar-nav ul.sub-menu li.current-menu-item>a,.posts-loop.grid .event-info a:hover,.posts-loop.grid.staffs .loop-item-title a,.job-action a.bookmark-job i:hover,.job-action a.bookmark-job.bookmarked,.resume .title-general1 span,.member-manage .table tbody tr:hover a:not(.btn-primary):hover,.noo-pricing-table .noo-pricing-column .pricing-content .pricing-info ul li i,.woocommerce ul.products li.product figure .product-wrap .shop-loop-actions a:hover,.woocommerce ul.products li.product figcaption .product_title a:hover,h2.comments-title span,.comment-reply-link,.comment-author a:hover,.wigetized .widget a:hover,.wigetized .widget ul li a:hover,.wigetized .widget ol li a:hover,.wigetized .widget.widget_recent_entries li a:hover,.btn-link:hover,.btn-link:focus,.noo-social a:hover,.login-form-links>span a,.login-form-links>span .fa,.form-control-flat>.radio i,.form-control-flat>.checkbox i {
	color:#1e1e1e;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover, a:hover, a:focus, .text-primary1, a.text-primary:hover, .noo-menu li>a:hover, .noo-menu li>a:active, .noo-menu li.current-menu-item>a, body.page-menu-transparent .navbar:not(.navbar-fixed-top) .navbar-nav>li>a:hover, .navbar-nav li>a:hover, .navbar-nav li>a:focus, .navbar-nav li:hover>a, .navbar-nav li.sfHover>a, .navbar-nav li.current-menu-item>a {
  color: #80bb03;
}
.fa-question-circle1:before {
    content: "\f059";
    color: #80bb03;
}

.jpanel-body {
    background: #fff;
    padding:20px;
}
.resume-desc{
    margin-top: -24px;
}
.resume .resume-content .resume-desc .resume-general ul li span {
    width: 29%;
    float: left;
    font-weight: 700;
	}
hr{margin-bottom:1.6428571428571em;border-top:1px solid #dedede}

.resume .resume-content .resume-desc .resume-general ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 13px;
	}
	body {
    font-size: 13px;
	}
	.form-group {
    margin-bottom: 0.500em;
    position: relative;
}
	
	
 .resume-timeline1 {
    padding: -3.857143em 0;
}
.form-control1, .form-group .chosen-container-multi .chosen-choices, .form-group .chosen-container-single, .widget_newsletterwidget .newsletter-email, .wpcf7-form-control:not(.wpcf7-submit) {
    display: block;
    width: 100%;
    padding: .42857142857142855em 1.2857142857142856em;
    font-size: 14px;
    line-height: 0.7;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    letter-spacing: .5px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.container-boxed max{
    border: 1px solid #dedede;
    padding-top: 7px;
}
.jobs{
font-size: small;
    font-weight: 100;
}
.shadow-box

{
        border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
	    padding: 11px 20px;
		
		background-color: white;
    margin-top: 12px;
}
.upper{
      margin: 3% 10%;
	
}
.back-b{

    background-color: #f1f1f1;
    padding: 6px 8px;
}
.form-controls {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
 
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
    color: #555;
    display: block;
    font-size: 14px;
   
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
    width: 100%;
	}
	
	.back-color{background: #e9ebee;}
	
	.scrolf{
	width: 200px; height: 200px; overflow: scroll;
	}
	.font-change{
	    font: normal 12px Arial, Helvetica, sans-serif;
		 text-transform: lowercase;
	
    margin-bottom: 10px;
  
    line-height: 30px;

		}
		
		.label-style {
    text-transform: capitalize;
    font-size: 13px;
    /* text-transform: uppercase; */
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 30px;
    font-family: Arial;
}
.help-block1 {
    display: block;
    margin-bottom: 10px;
    color: #818a8d;
    font-size: 12px;
	margin-top: 1px;
}
.borders{
border: 1px solid #e9ebee;
}
.ty{
    background-color: #f1f1f1;
	    padding: 2%;
}
.div-height{
     margin-top: 225px;
    padding-bottom: 15px;
}