/* ==============================================================

Template name : Cobian flat bootstrap landing page
Categorie : Site template
Author : Nce18cex
Version : v1.0.0
Created : 20 Oktober  2015
Last update : 2 Nopember 2015

-----------------------------------------------------------------
CSS structure
-----------------------------------------------------------------

01. Navbar
02. Logo
03. Section
04. Home
05. Features
06. List Style
07. Parallax
08. Clear Padding
09. Description
10. Testimonial
11. Table Price
12. Gallery
13. Article
14. Comments
15. Call To Action
16. Inner page
17. Aside
18. Contact
19. Footer
20. Subscribe
21. Twitter Feed
22. Social Network
23. Scroll to top
24. Media responsive
25. Divider
26. Preloading
27. Clear spacer
28. Custom top spacer
29. Custom bottom spacer
30. Custom left spacer
31. Custom right spacer
32. Responsive
	
============================================================== */

/*
Navbar
=========================== */
.mainmenu{
    background: #fff;
    border-bottom: solid 4px #f1f1f1;
}

.mainmenu ul.nav.navbar-nav > li > a{
    padding: 24px 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #48494b;
    font-size: 14px;
    margin-bottom: -4px;
    letter-spacing: 1px;
    border-bottom: solid 4px transparent;
}

.mainmenu ul.nav.navbar-nav > li > a:hover,
.mainmenu ul.nav.navbar-nav > li > a:focus,
.mainmenu ul.nav.navbar-nav > li.active > a{
    background: none;
}

nav.navbar.nav-fixed .mainmenu{
    border-bottom: solid 4px #e9e9e9;
}

nav.navbar.nav-fixed .mainmenu ul.nav.navbar-nav > li > a{
    padding: 18px 14px;
}

.submenu{
    position: relative;
    overflow: hidden;
}

.ribbon{
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    width: 60%;
    height: 100%;
    background: #fff;
}

.submenu .nav.navbar-nav{
    display: table;
    position: relative;
    z-index: 2;
    padding: 7px 9px 7px 4px;
}

.submenu .nav.navbar-nav:before{
    position: absolute;
    width: 103px;
    height: 43px;
    left: -61px;
    background: url(../images/nav-radius.png) no-repeat 0 0;
    top: 10px;
    border: none;
}

.submenu .nav.navbar-nav:after,
.submenu .nav.navbar-nav{
    background-color: #3a4557;
}

.submenu .nav.navbar-nav li{
    color: #c3c7ce;
    padding: 0 18px;
    position: relative;
    font-size: 14px;
}

.submenu .nav.navbar-nav li .fa{
    margin-right: 5px;
}

.submenu .nav.navbar-nav li.sub-link{
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 18px;
    padding-left: 16px;
}

.submenu .nav.navbar-nav li.sub-link:after{
    content:"|";
    position: absolute;
    right: -1px;
    top: 4px;
}

.submenu .nav.navbar-nav li.sub-link:last-child:after{
    display: none;
}

.submenu .nav.navbar-nav li.link{
    padding-right: 0;
    padding-bottom: 4px;
    padding-top: 4px;
}

.submenu .nav.navbar-nav li.link a{
    color: #c3c7ce;
    padding: 0;
    display: inline-block;
    text-transform: uppercase;
}

.submenu .nav.navbar-nav li.link-btn{
    padding-right: 0;
}

.submenu .nav.navbar-nav li.link-btn a.btn{
    padding: 5px 15px;
    color: #fff;
    font-size: 13px;
    border-bottom: solid 2px;
}

.submenu .nav.navbar-nav li.link-btn a.btn:last-child{
    margin-right: 0;
}

/*
Logo
=========================== */
img.logo{
    width: 106px;
    height: 37px;
    margin-top: -9px;
    z-index: 3;
    position: relative;
    -webkit-transition: margin 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: margin 0.5s;
    transition-timing-function: linear;
}

img.logo-footer{
    display: block;
    width: 106px;
    height: 37px;
    margin: 0 0 25px 0;
}

nav.navbar.nav-fixed img.logo{
    margin-top: 5px;
}

/*
Section
=========================== */
.title-section{
    text-align: center;
    margin-bottom: 22px;
}

.title-section .title{
    margin-bottom: 18px;
}

.title-section .title span{
    display: block;
    font-size: 16px;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.title-section .line{
    display: table;
    width: 362px;
    margin: auto;
    position: relative;
    background-image: url(../images/title-section/line.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.title-section .icon{
    display: table;
    margin: auto;
}

.services-column{
	background:url(../images/dashed-line.png) no-repeat bottom center;
	padding-bottom:190px;
	margin-bottom:20px;
}

/*
Home
=========================== */


.home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home h5,
.home h6{
    color: #fff;
}

.home .title-one{
    text-shadow: 4px 4px 0px #538f9e;
    margin-bottom: 23px;
}

.home .title-two{
    text-shadow: 2px 2px 0px #538f9e;
    margin-bottom: 21px;
}

.home .street{
	display:block;
	width:100%;
	height:40px;
    background-image: url(../images/home/street.png);
    background-position: bottom;
    background-repeat: repeat-x;
}

.home-container{
    background-image: url(../images/home/city.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-top: 240px;
	padding-bottom: 370px;
	width:100%;
	display:block;
}

.grid-padding{
	padding-bottom: 120px;
	font-size:16px;
    text-shadow: 1px 1px 0px #538f9e;
}

/*
Features
=========================== */
/*Feature One -----*/
.wrap-feature-one{
    display: block;
    position: relative;
    
}

.feature-one{
    text-align: center;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.feature-one > .icon{
    width: 64px;
    height: 64px;
    margin-top: 9px;
    margin-bottom: 15px;
}

.feature-one > .title{
    margin-bottom: 8px;
}

.feature-one > p{
    margin-bottom: 1px;
}

/*Feature Two -----*/
.wrap-feature-two{
    position: relative;
}

ul.feature-two{
    padding: 0;
    margin: 11px 0 0 0;
    display: inline-block;
    width: 100%;
    position: relative;
}

ul.feature-two li{
    list-style: none;
    display: block;
    position: relative;
    padding: 0;
    margin-bottom: 60px;
}

ul.feature-two li h5{
    margin-bottom: 7px;
}

ul.feature-two li .icon{
    width: 64px;
    height: 64px;
    position: absolute;
}

ul.feature-two .line{
    position: absolute;
    width: 2px;
    background-image: url(../images/features/v-line.png);
    top: 30px;
    height: 78.5%;
}

ul.feature-two.left:before{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -15px;
    right: -29px;
    width: 25px;
    height: 10px;
    background-image: url(../images/features/middle-left.png);
}

ul.feature-two.left li{
    padding-right: 153px;
    text-align: right;
}

ul.feature-two.left li:after{
    content: "";
    position: absolute;
    right: 6px;
    top: 27px;
    width: 41px;
    height: 11px;
    background-image: url(../images/features/arrow-left.png);
}

ul.feature-two.left li .icon{
    top: 0;
    right: 69px;
}

ul.feature-two.left .line{
    right: 0;
}

ul.feature-two.right:before{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -15px;
    left: -29px;
    width: 25px;
    height: 10px;
    background-image: url(../images/features/middle-right.png);
}

ul.feature-two.right li{
    padding-left: 153px;
    text-align: left;
}

ul.feature-two.right li:after{
    content: "";
    position: absolute;
    left: 6px;
    top: 27px;
    width: 41px;
    height: 11px;
    background-image: url(../images/features/arrow-right.png);
}

ul.feature-two.right li .icon{
    top: 0;
    left: 69px;
}

ul.feature-two.right .line{
    left: 0;
}

/*Feature Three -----*/
.feature-three{
    position: relative;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    z-index: 0;
}

.feature-three:after{
    content:"";
    width: 205px;
    height: 28px;
    display: block;
    position: absolute;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-image: url(../images/features/arrow-full.png);
    right: -101.5px;
    top: 45px;
    z-index: 2;
}

.feature-three:last-child:after{
    display: none;
}

.feature-three .img-feature{
    position: relative;
    display: inline-block;
	width:100px;
	height:100px;
    margin: 0 auto 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 13px;
    border: solid 5px #768397;
	text-align:center;
}

.feature-three .img-feature .count{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #768397;
    font-weight: bold;
    top: 0;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    padding: 0;
    line-height: 20px;
}

.feature-three .img-feature .count:after{
    content:"";
    margin-right: 1px;
    position: relative;
}

.feature-three h5{
    text-transform: uppercase;
    margin-bottom: 4px;
}

.feature-three p{
    margin-bottom: 1px;
}

/*
List Style
=========================== */
/*List Checked -----*/
ul.list-checked{
    padding: 0;
    margin: 0px 0 15px 0;
    display: inline-block;
}

ul.list-checked li{
    display: block;
    list-style: none;
}

ul.list-checked li:before{
    font-family: 'FontAwesome';
    content:"\f00c";
    margin-right: 8px;
    font-size: 16px;
}

/*
Parallax
=========================== */
.parallax{
    margin: 0 auto;
	overflow-y: visible;
	width: 100%;
}

.overlay{
    background: #272727;
    opacity: 0.7;
    filter: alpha(opacity=80);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
Clear Padding
=========================== */
.cp-top{
    padding-top: 0;
}

.cp-left{
    padding-left: 0;
}

.cp-right{
    padding-right: 0;
}

.cp-bottom{
    padding-bottom: 0;
}

/*
Description
=========================== */
.content-desc{
    position: relative;
    padding-top: 58px;
}

.content-desc > p{
    margin-bottom: 10px;
}

.img-desc{
    position: relative;
}

.img-desc img{
    margin-top: 14px;
    margin-bottom: 17px;
}

/*
Testimonial
=========================== */
.testimonial{
    position: relative;
    padding: 71px 0 0 0;
    overflow: hidden;
}

.wrap-testimonial{
    position: relative;
    padding-bottom: 0;
    color: #ede9e9;
    overflow: hidden;
}

.wrap-testimonial blockquote footer{
    color: #ede9e9;
    font-style: normal;
    padding: 0 110px 0 50px;
    background: none;
}

.wrap-testimonial blockquote footer:before{
    content:"";
}

.wrap-testimonial blockquote a:hover,
.wrap-testimonial blockquote a:focus,
.wrap-testimonial blockquote a{
    color: #fff;
}

.wrap-testimonial img{
    margin-bottom: -1px;
}

.wrap-testimonial .item .content,
.wrap-testimonial .item .photo{
    position: relative;
}

img.arrow{
    position: absolute;
    bottom: -25px;
}

img.arrow.right{
    right: 20px;
}

img.arrow.left{
    left: 20px;
}

ul.list-author{
    position: relative;
    margin: 0 auto 0px;
    display: table;
    width: 789px;
    padding: 0 67px;
    background: #4e5c72;
    z-index: 2;
}

ul.list-author:before{
    content:"";
    width: 103px;
    height: 44px;
    position: absolute;
    background-size: cover;
    background-image: url(../images/testimonial/radius-left.png);
    background-position: center center;
    left: -103px;
    top: 0;
}

ul.list-author:after{
    content:"";
    width: 103px;
    height: 44px;
    position: absolute;
    background-size: cover;
    background-image: url(../images/testimonial/radius-right.png);
    background-position: center center;
    right: -103px;
    top: 0;
}

ul.list-author li{
    list-style: none;
    display: block;
    text-align: center;
    padding: 12px 5px 9px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

ul.list-author li:before{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1px;
    background: #7b8594;
}

ul.list-author li:first-child{
    background: none;
}

ul.list-author li h6 small{
    color: #bdc3cb;
    margin-top: 6px;
    display: block;
    font-size: 11px;
}

ul.list-author li h6{
    margin-bottom: 0px;
    display: inline-block;
    color: #c3c7ce;
}

ul.list-author li:hover h6,
ul.list-author .owl-item.active h6{
    color: #fff;
}

ul.list-author .owl-item.active li:after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -9px;
    border-top: solid 8px;
    border-left: solid 9px transparent !important;
    border-right: solid 9px transparent !important;
}

ul.list-author li:last-child{
    border: none;
}

.bg-dark{
    background: #4e5c72;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 0;
}

/*
Table Price
=========================== */
.wrap-price{
    position: relative;
}

.table-price{
    background: #fcfcfd;
    border: solid 1px #cdced1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-top: 18px;
    margin-bottom: 9px;
}

.table-price .title-price{
    text-transform: uppercase;
    background: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    padding: 15px 5px;
}

.table-price .title-price h4{
    color: #fff;
    margin-bottom: 0px;
}

.table-price .price{
    position: relative;
    padding: 20px 5px;
}

.table-price .price h2{
    background: #ccc;
    padding-top: 25px;
    color: #fff;
    display: table;
    margin: auto;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}

.table-price .price h2 .point{
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}

.table-price .price h2 span{
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    position: relative;
    top: -13px;
}

ul.list-feature{
    padding: 0;
    margin: 0;
    display: block;
}

ul.list-feature li{
    position: relative;
    list-style: none;
    font-size: 16px;
    padding: 8px 5px;
}

ul.list-feature li.current{
    background: #f0f0f0;
}

.footer-price{
    position: relative;
    padding: 19px 5px 10px;
}

.table-price.info .title-price{
    background: #77b3d4;
}

.table-price.info .price h2{
    background: #77b3d4;
}

.table-price.info ul.list-feature li.current{
    background: #c7dfed;
}

.table-price.success .title-price{
    background: #76c2af;
}

.table-price.success .price h2{
    background: #76c2af;
}

.table-price.success ul.list-feature li.current{
    background: #c6e5de;
}

.table-price.danger .title-price{
    background: #c75c5c;
}

.table-price.danger .price h2{
    background: #c75c5c;
}

.table-price.danger ul.list-feature li.current{
    background: #e7bcbd;
}

.table-price.warning .title-price{
    background: #e0995e;
}

.table-price.warning .price h2{
    background: #e0995e;
}

.table-price.warning ul.list-feature li.current{
    background: #f1d4bd;
}

/*
Gallery
=========================== */
ul.filter-items{
    padding: 0;
    margin: 0 auto;
    display: table;
}

ul.filter-items li{
    list-style: none;
    display: block;
    float: left;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #48494b;
    padding: 0 15px;
    position: relative;
}

ul.filter-items li:after{
    content: ".";
    position: absolute;
    right: -3px;
    bottom: 50%;
    margin-bottom: -6px;
    font-size: 25px;
    color: #4e5c72;
}

ul.filter-items li:last-child:after{
    display: none;
}

.masonry{
    margin-bottom: 9px;
}

.gallery{
    margin-bottom: -20px;
}

.masonry.gallery .grid-item{
    position: relative;
    display: block;
    margin-top: 28px;
    margin-bottom: 28px;
    height: auto;
}

.wrap-gallery{
    overflow: hidden;
    position: relative;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.wrap-gallery .img-wrapper{
    position: relative;
    overflow: hidden;
}

.wrap-gallery .img-wrapper .bg-gallery{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    display: none;
}

.wrap-gallery .img-wrapper a.hover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(../images/gallery/plus.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

.wrap-gallery .img-wrapper img{
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.wrap-gallery .img-wrapper:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.wrap-gallery .title-gallery{
    position: relative;
}

.wrap-gallery .title-gallery h5{
    margin-bottom: 0px;
}

.wrap-gallery .title-gallery h5 a{
    display: block;
    color: #eaedf2;
    text-align: center;
    background: #4e5c72;
    padding: 17px 5px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.wrap-gallery .title-gallery h5 a:hover{
    text-decoration: none;
}

/*
Article
=========================== */
article{
    border-bottom: solid 1px #cfcfcf;
	padding-bottom:50px;
	/*margin-bottom:50px;*/
}

.singlepost{
	padding-bottom:30px;
}

article h5 a{
	color:#48494b;
}

.wrap-post{
    margin-top: 21px;
    margin-bottom: 8px;
}

.post{
    position: relative;
}

.post .img-post{
    padding: 0;
}

.post .content-post{
    padding: 23px 27px;
}

.post .content-post h5{
    margin-bottom: 10px;
}

.post .content-post h5 a{
    color: #48494b;
}

ul.meta-post{
    padding: 0 0 17px 0;
    margin: 0;
    width: 100%;
    display: inline-block;
    border-bottom: solid 1px #cfcfcf;
}

article ul.meta-post{
	margin-bottom:15px;
}

ul.meta-post li{
    display: block;
    list-style: none;
    float:left;
    font-style: italic;
	margin-right:10px;
}

ul.meta-post li a{
    padding-right: 7.2px;
    font-size: 13px;
}

ul.meta-post li span,
ul.meta-post li a span{
	margin-right:5px;
}

.post .content-post p{
    margin-bottom: 16px;
}

.meta-column{
	background:#f6f7f9;
	border:1px solid #e5e6e8;
	border-bottom:none;
	font-size:13px;
	line-height:13px;
	text-align:center;
}

.meta-column span{
	display:block;
	border-bottom:1px solid #e5e6e8;
	padding:20px;
}

.meta-column span i{
	color:#48494b;
	font-size:24px;
	margin-bottom:10px;
}

/*
Comments
=========================== */
.comments{
	float:left;
	width:100%;
    border-bottom: solid 1px #cfcfcf;
	padding-bottom:60px;
	margin-bottom:45px;
}

.leave-comments{
	float:left;
	width:100%;
}

.comments h5,
.leave-comments h5{
	margin-bottom:25px;
}

.media-object{
	border:1px solid #e5e6e8;
	padding:5px;
}

.media-heading a{
	color:#48494b;
}

.media-body{
	border:1px solid #e5e6e8;
	padding:20px 20px 0 20px;
}

.media .media{
	margin-bottom:20px;
}

.media .media .media-object{
	background:#fcfcfc;
}

.media .media .media-body{
	background:#fcfcfc;
}

.reply{
	display:block;
	width:100%;
	text-align:right;
}

/*
Call To Action
=========================== */
.ct-action{
    color: #f6f7f9;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 10px;
}

.ct-action .title-one{
    color: #f6f7f9;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.ct-action .title-two{
    color: #f6f7f9;
    font-weight: 400;
    margin-bottom: 20px;
}

/*
Inner page
=========================== */
.inner-head.bg-animate{
    padding-top: 180px;
    padding-bottom: 90px;
    color: #fff;
    position: relative;
    overflow: hidden;
    background-image: url(../images/home/street.png);
    background-position: bottom;
    background-repeat: repeat-x;
    background-color: #5bacc0;
}

.inner-head.bg-animate .container{
    position: relative;
    z-index: 1;
}

.inner-head.bg-animate #AnimatedBg{
	background-image:url(../images/home/cloud.png);
}

.inner-head.bg-animate .fixed-page{
	background-position: center center;
	background-repeat: repeat-x;
	background-color:none;
	width:100%;
	height:270px;
	position:absolute;
	margin:0;
	top:10px;
}

.inner-head h3{
	color:#fff;
	font-size:46px;
	text-shadow: 4px 4px 0px #538f9e;
}

.inner-page{
	padding:60px 0 70px 0;
}

/*
Aside
=========================== */
.aside-navbar{
	padding-right:60px;
}

.navbar-menu{
	background:#f6f7f9;
	margin:0;
	padding:0;
}

.navbar-menu li{
	list-style:none;
	margin:0;
	padding:0;
}

.navbar-menu li a{
	color:#48494b;
	padding:15px 25px;
	display:block;
	border:1px solid #e5e6e8;
	margin-top:-1px;
	font-size:16px;
	font-weight:700;
	line-height:18px;
	position:relative;
}

.navbar-menu li a:hover{
	text-decoration:none;
}

.navbar-menu li.active a{
	color:#fff;
	background:#4e5c72;
}

.navbar-menu li.active a:hover{
	color:#fff;
}

.navbar-menu li.active a span{
	background:url(../images/tags.png) no-repeat 0 0;
	position:absolute;
	width:24px;
	height:48px;
	display:block;
	overflow:hidden;
	text-indent:-99999px;
	top:0;
	right:-24px;
	z-index:999;
}

aside .widget{
	float:left;
	width:100%;
	margin-bottom:20px;
}

aside .widget .widget-title{
	border-bottom:1px dashed #a5a6a7;
	padding-bottom:15px;
}

.cat{
	margin:0;
	padding:0;
}

.cat li{
	list-style:none;
	margin:0;
	padding:0;
}

.cat li a{
	color:#838485;
}

.cat li a i{
	margin-right:5px;
}

.recent{
	float:left;
	width:100%;
	margin:15px 0 0 0;
	padding:0;
}

.recent li{
	float:left;
	width:100%;
	list-style:none;
	margin:0 0 15px 0;
	padding:0;
	border-bottom:1px solid #f0f0f0;
}

.post-thumb{
	float:left;
	width:45px;
	height:45px;
	margin:0 20px 20px 0;
}

.recent li h6{
	margin-bottom:10px;
}

.recent li h6 a{
	color:#0b0b0b;
}

.recent li p{
	margin-bottom:15px;
}

ul.tags{
	float:left;
	width:100%;
	list-style:none;
	margin:15px 0 0 0;
	padding:0;
}

ul.tags li{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}

ul.tags li a{
	display:inline-block;
	color:#595959;
	border:1px solid #a9a9a9;
	padding:2px 15px;
	margin:0 3px 3px 0;
	font-size:12px;
}

ul.tags li a:hover{
	text-decoration:none;
}

/*
Contact
=========================== */
ul.listForm{
	float:left;
	width:100%;
	padding:0;
	margin:0;
}

ul.listForm li {
	float:left;
	width:50%;
	padding:0 10px;
	margin:0 0 30px 0;	
	list-style:none;	
}

ul.listForm li.last-list {
	margin-bottom:0;
}

ul.listForm li.full-list{
	width:100%;
}

#sendmessage{
	display:none;
}

#sendmessage.show,.show  {
	display:block;
}

/*
Footer
=========================== */
footer .main-footer{
    position: relative;
    padding: 70px 0 72px;
    background-color: #4e5c72;
    color: #c3c7ce;
}

footer .sub-footer{
    text-align: center;
    position: relative;
    padding: 12px 0 12px;
    color: #c3c7ce;
    background: #3a4557;
}

.footer-item{
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 9px;
}

.footer-item .title-footer{
    color: #efefef;
    margin-bottom: 9px;
    margin-top: -4px;
    text-transform: uppercase;
}

.footer-item:last-child{
    border: none;
}

.footer-item ul.footer-link{
    padding: 0;
    margin: 0;
    display: block;
}

.footer-item ul.footer-link li{
    list-style: none;
    margin-bottom: 5px;
}

.footer-item ul.footer-link li:last-child{
    margin-bottom: 0;
}

.footer-item ul.footer-link li a{
    color: #c3c7ce;
}

.footer-item ul.footer-link.bold li a{
    color: #c3c7ce;
    text-transform: uppercase;
    font-weight: bold;
}

/*
Subscribe
=========================== */
.form-subscribe{
	box-shadow:none;
	border:none;
	height:47px;
}

/*
Twitter Feed
=========================== */
ul.twitter-feed{
	padding: 0;
	margin: 0 0 7px 0;
	display:inline-block;
}

ul.twitter-feed li{
	background:url(../images/tweet.png) no-repeat 5px 11px;
	list-style:none;
	position:relative;
	padding: 1px 0 0 45px;
}

ul.twitter-feed li img{
	position:absolute;
	left:0px;
	top:10px;
	margin:5px 5px 5px 0px;
}

/*
Social Network
=========================== */
ul.social-network{
    padding: 0;
    margin: 0 0 -10px 0;
    display: inline-block;
}

ul.social-network li{
    display: block;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

ul.social-network li a{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    padding: 10px 0 0 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px #cfcfcf;
	color:#cfcfcf;
}

ul.social-network li a:hover{
    color: #fff;
}

/*
Scroll to top
=========================== */
.scroll.top{
    position: fixed;
    z-index: 5;
    display: none;
    bottom: 30px;
    right: 30px;
}

.scroll.top a{
    display: block;
    text-align: center;
    position: relative;
    width: 45px;
    height: 45px;
    padding-top: 6px;
    color: #c3c7ce;
    background: #3a4557;
    font-size: 18px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    border: solid 2px #fff;
}

.scroll.top a:hover{
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

/*
Media responsive
=========================== */
.video-container,.map-container,.embed-container{
	position:relative;
	margin:0;
	padding-bottom:58%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	border:none;
}

.embed-container iframe,
.embed-container object,
.embed-container embed,
.video-container iframe,
.map-container iframe,
.map-container object,
.map-container embed,
.video-container object,  
.video-container embed{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

iframe {
	border:none;
}

/*
Divider
=========================== */
.divider{
	float:left;
	width:100%;
	background:#ddd;
	width:100%;
	height:1px;
	margin:70px 0;
}

/*
Preloading
=========================== */
div.loading-invisible{
    display:none;
}

#loading{
	background:#5bacc1;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index:9999999;
	margin-top: 0px;
	top: 0px;
	color:#fff;
	text-align:center;
	font-size:18px;
	letter-spacing:4px;
}

.loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}

.loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 50px;
	width: 150px;
	margin-top: -25px;
	margin-left: -75px;

}

.loading-center p{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 65px;
	margin-left: -79px;	
}

.object{
	width: 8px;
	height: 50px;
	margin-right:5px;
	background-color: #FFF;
	-webkit-animation: animate 1s infinite;
	animation: animate 1s infinite;
	float: left;
}

.object:last-child {
	margin-right: 0px;
}

.object:nth-child(10){
	-webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;	
}

.object:nth-child(9){
	-webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;	
}	

.object:nth-child(8){
	-webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;	
}

.object:nth-child(7){
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;	
}

.object:nth-child(6){
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;	
}

.object:nth-child(5){
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.object:nth-child(4){
	-webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;		
}

.object:nth-child(3){
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;	
}

.object:nth-child(2){
	-webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
						
@-webkit-keyframes animate {
  50% {
	-ms-transform: scaleY(0); 
   	-webkit-transform: scaleY(0);
    transform: scaleY(0);
	}
}

@keyframes animate {
  50% {
	-ms-transform: scaleY(0); 
   	-webkit-transform: scaleY(0);
    transform: scaleY(0);
	}
}

/*
Clear spacer
=========================== */
.margin-clear{
	margin:0;
}

.padding-clear{
	padding:0;
}

.margintop-clear{
	margin-top:0;
}

.paddingtop-clear{
	padding-top:0;
}

.marginbot-clear{
	margin-bottom:0;
}

.paddingbot-clear{
	padding-bottom:0;
}

.marginbot-min180{
	margin-bottom:-180px;
}

.margintop-min15{
	margin-top:-15px;
}

/*
Custom top spacer
=========================== */
.margintop5{
	margin-top:5px;
}

.margintop10{
	margin-top:10px;
}

.margintop15{
	margin-top:15px;
}

.margintop20{
	margin-top:20px;
}

.margintop25{
	margin-top:25px;
}

.margintop30{
	margin-top:30px;
}

.margintop35{
	margin-top:35px;
}

.margintop40{
	margin-top:40px;
}

.margintop45{
	margin-top:45px;
}

.margintop50{
	margin-top:50px;
}

.margintop55{
	margin-top:55px;
}

.margintop60{
	margin-top:60px;
}

/*
Custom bottom spacer
=========================== */
.marginbot5{
	margin-bottom:5px;
}

.marginbot10{
	margin-bottom:10px;
}

.marginbot15{
	margin-bottom:15px;
}

.marginbot20{
	margin-bottom:20px;
}

.marginbot25{
	margin-bottom:25px;
}

.marginbot30{
	margin-bottom:30px;
}

.marginbot35{
	margin-bottom:35px;
}

.marginbot40{
	margin-bottom:40px;
}

.marginbot45{
	margin-bottom:45px;
}

.marginbot50{
	margin-bottom:50px;
}

.marginbot55{
	margin-bottom:55px;
}

.marginbot60{
	margin-bottom:60px;
}

.marginbot80{
	margin-bottom:80px;
}

/*
Custom left spacer
=========================== */
.marginleft5{
	margin-left:1px;
}

.marginleft10{
	margin-left:10px;
}

.marginleft15{
	margin-left:15px;
}

.marginleft20{
	margin-left:20px;
}

/*
Custom right spacer
=========================== */
.marginright5{
	margin-right:1px;
}

.marginright10{
	margin-right:10px;
}

.marginright15{
	margin-right:15px;
}

.marginright20{
	margin-right:20px;
}


/*
Responsive
=========================== */
@media (max-width:1024px){
    body{
        padding-top: 121px;
    }  
	.home-container{
		background-image: url(../images/home/city.png);
		background-position: top center;
		background-repeat: no-repeat;
		padding-top: 240px;
		padding-bottom: 330px;
	}
    ul.feature-two .line{
        position: absolute;
        width: 2px;
        background-image: url(../images/features/v-line.png);
        top: 30px;
        height: 76%;
    }
    
    ul.feature-two.left:before,
    ul.feature-two.right:before{
        margin-top: -28px;
    }
    
    .wrap-testimonial blockquote footer{
        padding: 0 150px 0 0;
    }
    
    .wrap-testimonial blockquote.right footer{
        padding: 0 0 0 100px;
    }
    
    img.arrow{
        margin-bottom: 10px;
        width: 70px;
    }
    
    img.arrow.right{
        right: 85px;
    }
    
    img.arrow.left{
        left: 90px;
    }
    
    .feature-three:after{
        width: 160px;
        height: 22px;
        right: -80px;
        top: 45px;
    }
}

@media (max-width:990px){
    body{
        padding-top: 122px;
    } 
	.home-container{
		background-size:cover;
		padding-top: 100px;
		padding-bottom: 230px;
	}
	.inner-head.bg-animate{
		padding-top: 60px;
		padding-bottom: 90px;
	}
	.inner-head.bg-animate .fixed-page{
		height:170px;
	}
    .mainmenu ul.nav.navbar-nav > li > a{
        padding: 24px 8px;
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        -o-transition: all 0s ease-in-out;
        -ms-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;
    }
    
    nav.navbar.nav-fixed .mainmenu ul.nav.navbar-nav > li > a{
        padding: 18px 8px;
    }

    .feature-one{
        margin-bottom: 20px;
        position: relative;
        display: block;
    }
    
     .wrap-feature-one{
        display: table;
        margin: auto;
        margin-bottom: -20px;
    }
    
    .img-desc img{
        padding-top: 0;
        margin-top: 9px;
    }
    
    .content-desc{
        padding-top: 0px;
        margin-bottom: 9px;
    }
    
    .wrap-testimonial{
        padding: 0 85px;
    }
    
    .wrap-feature-two{
        display: table;
        margin: 12px auto -20px;
    }
    
    .img-feature-two{
        display: table;
        margin: 60px auto;
    }
    
    ul.feature-two{
        padding: 0;
        margin: 0;
        display: table;
        margin: auto;
    }
    
    ul.feature-two li{
        float: left;
        padding: 0;
        width: 33.333333%;
        margin-bottom: 0px;
    }
    
    ul.feature-two .line{
        position: absolute;
        height: 2px !important;
        width: 100%;
        background-image: url(../images/features/h-line.png);
    }
    
    ul.feature-two li .icon{
        display: table;
        position: relative;
        margin-bottom: 8px;
        left: 50% !important;
        margin-left: -32px !important;
    }
    
    ul.feature-two.left .line{
        top: 100%;
    }
    
    ul.feature-two.left li{
        padding-right: 0px;
        padding: 0 10px 35px;
        text-align: center;
    }
    
    ul.feature-two.left:before{
        top: 100%;
        margin-top: 8px;
        right: 50%;
        margin-right: -5px;
        width: 10px;
        height: 25px;
        background-image: url(../images/features/middle-down.png);
    }
    
    ul.feature-two.left li:after{
        content: "";
        position: absolute;
        right: 50%;
        margin-right: -5px;
        top: 100%;
        margin-top: -46px;
        width: 11px;
        height: 41px;
        background-image: url(../images/features/arrow-top.png);
    }
    
    ul.feature-two.right .line{
        top: 0;
    }
    
    ul.feature-two.right li{
        padding-left: 0px;
        padding: 58px 10px 0;
        text-align: center;
    }
    
    ul.feature-two.right:before{
        top: 0;
        margin-top: -31px;
        left: 50%;
        margin-left: -5px;
        width: 10px;
        height: 25px;
        background-image: url(../images/features/middle-top.png);
    }
    
    ul.feature-two.right li:after{
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -5px;
        top: 0;
        margin-top: 8px;
        width: 11px;
        height: 41px;
        background-image: url(../images/features/arrow-down.png);
    }
    
    .feature-three:after{
        width: 140px;
        height: 19px;
        right: -70px;
        top: 45px;
    }
    
    .wrap-post{
        display: table;
        margin: auto;
        width: 587px;
    }
    
    ul.list-author{
        width: 500px;
        padding: 0 42px;
    }
    
    .wrap-price{
        display: table;
        margin: auto;
        width: 600px;
    }
    
    .wrap-price .table-price:last-child{
        margin-bottom: 9px;
    }
    
    footer .main-footer .footer-item{
        margin-bottom: 50px;
    }
    
    footer .main-footer .footer-item:last-child{
        margin-bottom: 0px;
    }  
	.aside-navbar{
		margin-bottom:60px;
	}
	.blog-post{
		float:left;
		width:100%;
		margin-top:40px;
	}
	.blog-post .col-md-6.col-sm-6{
		margin-top:30px;
	}
	.meta-column{
		width:100px;
		margin-bottom:30px;
	}
	.grid-padding{
		padding-bottom:90px;
	}
	.player{
		margin-bottom:40px;
	}
}
@media (max-width: 767px) {	
    body{
        padding-top: 127px;
    } 
	.home-container{
		background-size:cover;
		padding-top: 100px;
		padding-bottom: 230px;
	}
    .mainmenu ul.nav.navbar-nav{
        padding: 0;
        margin: 0;
    }
    
    .mainmenu ul.nav.navbar-nav > li > a{
        border-bottom: solid 1px #cfcfcf;
        padding: 15px 10px;
    }
    
    .ribbon{
        display: none;
    }
    
    .submenu{
        text-align: right;
    }
    
    .submenu .nav.navbar-nav{
        display: inline-block;
        position: relative;
        margin-right: -8px;
    }
    
    .submenu .nav.navbar-nav:before{
        display: none;
    }
    
    .submenu .nav.navbar-nav li{
        display: block;
        float: left;
    }

    img.logo{
        margin-top: 0px;
        margin-left: 12px;
    }

    nav.navbar.nav-fixed img.logo{
        margin-top: 0px;
    }
}

@media (max-width: 640px) {
    body{
        padding-top: 127px;
    } 
	.home-container{
		background-size:cover;
		padding-top: 100px;
		padding-bottom: 230px;
	}
    .mainmenu ul.nav.navbar-nav{
        padding: 0;
        margin: 0;
    }
    
    .mainmenu ul.nav.navbar-nav > li > a{
        border-bottom: solid 1px #cfcfcf;
        padding: 15px 10px;
    }
    
    .ribbon{
        display: none;
    }
    
    .submenu{
        text-align: right;
    }
    
    .submenu .nav.navbar-nav{
        display: inline-block;
        position: relative;
        margin-right: -8px;
    }
    
    .submenu .nav.navbar-nav:before{
        display: none;
    }
    
    .submenu .nav.navbar-nav li{
        display: block;
        float: left;
    }

    .submenu .nav.navbar-nav li.sub-link{
        display: none;
    }  
    
    img.logo{
        margin-top: 0px;
        margin-left: 12px;
    }

    nav.navbar.nav-fixed img.logo{
        margin-top: 0px;
    }
    
    .feature-three:after{
        display: none;
    }
    
    .wrap-testimonial{
        padding: 0 50px;
    }
    
    .wrap-testimonial .owl-carousel .photo img{
        display: table;
        margin: auto;
        margin-bottom: -1px;
        float: none;
    }
    
    ul.list-author{
        width: 300px;
        padding: 0 30px;
    }
    
    img.arrow{
        display: none;
    }
    
    .wrap-testimonial blockquote.right footer,
    .wrap-testimonial blockquote footer{
        padding: 0 !important;
        text-align: left;
    }
    
    .feature-three{
        margin-bottom: 40px;
    }
    
    .feature-three:last-child{
        margin-bottom: 0px;
    }
    
    .scroll.top{
        bottom: 10px;
        right: 10px;
    }
    
    .wrap-gallery{
        display: table;
        margin: auto;
    }
    
    .wrap-post{
        width: 100%;
        margin-top: 21px;
    }
    
    .post{
        padding: 0;
        display: table;
        margin: 0 auto 20px;
    }
    
    .post .img-post,
    .post .content-post{
        padding-left: 0;
        padding-right: 0;
    }
    
    .grid-item:last-child .post{
        margin-bottom: 0px;
    }
    
    .grid-item:last-child .post .content-post{
        padding-bottom: 8px;
    }
	.aside-navbar{
		margin-bottom:60px;
	}
 	.services-column,
	.services-image{
		background:none;
		padding-bottom:10px;
	}  	
}

@media (max-width: 550px) {
	.home-container{
		background-size:cover;
		padding-top: 100px;
		padding-bottom: 230px;
	}
    .title-section .line{
        width: 280px;
        height: 1px;
    }
    
    .wrap-testimonial{
        padding: 0 20px;
    }
    
    ul.list-author{
        width: 300px;
        padding: 0 0;
    }
    
    ul.feature-two .line,
    ul.feature-two.left li:after,
    ul.feature-two.right li:after,
    ul.feature-two.left:before,
    ul.feature-two.right:before{
        display: none;
    }
    
    .wrap-feature-two{
        display: block !important;
        padding: 0 !important;
        width: 300px;
        margin: 11px auto 0;
    }
    
    ul.feature-two{
        display: block;
    }
    
    ul.feature-two li{
        float: none;
        display: block;
        width: 100%;
        padding: 0 20px !important;
        margin-bottom: 0;
    }
    
    .img-feature-two{
        position: relative;
        display: block;
        margin-top: 43px;
        margin-bottom: 32px;
    }
    
    .wrap-price{
        width: 310px;
    }
}

/*
Demo
=========================== */
.demo-panel{
	background:#ebf0f2;
	color:#fff;
	width:380px;
	display:none;
	height:auto;
	left:0;
	padding:0; 
	top:30px;
	position:fixed;
	_position:absolute;
	z-index:99999;
	border-left:none;
}
	
.demo-panel h6{
	text-align:center;
	margin-bottom:10px;
	padding:13px 0 13px 0;
	text-transform:uppercase;
	color:#fff;
	background:#76c2af;
}

a.openpanel{ 
	_background-image:none; 
	background:#76c2af; 
	padding:5px 8px 3px 5px;
	border-left:none;
	border-radius:0 2px 2px 0;
	color:#fff;
	display:block;
	left:0;
	text-align:center;
	font-size:24px;
	top:30px;
	z-index:99999; 
	position:fixed;
	_position:absolute; 
	border-left:none;
}

a.openpanel{
	text-decoration:none;
}
		
a.active.openpanel{ 
	border-left:none;
	_position:absolute; 
	left:380px;
}

a.openpanel:hover,
a.openpanel:focus,
a.openpanel:active{
	outline:none;
}

.stylechanger, .layout, .bgchanger{ 
	width:100%;
	float:left;
	list-style:none; 
	list-style-type:none; 
	list-style-position:outside; 
	margin:0;
}

.stylechanger{
	margin:10px;
	padding:0;
}

.stylechanger li, .bgchanger li{
	list-style:none; 
	float:left;
	width:61.5px;
	height:auto;
	margin:0 5px 10px 5px;
	background:#fd0000;
}

.stylechanger li a, .bgchanger li a{ 
	display:block; 
	width:100%; 
	height:30px;
	outline:none;
}	

.layout{
	margin:10px;
	padding:0;
}

.layout li{
	list-style:none; 
	float:left;
	width:110px;
	height:auto;
	margin:0 5px 10px 5px;
	text-align:center;
}

.btn-demo{
	display:block;
	text-align:center;
	font-weight:400;
	font-size:12px;
	padding:8px 15px;
}

.layout li.full{
	width:92%;
}

#color1 { background: #c75b5b; }
#color2 { background: #b67c4c; }
#color3 { background: #a66991; }
#color4 { background: #70aaca; }
#color5 { background: #66b3a0; }

.demo-header{
	float:left;
	width:100%;
    background-color: #4e5c72;
    color: #c3c7ce;
	padding:60px 0 50px 0;
}

.demo-header h4{
	margin-top:20px;
    color: #c3c7ce;
}

.demo-wrapper{
	float:left;
	width:100%;
}

.demo-column{
	float:left;
	width:50%;
	padding:80px 60px;
	text-align:center;
}

.demo-column h4{
	margin-bottom:30px;
}

.demo-column .img-demo{
	display:inline-block;
	max-width:100%;
	margin-bottom:20px;
}

@media (max-width: 640px) {
	.demo-column{
		width:100%;
	}
}