/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Jul, 2017, 8:15:53 PM
    Author     : MaYaNk
*/

/*====================== BASIC ELEMENTS ======================*/
body{
}
a,a:hover{
    text-decoration: none;
}
a,li,div,p,section{
    color: #4d4d4d;
    font: 400 1.5rem/3.4rem Poppins;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    word-break: break-word;
}
li{
    line-height: 3.2rem;
}
a{
    color: #EF3C6A;
}
strong a{
    font-weight: 700;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin: 1em 0;
}
p{
    margin-bottom: 15px;
}
h1{
    font-size:1.846em;
}
h2{
    font-size:1.571em;
}
h3{
    font-size:1.286em
}
h4{
    font-size:1.143em
}
h5{
    font-size:1.000em
}
h6{
    font-size:0.857em
}
table{
    margin-bottom: 20px;
}
dt {
    margin-top: 15px;
    margin-bottom: 4px;
}
dt,th{
    font-weight: 600;
}
ul,ol{
    padding-left: 30px;
}
th,td{
    padding: 5px;
    border: 1px solid #ccc;
}
th a{
    font-weight: bold;
    font-size: 14px;
}
button, input[type="button"], input[type="submit"] {
    background: #333;
    border: transparent;
    color: #fff;
    display: block;
    font-weight: 600;
    outline: none;
    padding: 0.8em 1em;
    position: relative;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1.5px;
    cursor: pointer;
    -webkit-appearance: none;
    font-family: inherit;
    display: block;
    transition: all 0.15s;
    -moz-transition: all 0.15s;
    -webkit-transition: all 0.15s;
}
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="url"], 
input[type="tel"], 
textarea{
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    color: inherit;
    display: block;
    margin: 0;
    max-width: 100%;
    padding: 0.75em;
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-appearance: none;
    box-shadow: none;
    line-height: 1;
    box-shadow: none;
}
figure,img{
    max-width: 100%;
    height: auto;
}
iframe{
    max-width: 100%;
}

/*====================== CLEAR FLOATED ELEMENTS ======================*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
    zoom: 1;
}

/*====================== HEADER STYLES ======================*/

.outer-header{
    background:url(../images/opencampus-home-background.jpg);
}
header {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul {
    padding: 0;
    margin: 0;
}
header ul li{
    list-style: none;
    display:inline;
}
header ul li a{
    color: #fff;
    font-weight: 500;
    padding: 0 10px;
}
header .navbar{
    margin-bottom: 0;
    min-height: initial;
    text-align: right;
}
header .login-signup{
    text-align: right;
}
header .login-signup li a{
    padding: 6px 14px;
    border: 2px solid #fff;
    color: #fff;
}

/*====================== JUMBOTRON STYLES ======================*/

.jumbotron{
    background: none;
    text-align: center;
}
.jumbotron h1{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.jumbotron p{
    color: #fff;
    font-weight: 500;
    margin: 0;
}
.jumbotron p:last-child{
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    border: 2px solid #fff;
    display: inline-block;
    line-height: initial;
    padding: 6px 8px 3px;
}

/*====================== TOP CATEGORIES STYLES ======================*/

.top-categories,
.popular-jobs,
.latest-jobs,
.jobs-by-location{
    text-align: center;
    padding: 30px 0;
}
.top-categories ul{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-bottom: none;
    align-items: center;
    padding: 0;
}
.top-categories ul li{
    width: 25%;
    list-style: none;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 25px;
}
.top-categories ul li a{
    color: #535353;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding-top: 15px;
    margin-top: 20px;
    display: block;
}
.top-categories ul li a:before{
    content: '';
    /* height: 2px; */
    border-bottom: 2px solid #e0e0e0;
    position: absolute;
    width: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
}
.top-categories ul li img{
    max-width: 50px;
    display: block;
    margin: 0 auto;
}

/*====================== POPULAR JOB STYLES ======================*/

.popular-jobs{
    background: #f8f8f8;
}
.popular-jobs .popular-job{
    border: 1px solid #dbdbdb;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    text-align: left;
    margin-bottom: 15px;
}
.popular-jobs .popular-job-wrap .col-md-6:nth-of-type(2n-1){
    padding-right: 0;
}
.latest-jobs .latest-job img,
.popular-jobs .popular-job img{
    max-height: 40px;
}
.latest-jobs .latest-job h4,
.popular-jobs .popular-job h4{
    margin: 0;
    font-size: 14px;
}
.latest-jobs .latest-job ul,
.popular-jobs .popular-job ul{
    padding: 0;
    margin: 0;
    line-height: initial;
}
.latest-jobs .latest-job li,
.popular-jobs .popular-job li{
    list-style: none;
    display: inline;
    line-height: initial;
    font-size: 12px;
    font-weight: 500;
    color: #929292;
    padding-right: 15px;
}
.latest-jobs .latest-job li i,
.popular-jobs .popular-job li i{
    padding-right: 7px;
}

/*====================== UPLOAD RESUME STYLES ======================*/

.upload-resume-newsletter .sidebar{
    padding: 30px;
    background: #fff;
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.upload-resume-newsletter .sidebar h5{
    font-size: 14px;
    text-align: center;
}
.upload-resume-newsletter .sidebar .upload-resume {
    padding-bottom: 10px;
    margin-bottom: 35px;
    border-bottom: 1px solid #e0e0e0;
}
.upload-resume-newsletter .sidebar .upload-resume a{
    display: block;
    background: #333;
    color: #fff;
    line-height: initial;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}
.upload-resume-newsletter .sidebar .upload-resume a.already-registered{
    font-size: 12px;
    color: #888;
    background: transparent;
    padding: 0;
    font-weight: 600;
    text-align: left;
}
.upload-resume-newsletter .sidebar .newsletter span,
.upload-resume-newsletter .sidebar .upload-resume span{
    font-size: 12px;
    color: #888;
}
.upload-resume-newsletter .sidebar .newsletter input[type="email"]{
    padding: 7px 12px;
    font-size: 12px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
.upload-resume-newsletter .sidebar .newsletter .subscribe{
    text-align: center;
}
.upload-resume-newsletter .sidebar .newsletter a.subscribe-now{
    font-size: 12px;
    color: #fff;
    background: #5bbc2e;
    padding: 8px 12px;
    margin-top: 10px;
}

/*====================== JOBS BY LOCATION STYLES ======================*/

.jobs-by-location{
    background: #fff;
}
.jobs-by-location .job-by-location{
    position: relative;
    margin-bottom: 10px;
}
.jobs-by-location .job-by-location-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jobs-by-location .job-by-location-content a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.jobs-by-location .job-by-location-image{

}
.jobs-by-location .job-by-location-image a{
    /*width: 100%;*/
    position: relative;
    display: inline-flex;
}
.jobs-by-location .job-by-location-image a:before{
    content: '';
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/*====================== CREATE JOB ALERT STYLES ======================*/

.create-job-alert{
    background: #2c2c2c;
    padding: 25px 0;
}
.create-job-alert p,
.create-job-alert a{
    color: #fff;
    margin: 0;
    line-height: initial;
}
.create-job-alert p{
    font-size: 24px;
}
.create-job-alert a{
    padding: 15px;
    background: #fff;
    color: #2c2c2c;
}

/*====================== JOB STATISTICS STYLES ======================*/

.latest-jobs .latest-job {
    display: flex;
    background: #fff;
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}
.latest-jobs .latest-job .min-ago{
    display: block;
    line-height: initial;
}

/*====================== JOB STATISTICS STYLES ======================*/

.statistics{
    padding: 80px;
    text-align: center;
    background:url(../images/opencampus-home-background.jpg);
}
.statistics div,
.statistics span{
    color: #fff;
}
.statistics .user-in-numbers{
    font-size: 18px;
    font-weight: 600;
}