

.section-company
{
        padding: 45px 0px;
}
.section-company-bg
{
    background-image: url('/assets/img/company-profile-bg.png');
    color: #fff;
}
.section-company .company-logo
{
    padding: 12px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}
.section-company .company-social
{
   margin-top: 30px;
}
.section-company .company-social ul
{
   list-style: none;
   font-size: 12px;
}
.section-company .company-social ul li
{
   padding: 8px 0px;
}
.section-company .company-social ul li .icon
{
        background-color: blue;
    padding: 5px 8px;
    border-radius: 50%;
    margin-right: 20px;
}
.section-company .company-social ul li a
{
   color: #fff;
}
.section-company .company-info
{
   padding: 0px 10px;
}
.section-company .company-info .category
{
   font-size: 16px;
}
.section-company .company-info .title
{
   font-size: 23px;
   margin: 0px;
}
.section-company .company-info .category
{
   font-size: 16px;
}
.section-company .company-info .address
{
   font-size: 14px;
}
.section-company .company-info .address .fa
{
   color: #deff00;
}
.section-company .company-info .btn-section
{
   margin: 30px 0px;
}
.section-company .company-info .btn-section a
{

    margin-right: 10px;
}

.section-company .company-info .btn-section .btn-follow
{
   border: 1px #fff solid;
    padding: 10px 25px;
    color: #fff;
    white-space: nowrap;
}
.section-company .company-info .btn-section .btn-applyjob
{
  border: 1px #80bb03 solid;
    padding: 10px 25px;
    color: #fff;
    background-color: #80bb03;
    white-space: nowrap;
}
.section-company .company-info .btn-section .fa
{

    color: #80bb03;
}
.section-company .company-stats
{
 text-align: center;
}
.section-company .company-stats .stats-border
{
 border-right: 1px #fff solid;
}
.section-company .company-stats span
{
font-size: 13px;
}
.section-company .company-stats h1
{
font-size: 30px;
}
.section-company .company-designation
{
 margin-top: 30px;
}
.section-company .company-designation .designation span
{
    font-size: 12px;
    padding: 5px 15px;
    margin: 10px;
    background-color: #fff;
    color: #000;
    display: inline-block;
    border-radius: 3px;
    position: relative;
}
.section-company .company-designation .designation .mybadge
{
    background-color: #80bb03;
    position: absolute;
    right: -20px;
    bottom: 10px;
    padding: 0 5px;
    color: #fff;
}
.section-company .company-designation .designation .more
{
    background-color: #0ba5c7;
    color: white;
    font-size: 17px;
}

