

.home-slider-bg
{
    background-image: url('/assets/img/home-bg.png');
    height: 520px;
    color: #fff;
}

.search-container
{
    background-color: rgba(189,189,188,0.32941176470588235);
}

.search-controls
{
    padding: 15px 30px;
}

    .search-controls input
    {
        width: 100%;
        height: 45px;
    }

.search-category, .search-jobtitle, .search-location
{
    padding: 0px;
}

.search-btn
{
    display: flex;
}

    .search-btn span
    {
        display: inline-flex;
        align-items: center;
        background-color: #fff;
        padding: 0px 20px 0px 20px;
        color: #000;
        height: 45px;
    }

.slider-social-bar
{
    margin-top: 60px;
}

.btn-white-transparant
{
    border: 1px #fff solid;
    border-radius: 0px;
    color: #fff;
}

.btn-white-transparant:hover
{

text-decoration: none;
    background-color: #80bb03;
    border: 1px #fff solid;
    color: white;
    border-radius: initial;

}

.section-category
{
    text-align: center;
    padding: 30px 0px;
}

.section-popular-jobs
{
    padding: 30px 0px;
}

    .section-popular-jobs h2
    {
        text-align: center;
    }

.list-category-home
{
    border-top: 1px solid #ddd;
}

    .list-category-home img
    {
        padding: 25px;
    }


.jobs-by-category ul
{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-bottom: none;
    align-items: center;
    padding: 0;
}

    .jobs-by-category ul li
    {
        flex-basis: 25%;
        list-style: none;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        padding: 25px;
    }

        .jobs-by-category ul li a
        {
            color: #535353;
            text-transform: uppercase;
            font-weight: 500;
            position: relative;
            padding-top: 15px;
            margin-top: 20px;
            display: block;
        }

            .jobs-by-category ul li a:before
            {
                content: '';
                /* height: 2px; */
                border-bottom: 2px solid #e0e0e0;
                position: absolute;
                width: 80px;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 0;
            }

.list-category-home ul li span
{
    display: block;
}

.section-popular-jobs
{
    background-color: #f8f8f8;
}

.list-popular-jobs
{
    background-color: #fff;
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.joblist-company-icon
{
    display: inline-block;
    padding: 12px;
    float: left;
}

    .joblist-company-icon img
    {
        vertical-align: baseline;
    }

.joblist-content
{
    display: inline-block;
    padding: 12px;
}

    .joblist-content span
    {
        font-size: 12px;
        color: rgb(146,146,146);
        padding-right: 12px;
    }

        .joblist-content span i
        {
            color: #80bb03;
        }

.sidebar-upload-resume
{
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.btn-uploadresume
{
    background-color: #000;
    color: #fff;
    padding: 15px;
    display: block;
    margin: 0 25px;
}

.sidebar-upload-resume .upload-size
{
    font-size: 12px;
    color: #888888;
    padding: 10px;
}

.sidebar-upload-resume .upload-signup-link
{
    font-size: 12px;
    color: #888888;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px #e0e0e0 solid;
}

.jobs-viewmore
{
    padding: 30px;
    text-align: center;
}

.jobs-by-location .location-item-inner
{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 5px #ddd;
    padding: 10px;
}

    .jobs-by-location .location-item-inner img
    {
        margin-right: 15px;
    }

.location-item
{
    margin-bottom: 10px;
}

.jobs-by-location .location-item a
{
    font-size: 16px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}

.jobs-by-location .location-item p a
{
    font-size: 12px;
    /*border: 1px #80bb03 solid;*/
    color: #80bb03;
}

.jobs-by-location .location-item p
{
    margin: 0px;
}

.section-location h2
{
    text-align: center;
}

.section-job-alert
{
    padding: 30px 0px;
}

.job-alert-bg
{
    background-color: #000;
}

.section-job-alert h2
{
    color: #fff;
    font-size: 22px;
    padding: 20px;
    text-align: center;
}

.section-job-alert .btn-job-alert
{
    background-color: #fff;
    color: #000;
    padding: 8px 22px;
    font-weight: 600;
        white-space: nowrap;
}

.list-latest-job
{
    background-color: #fff;
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 15px;
}

    .list-latest-job .job-tile
    {
        display: block;
        font-weight: 600;
    }

    .list-latest-job .job-location
    {
        font-size: 12px;
        color: rgb(146, 146, 146);
        padding-right: 12px;
    }

    .list-latest-job .job-type
    {
        background-color: #929292;
        color: #fff;
        display: block;
        text-align: center;
        width: 90px;
    }

    .list-latest-job .job-button
    {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .list-latest-job .btn-view-more
    {
        border: 1px #80bb03 solid;
        padding: 5px 15px;
        color: #80bb03;
    }

    .list-latest-job .job-company
    {
        display: flex;
        align-items: center;
    }

.sidebar-feature-job
{
    background-color: #fff;
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

    .sidebar-feature-job .job-ribbon
    {
        width: 100px;
        height: 100px;
        background-color: #87bf42;
        transform: rotate(-45deg);
        margin-left: -50px;
        margin-top: -50px;
    }

        .sidebar-feature-job .job-ribbon .fa
        {
            transform: rotate(45deg);
            font-size: 16px;
            margin-top: 75px;
            color: #fff;
        }

    .sidebar-feature-job .feature-job-content
    {
        padding: 25px;
        text-align:left;
    }

        .sidebar-feature-job img
        {
            width: 25px;
    height: 25px;
    border-radius: 50%;
        }
        .sidebar-feature-job .title
        {
            font-weight:600;
        }

.featured-company-info .emp-pic
{
    padding-right:10px;

}
.featured-company-info .rating
{
   float: right;
    color: #87bf42;
}
.featured-company-info .job-description
{
  padding: 15px 0px;
    color: #929292;
    font-size: 15px;
}
.featured-company-info .salary-info
{

  color: #929292;
      padding-bottom: 20px;
    border-bottom: 1px #ccc solid;
}
.featured-company-info .salary-info span
{
  float:right;
}

.featured-company-info .view-more
{
  margin-top: 10px;
    margin-bottom: 10px;
  float:right;

}
.featured-company-info .view-more a
{
 border: 2px #80bb03 solid;
    border-radius: 0px;
    background-color: #80bb03;
    color: #fff !important;
}



