

.section-search
{
        padding-bottom: 45px;
}
.section-search-bg
{
    background-image: url('/assets/img/home-bg.png');
    color: #fff;
}
.section-search ul.job-breadcrumb
{
    margin: 30px 0;
    display: inline-flex;
    list-style-type: none;
}
.section-search ul.job-breadcrumb span
{
      margin:0px 5px 0px 5px;
}
.section-search input
{
    width:100%;
      height:45px;
      border: none;
}
.section-search input::-webkit-input-placeholder
{
   text-indent:20px;
}
.section-search .search-control
{
   display:flex;
}
.section-search .search-category, .search-jobtitle
{
   padding:0px;
}
.section-search .btn-search
{
    background-color: #fff;
    height: 45px;
    border: none;
    width: 110px;
    cursor:pointer;
}

.section-search .btn-upload-resume
{    color: #fff;
    background-color: #80bb03;
    height: 45px;
    padding: 12px;
    display: inline-block;
    width: 200px;
    border-radius: 5px;
    text-align: center;
}

.section-content
{
    padding:30px 0px;
}
.section-content-bg
{
    background-color:#f4f7fa;
}
.section-content-result
{
    background-color:#fff;

}
.section-content .job-company
{
    display:flex;
}
.section-content .img-company
{
    display:inline-block;
}
.section-content .rating-review
{
    display: inline-block;
    margin-left: 15px;
}
.section-content .rating-review span
{
    font-size:12px;
}

.search-category-inner
{
        display: flex;
    align-items: center;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.section-content .rating-review .fa
{
    color:#80bb03;
}
.search-category-inner .fa
{
    color:#80bb03;
}
.search-category-inner input:focus
{
    outline: 0;
}
.section-content-result
{
    padding: 30px 15px;
    box-shadow:0 0 5px rgba(138, 138, 138, 0.49);
}
.section-content-result .salary-info
{
    font-size:14px;
    color:#000;
    font-weight:600;
    padding:30px 0px;
}
.section-content-result .salary-info span
{
    font-weight:normal;
    float:right;
}
.section-content-result .salary-info-inner
{
   padding: 10px 0px;
    border-top: 1px #cec8c8 solid;
}
.section-content-result .job-detail
{
        display: flex;
align-items: center;
    font-size: 13px;
    font-weight: 600;
}
.section-content-result .job-detail a
{
        border: 1px #80bb03 solid;
    padding: 5px 15px;
    color: #80bb03;
        white-space: nowrap;
}
.section-content-result .job-detail .username
{
    color: #80bb03;
}
.section-content-result .job-detail .user
{
    color: #848484;
}
.section-content-result .job-detail .time
{
    color: #848484;
}
.section-content-result .job-description
{
        padding: 30px 15px;
}
.section-content-result .job-description .title
{
    font-size: 16px;
    font-weight: bold;
}
.section-content-result .job-description .description
{
     margin: 15px 0px;
    font-size: 15px;
    line-height: 20px;
}
.section-content-result .job-description .skills
{
    font-size: 12px;
}
.section-content-result .job-description .skills span
{
    padding: 5px;
    margin: 5px;
    background-color: #e0e0e0;
    display:inline-block;
}
.section-content-result hr
{
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 1px solid #e0e0e0;
}
.section-content .sidebar .sidebar-title
{
    font-size:16px;
    color:#80bb03;
    font-weight:bold;
}
.section-content .search-container
{
   padding:5px;
}
.section-content .search-container .title-inner
{
  font-size:13px;
      font-weight: bold;
}
.section-content .search-container .item-container
{
  font-size:13px;
}
.section-content .search-container .item-container .item
{
  white-space: nowrap;
}
.section-content .search-container .item-container .item-experience
{
  padding-right:100px;
}
.section-content .search-container .item-container .item-experience select
{
 box-shadow: none;
    font-size: 14px;
    height: 34px;
}


/*------ Page Job Sheeker Search Page ------ */
.section-jobseeker-result
{
padding:30px 0px;
}
.section-jobseeker-result .user
 {
box-shadow: 0 0 32px rgba(0,0,0,0.15);
padding: 15px;
    background-color: #fff;
        margin-bottom: 30px;
}
.section-jobseeker-result .user .job-type .label-jobtype
 {
    font-size: 10px;
    padding: 5px 10px;
    background-color: #008b9f;
    color: #fff;
}
.section-jobseeker-result .user .user-img
 {
    display: flex;
    justify-content: center;
}
.section-jobseeker-result .user .user-img img
 {

    max-width: 100%;
    height: auto;
}
.section-jobseeker-result .user .user-img .rounded-circle
 {
border: 2px #008b9f solid;
}
.section-jobseeker-result .user .title
 {
    margin: 15px 0px;
}
.section-jobseeker-result .user .title .name
 {
    display: block;
font-weight: 600;
font-size: 16px;
    text-align: center;

}
.section-jobseeker-result .user .title .designation
 {
     display: block;
font-weight: 500;
font-size: 14px;
    text-align: center;
}
.section-jobseeker-result .user .skills
 {
font-size: 12px;
display: flex;
}
.section-jobseeker-result .user .skills span
 {
    padding: 2px 5px;
    background-color: #ededed;
    margin-right: 5px;
    border-radius: 4px;
}
.section-jobseeker-result .user .skills span.label
 {
background-color: #008b9f;
    color: #fff;
}
.section-jobseeker-result .user .other-info
 {
    font-size: 13px;
        margin: 15px 0px;
}
.section-jobseeker-result .user .other-info .salary-info
 {
padding: 8px 0px;
    border-top: 1px #cec8c8 solid;
}
.section-jobseeker-result .user .other-info .salary-info span
 {
 float: right;
}
.section-jobseeker-result .user .view
 {
 margin: 15px 0px;
 font-size: 12px;
 font-weight: 600;
     display: flex;
    justify-content: center;
}
.section-jobseeker-result .user .view .btn-view
 {
  padding: 5px 10px;
  background-color: #80bb03;
  color: #fff;
}
/*------ Page Job Sheeker Search Page ------ */

