

.section-job-detail
{
        padding: 30px 0px;
}
.job-detail-bg
{
    background-image: url('/assets/img/job-description-bg.png');
    color: #fff;
        background-position: cover;
}
.section-job-detail .header .title
{
       font-size:23px;
           display: inline-block;
}
.section-job-detail .header ul.job-breadcrumb
{
    margin: 30px 0;
    display: inline-flex;
    list-style-type: none;
}
.section-job-detail .header ul.job-breadcrumb span
{
      margin:0px 5px 0px 5px;
}
.section-job-detail .header a.btn-apply
{
   margin-left: 30px;
    padding: 10px 15px;
    border: 1px #80bb03 solid;
    color: #fff;
    background-color: #80bb03;
}
.section-content .job-description
{
margin-top: 90px;
    padding: 30px;
    box-shadow: 0.5px 0.866px 5px;
}
.section-content .job-description .heading
{
     display: flex;
    flex-wrap: wrap;
}
.section-content .job-description .heading .logo
{
 display: inline-block;
}
.section-content .job-description .heading img
{
  width: 100px;
}
.section-content .job-description .heading .title
{
    margin-left: 15px;
   display: inline-block;
    vertical-align: middle;
}
.section-content .job-description .heading .title .job-title
{
    font-size: 17px;
}
.section-content .job-description .heading .title .address
{
 font-size: 12px;
    color: #808080;
}
.section-content .job-description .heading .action-button
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.section-content .job-description .heading .action-button .btn-jobalert
{
padding: 10px 20px;
    color: #80bb03;
    background-color: #fff;
    border: 1px #80bb03 solid;
        white-space: nowrap;
}
.section-content .job-description .heading .action-button .btn-applynow
{
    padding: 10px 20px;
    color: #fff;
    background-color: #80bb03;
    border: 1px #80bb03 solid;
    margin-left: 15px;
    white-space: nowrap;
}
.section-content .job-description .description-inner h4
{
font-size: 16px;
font-weight: 600;
}
.section-content .job-description .description-inner p
{
font-size: 14px;
}
.section-content .job-description .offer-detail
{
 margin-top: 50px;
}
.section-content .job-description .offer-detail .salary-info h4
{
 font-size: 16px;
}
.section-content .job-description .offer-detail .salary-info-inner
{
 font-size: 14px;
     padding: 10px 0px;
}
.section-content .job-description .offer-detail .salary-info-inner span
{
 float: right;
}

.section-content .job-description .skill-info h4
{
 font-size: 16px;
}
.section-content .job-description .skill-info span
{
    padding: 5px;
    margin: 5px;
    background-color: #e0e0e0;
    display: inline-block;
    font-size: 12px;
}

.section-content .sidebar
{
margin-top: 90px;
    padding: 30px;
    box-shadow: 0.5px 0.866px 5px;
}
.section-content .sidebar .social .social-icon
{
display: inline-block;
}
.section-content .sidebar .social .social-icon a
{
    padding: 9px;
    color: blue;
}
.section-content .sidebar .company .heading
{
    display: flex;
}
.section-content .sidebar .company .heading .logo img
{
    width: 80px;
}
.section-content .sidebar .company .heading .logo
{
    flex-basis: 35%;
}
.section-content .sidebar .company .heading .title
{
    flex-basis: 65%;
}
.section-content .sidebar .company .heading .rating-review
{
        font-size: 12px;
    display: flex;
}
.rating-review > span {
    flex: 1 1 auto;
}
.section-content .sidebar .company .heading .rating-review .rating
{
   color:#80bb03;
}
.section-content .sidebar .company .heading .rating-review .review
{
   color:#808080;
   font-size: 14px;
}
.section-content .sidebar .company .about-company
{
    font-size: 14px;
    margin: 30px 0px;
}
.section-content .sidebar .company .contact-info
{
    font-size: 14px;
    color:#808080;
}
.section-content .sidebar .company .contact-info span
{
    display: block;
    margin: 10px 0px;
}

.section-content .job-description .job-apply
{
margin: 30px 0px;
}
.section-content .job-description .job-apply .btn-login-apply
{
    border: 1px #80bb03 solid;
    padding: 10px 20px;
    color: #80bb03;
    white-space: nowrap;
}
.section-content .job-description .job-apply .btn-register-apply
{
    border: 1px #80bb03 solid;
    padding: 10px 20px;
    color: #fff;
    white-space: nowrap;
    margin-left: 10px;
    background-color: #80bb03;
}
.section-similar-jobs
{
margin: 60px 0px;
}
.section-similar-jobs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
border-top: 2px #80bb03 solid;
}
.section-similar-jobs .nav-tabs .nav-link
{
color: #000;
}
.section-similar-jobs .nav-tabs .nav-link span
{
 font-weight: bold;
}


/* --- similar job tab css */

.list-latest-job
{
    background-color: #fff;
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.1);
    margin: 15px 0px;
    padding: 15px;
        border-left: 5px #33b5cb solid;
}

    .list-latest-job .job-tile
    {
        display: block;
        font-weight: 600;
    }

    .list-latest-job .job-location
    {
        font-size: 12px;
        color: rgb(146, 146, 146);
        padding-right: 12px;
    }

    .list-latest-job .job-type
    {
        background-color: #929292;
        color: #fff;
        display: block;
        text-align: center;
        width: 90px;
    }

    .list-latest-job .job-button
    {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .list-latest-job .btn-view-more
    {
        border: 1px #80bb03 solid;
        padding: 5px 15px;
        color: #80bb03;
    }

    .list-latest-job .job-company
    {
        display: flex;
        align-items: center;
    }
/* --- similar job tab css */
