



.section-content {
    background-color: #f5f5f5;
}

.section-container {
    box-shadow: 0.454px 0.891px 5px rgba(1,1,1,0.23);
    border: 1px solid #dcdcdc;
    margin-top:15px;
    background-color:#fff;
}

.sidebar-left .heading h6 {
    font-size: 15px;
color: rgb(68,68,68);
}

.sidebar-left .section-tab .nav-tabs {
    border-bottom:none;
}
.sidebar-left .section-tab .nav-item a.active {
    font-size:13px;
    color: rgb(55,160,0);
    border: 1px solid #379f00;
    border-radius:15px;
}
.sidebar-left .section-tab .nav-item a {
    font-size:13px;
    color: rgb(122,122,122);
}
.sidebar-left .section-tab .tab-content .heading h6{

    font-size:13px;
    color: rgb(128,122,122);
}
.tab-content .list-news {
    margin:15px 0px 15px 0px;
}
.tab-content .list {
   box-shadow: 0.5px 0.866px 5px rgba(1,1,1,0.15);
}

.tab-content .list-news .news-content {
   border-left: 3px solid #379f00;
   display:flex;
   padding:5px 0 5px 0;   
}
.tab-content .list-news .news-content .date {
   font-size:15px;
}   
.tab-content .list-news .news-content .day {
   font-size:12px;
   color: rgb(148,148,148);
} 
.tab-content .list-news .news-content .news-title {
   font-size:13px;
   display: block;
   color: rgb(125,125,125);
}    
.tab-content .list-news .news-content .location {
   font-size:12px;
   color: rgb(172,171,171);
}  
.tab-content .list-news .news-content .time {
   font-size:12px;
   color: rgb(172,171,171);
}
.section-feed {
    
    padding: 15px;
}  
.section-feed .text-area {
display: flex;
}
.section-feed .text-area img {
 width:30px;
 height:30px;
}
.section-feed .text-area #TextAreaPost {
    width: 100%;
    min-height:50px;
    border: 0px;
    margin-left: 5px;
}
.section-feed .text-area #TextAreaPost:focus {
   outline:0px !important;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

/* */
.button-feed{
    font-size: 13px;
    padding: 6px 15px;
    color: rgb(130,130,130);
    background-color: #fff;
    border: 1px solid #e5e9eb;
    border-radius: 1px;
    white-space: nowrap;
}
.button-post{
    font-size: 13px;
    padding: 10px 20px;
    color: rgb(130,130,130);
    background-color: #379f00;
    border: 1px solid #e5e9eb;
    border-radius: 1px;
    white-space: nowrap;
    color:white;
    margin-top: -8px;
}
/*---*/
.sidebar-left .featured-jobs {
    margin-top:45px;
}
.sidebar-left .featured-jobs .list-jobs {
    margin-top:15px;
    display:flex;
}
.sidebar-left .featured-jobs .emp-photo img{
    width:30px;
    height:30px;
}
.sidebar-left .featured-jobs .job-detail{
   margin-left:10px;
   width: 210px;
}
.sidebar-left .featured-jobs .job-detail span{
  display:block;
}
.sidebar-left .featured-jobs .job-detail .title{
  color: rgb(55,160,0);
  font-size:13px;
  font-weight:bold;
}
.sidebar-left .featured-jobs .job-detail .company{
  color: rgb(135,135,135);
  font-size:12px;
}
.sidebar-left .featured-jobs .job-detail .location{
  color: rgb(135,135,135);
  font-size:12px;
  display:inline;
}
.sidebar-left .featured-jobs .job-detail .experience{
  color: rgb(135,135,135);
  font-size:12px;
  display:inline;
  margin-left: 15px;
}
.sidebar-left .featured-jobs .button-apply{
 margin-top: 15px;
}
.sidebar-left .featured-jobs .btn-apply{
  color: rgb(135,135,135);
  border:1px solid rgb(135,135,135);
}
.recommend-jobs {
    margin-top:25px;
}
.sidebar-left .ribbon-1 {
    width: 30px;
    height: 65px;
    background: #379f00;
    margin-top: -49px;
    left: 25px;
}
.sidebar-left .square {
    width: 30px;
    height: 30px;
    background: #fff;
    transform: rotate(47deg);
    position: absolute;
    margin-top: 50px;
}
.sidebar-left .star {
    color:#fff;
    margin-left:8px;
}
.sidebar-left .btn-show-more-jobs {
    display: flex;
    justify-content: center;
    padding:20px 0px 20px 0px;
}
.sidebar-left .btn-show-more-jobs a {
    padding: 5px 20px 5px 20px;
    border: 1px solid #379f00;
    background-color: #379f00;
    color: #fff;
    font-size: 14px;
}
.section-news-feed {
    margin-top: 15px;
}
.section-news-feed hr {
    margin:5px 0px;
}
.section-news-feed .section-container{
   /**/padding:10px 10px;
}
.section-news-feed .section-container .feed-header{
   padding:10px 5px;
}
.section-news-feed .section-container .feed-header span{
   display:block;
}
.section-news-feed .section-container .feed-header .emp-photo, .title, .action{
   display:inline-block;
}
.section-news-feed .section-container .feed-header .action{
   float:right;
}
.section-news-feed .section-container .feed-header .action .button{
   text-align:right;
}
.section-news-feed .section-container .feed-header .action .button .dropdown-toggle::after{
   display:none;
}
.section-news-feed .section-container .feed-header .title {
   margin-left:10px;
}
.section-news-feed .section-container .feed-header .title .name{
   color: rgb(39,38,38);
   font-size:14px;
}
.section-news-feed .section-container .feed-header .title .designation{
   color: rgb(118,118,118);
   font-size:12px;
}
.section-news-feed .section-container .feed-header .time{
   color: rgb(149,149,149);
   font-size:12px;
}
.section-news-feed .section-container .feed-header img{
   vertical-align:bottom;
}
.section-news-feed .section-container .feed-content .text{
   font-size: 14px;
   color: rgb(56,56,56);
}
.section-news-feed .section-container .feed-content .photo img{
   width:100%;
   max-height:530px;
   margin: 5px 0px;
}
.section-news-feed .section-container .feed-content {
  font-size: 12px;
color: rgb(149,149,149);
}
.section-news-feed .section-container .feed-content .views {
 display:inline-block;
}
.section-news-feed .section-container .feed-content .comment-share {
 display:inline-block;
 float:right;
}
.section-news-feed .section-container .feed-footer {
    margin:15px 0px;;
}
.section-news-feed .section-container .feed-footer .feed-buttons{
    display:inline-block;
}
.section-news-feed .section-container .feed-footer .feed-buttons a {
  font-size:12px;
  color: rgb(85,85,85);
  margin-right:10px;
}
.section-news-feed .section-container .feed-footer .apply-button {
    display: inline-block;
    float: right;
}
.section-news-feed .section-container .feed-footer .apply-button a {
  font-size:12px;
  color: rgb(85,85,85);
  border: 1px solid #e5e9eb;
    border-radius: 1px;
    padding: 10px 15px;
}
.sidebar-left .featured-jobs .title {
    white-space:nowrap;
}
.section-content .section-premium {
   border-top: 5px #bcac44 solid;
}
.section-content .section-premium .btn-show-more-jobs a {
   border: 1px solid #928216;
    background-color: #928216;
}
.section-content .section-premium .featured-jobs .emp-photo img {
    width: 50px;
    height: 50px;
    border: 2px #bcac44 solid;
}
.section-content .section-premium .featured-jobs .title {
   font-size:13px;
   color: rgb(67,71,64);
}
.section-content .section-premium .featured-jobs .description {
   font-size:12px;
   color: rgb(135,135,135);
}
.section-news-feed .section-feed-comment {
    border:1px #dcdcdc solid;
    background-color: #f3f5f7;
    box-shadow: 0.454px 0.891px 5px rgba(1,1,1,0.23);
}
.section-news-feed .section-feed-comment .comment-box {
        padding: 10px 10px;
}
.section-news-feed .section-feed-comment .comment-box a.view-more-comment {
  font-size: 11px;
color: rgb(118,118,118);
}
.section-news-feed .section-feed-comment .comment-box .comment-area {
  margin: 15px 0px;
}
.section-news-feed .section-feed-comment .comment-box .comment-single{
   display:flex;
   margin-bottom:10px;
}
.section-news-feed .section-feed-comment .comment-box .reply{
   margin-left:30px;
}
.section-news-feed .section-feed-comment .comment-box .comment-single .title{
  margin-left:10px;
}
.section-news-feed .section-feed-comment .comment-box .comment-single .title a{
  display:block;
  font-size:12px;
  color: rgb(139,139,139);
}
.section-news-feed .section-feed-comment .comment-box .comment-single img{
   width:25px;
   height:25px;
}
.section-news-feed .section-feed-comment .comment-box .comment-single .name{
   font-size:12px;
   color: rgb(74,74,74);
   display:block;
}
.section-news-feed .section-feed-comment .comment-box .comment-single .designation{
   font-size:11px;
   color: rgb(139,139,139);
}


