.btn-link-1,
.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff
}
::-moz-selection {
    background: #19b9e7;
    color: #fff;
    text-shadow: none
}
::selection {
    background: #19b9e7;
    color: #fff;
    text-shadow: none
}
.btn-link-1 {
    padding: 16px 20px 0;
    background: #19b9e7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}
.btn-link-1:active,
.btn-link-1:focus,
.btn-link-1:hover {
    outline: 0;
    opacity: .6;
    color: #fff
}
.btn-link-2 {
    padding: 15px 20px 0;
    background: rgba(0, 0, 0, .3);
    border: 1px solid #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}
.btn-link-2:active,
.btn-link-2:active:focus,
.btn-link-2:focus,
.btn-link-2:hover {
    outline: 0;
    opacity: .6;
    background: rgba(0, 0, 0, .3);
    color: #fff
}
.inner-bg {
    padding: 40px 0 170px
}
.top-content .text,
.top-content .text h1 {
    color: #fff
}
.top-content .description {
    margin: 20px 0 10px
}
.top-content .description p {
    opacity: .8
}
.top-content .description a {
    color: #fff
}
.top-content .description a:focus,
.top-content .description a:hover {
    border-bottom: 1px dotted #fff
}
.top-content .top-big-link {
    margin-top: 35px
}
.form-box {
    padding-top: 40px
}
.form-top {
    overflow: hidden;
    padding: 0 25px 15px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left
}
.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px
}
.form-top-left h3 {
    margin-top: 0
}
.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right
}
.form-bottom {
    padding: 25px 25px 30px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left
}
form .form-bottom textarea {
    height: 100px
}
form .form-bottom button.btn {
    min-width: 105px
}
form .form-bottom .input-error {
    border-color: tomato
}
form.registration-form fieldset {
    display: none
}

.service-item {
	margin-bottom:20px;	
}
.service-item a{
	border-radius:4px;
	
}

