<div><table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align:left">
  <tbody><tr>
    <td width="600" height="83" valign="bottom" background="" bgcolor="#80bb03"><table width="592" border="0" align="left" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td width="375" height="61" valign="top" style="font-family:Verdana,Arial;font-size:21px;color:#ffffff">&nbsp; &nbsp;Open Campus Password</td>
          <td width="214" align="center" valign="middle" background="" bgcolor="#FDFDFD"><table width="175" border="0" align="center" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td width="24"><a rel="nofollow" href="" alt="" width="22" height="27" border="0" class="CToWUd"></a></td>
                <td><img src="http://www.opencampus.in/images/logo-opencampus.png"  vspace="0" hspace="0" ><a rel="nofollow" href="" style="text-decoration:none" target="_blank" data-saferedirecturl=""><strong><span style="font-size:24px;color:#01abef"><span style="color:#ec1822"></span><span style="color:#006cb7"></span></span></strong></a><br>
                  <a rel="nofollow" href="" style="text-decoration:none" target="_blank" data-saferedirecturl=""><span style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;color:#3d3d3d"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></a></td>
              </tr>
            </tbody></table></td>
        </tr>
      </tbody></table></td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td style="font-family:Verdana,Arial;font-size:11px;padding:0px 0px 0px 10px;color:#727171;line-height:19px"><strong>Dear $$UserName$$,</strong><br>
      Your Password&nbsp; for your <a href="#" data-saferedirecturl="">opencampus</a> profile is <strong>$$Password$$</strong><br>
      Please enter this Password to Login in your Account and Change your Password.
      </td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td height="25"></td>
  </tr>
  <tr>
    <td style="padding:0px 0px 0px 10px">
        <table width="580" border="0" align="left" cellpadding="0" cellspacing="0" style="font-family:Verdana,Arial;font-size:11px;color:#545454;text-align:left;line-height:17px">
        <tbody><tr>
          <td colspan="2" style="font-family:Verdana,Arial;font-size:11px;color:#545454"><span style="color:#000000"><strong>Note</strong>:</span> Please note that this will be valid for the next 2 hours only.<br>Contact:<a rel="nofollow" href="mailto:info@opencampus.in" style="font-family:Verdana,Arial;font-size:11px;color:#005fa8">info@opencampus.in</a> if you are unable to reset.</td>
        </tr>
      </tbody></table></td>
  </tr>
  <tr>
    <td height="25"></td>
  </tr>
  <tr>
    <td style="font-family:Verdana,Arial;font-size:11px;color:#444444;line-height:16px;text-align:left">Regards, <br>
      <strong><span style="color:#80bb03">OpenCampus</span><span style="color:#80bb03">.</span><span style="color:#80bb03">in</span></strong> Team</td>
  </tr>
  <tr>
    <td style="padding:25px 0px 15px 0px">
    </td>
  </tr>
  <tr>
    <td align="center" style="font-family:Verdana,Arial;font-size:11px;color:#dddddd">&nbsp;<a rel="nofollow" href="mailto:info@opencampus.in" style="color:#006eb3;text-decoration:underline" target="_blank" data-saferedirecturl="">Report a problem</a></td>
  </tr>
  <tr>
    <td height="15"></td>
  </tr>
  <tr>
    <td align="center" valign="top" style="font-family:Verdana,Arial;font-size:10px;color:#9d9d9d">This is a Computer-generated email, please do not reply to this message.</td>
  </tr>
</tbody></table><div class="yj6qo"></div><div class="adL">
</div></div>